.nav {
  .nav-item {
    .nav-link {
      font-size: 19px;
      font-weight: 200;
      padding: 8px 12px;
      line-height: 18px;
    }

    .nav-link:not(.disabled) {
      @include theme-element(color, selected);

      &:not(.active):hover {
        @include theme-element(color, selected);
        background-color: #eeeeee;
      }

      &.active {
        @include theme-element(background-color, selected);
        color: $white;
      }
    }

    .nav-link.disabled {
      color: #777777;
    }

    + .nav-item {
      margin-left: 3px;
    }
  }

  &.nav-tabs {
    @include theme-element(border-bottom-color, selected);
    border-bottom: 2px solid;
    padding-left: 20px;

    .nav-item {
      margin-bottom: 0;

      .nav-link {
        border: 0;
      }
    }
  }
}

.nav-pills-wrapper {
  @include clearfix();
}
