$fonts: get-fonts();

@mixin fontextra-element($size) {
  $element: &;
  @each $name, $font in $fonts {
    @at-root {
      .font-#{$name} {
        #{$element} {
          font-family: map-get($font, 'font');
          font-size: map-get($font, 'size') * $size;
        }
      }
    }
  }
}