.global-footer {
  background-color: #171717;
  color: #ffffff;
  padding: 20px 0;
  
  [class*='col-']:not(:last-of-type) {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAADCAYAAABS3WWCAAAAFElEQVQIW2P8//9/PSMDAwMDmAAALHsDgGM05VYAAAAASUVORK5CYII=);
    background-position-x: 100%;
    background-position-y: 0px;
    background-repeat-y: repeat;
    background-repeat-x: no-repeat;
  }
  
  h3 {
    font-size: 1.16rem;
  }
  
  a {
    color: #ffffff;
    @include hover-focus {
      text-decoration: none;
    }
  }
}
