.navbar-global-header {
  background-color:black;
  padding: 0;
  
  .navbar-brand {
    color: $navbar-dark-active-color;
    
    padding: 15px;
    

    @include hover-focus {
      color: $navbar-dark-active-color;
    }
  }

  .navbar-nav {
  
  
    .nav-item {
    
      &:first-child {
        border-left: 1px solid #2e2e2e;
      }
    
      border-right: 1px solid #2e2e2e;
      margin-left: 0;
      font-size: 0.85rem;
      
      @include hover-focus {
        background-color:#171717;
        border-left: 1px solid #737373;
        border-right: 1px solid #737373;
        &:not(:first-child) {
          margin-left: -1px;
        }
      }
    }
        
  
    .nav-link {
      font-weight: 600;
      color: #ffffff;
      padding: 25px 20px;
      @include hover-focus {
        color: #5a5a5a;
      }
      
      &[aria-expanded="true"] {
        background-color: #171717;
        margin-bottom: -1px;
        padding-bottom: 26px;
      }
    }

    .open > .nav-link,
    .active > .nav-link,
    .nav-link.open,
    .nav-link.active {
      @include plain-hover-focus {
        color: $navbar-dark-active-color;
      }
    }
  }

  .navbar-divider {
    background-color: rgba(255,255,255,.075);
  }
}

.global-header-drawer {
  background-color: #171717;
  color: #ffffff;
  border-top: 1px solid #3f3f3f;
  font-size: 0.85rem;
  .container {
    border-right: 1px solid #323232;
  }
  
  .row {
    
    [class*='col-'] {
      padding-right: 0;
      padding-left: 0;
    }
    
    & div {
      border-left: 1px solid #323232;
    }
  
    &:first-child {
      border-bottom: 1px solid #323232;
      &> div > .list-unstyled {
        padding: 10px 20px 20px 20px;
      }
      
    }
  }
  
  .global-header-close {
    background-color: #000000;
    padding: 20px 0px 7px 12px !important;
    span:after {
      content: "×";
      font-family: $font-family-monospace;
    }
    a {
      color: #ffffff;
    }
  }
  
  
  
  div > .list-unstyled {
    padding: 0px 20px 20px 20px;
    &> li {
      padding-top:10px;
      &> a {
        font-weight: 600;
      }
    }
    
    li:before {
      @include fa-icon();
      content: $fa-var-angle-right;
    }
  }
  
  .list-unstyled {
    margin: 0;
    li, li a {
      color: #ffffff;
    }
    
    .list-unstyled {
      padding-top:15px;
      li {
        padding: 8px 0px;
      }
    }
  }
  
  .list-separated li {
    padding: 15px 0px;
    &:not(:last-child) {
      border-bottom:1px solid #323232;
    }
  }
}
