.tertiary-navigation {
  border-left: 1px solid #e4e4e4;
  border-right: 1px solid #e4e4e4;
  padding-left:0px;
  padding-right:0px;
  margin-top: -50px;
  padding-bottom: 50px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAM0lEQVQYV2NkQAM3P3/7r87LxYgsDBLDEMCmCCQGV4jLJJhGsEJCikBqGIlRBFY4nDwDAIeHT431w+WIAAAAAElFTkSuQmCC);

  .nav-pills .nav-item {
  
    font-size: 1.16rem;
    font-weight: 600;
    background-color: #fafafa;
    border-bottom: 1px solid #e4e4e4;
    margin-top: 0px !important;
    padding: 0px;
    @include hover-focus {
      background-color: #efefef;
    }
    
    .nav-link {
      color: #999999;
      padding: 16px 20px;
      
      &:after {
        @include fa-icon();
        content: $fa-var-angle-up;
        float:right;
        font-size: 1.5em;
      }
    }
  }
  
  &> .list-unstyled {
    border-bottom: 1px solid #e4e4e4;
    background-color: #ffffff;
    padding: 5px 20px;
    font-size: 1.16rem;
    &> li > a {
      font-weight:bold;
    }
    &> li > span {
      font-weight:bold;
    }
    &> li:first-child > a {
      color: #171717;
    }
    &> li:not(:first-child) {
      border-top: 1px solid #e4e4e4;
    }
    li {
      padding: 10px 0px;
    }
    .list-unstyled li {
      
      a, span {
        padding-left: 15px;
      }
      &:before {
        @include fa-icon();
        content: $fa-var-angle-right;
      }
    }
  }

}
