.page-header {
  background-color: map-get($theme, dark);
  
  p.title {
    font-size: 40px;
    @include media-breakpoint-down(md) {
      font-size:20px;
      line-height:26px;
      margin-bottom: 0;
    }
    color: #ffffff;
    font-weight: 100;
    font-family: $font-family-sans-serif-extra;
  }
  
  .breadcrumb {
  
    padding: 0;
    a {
      color: #ffffff;
      @include hover-focus {
        text-decoration: none;
      }
      .fa-home {
        color: rgba(255,255,255,0.2);
      }
    }
  }
  
  .navbar-local {
    background-color: map-get($theme, primary);
    font-family: $font-family-sans-serif-extra;
    font-size: 14px;
    padding: 0;
    
    .nav-item {
      @include hover-focus {
        background-color: map-get($theme, darker);
      }
      margin-left: 0;
      background-color: map-get($theme, primary);
      &.active {
        background-color: map-get($theme, lighter);
      }
    }
    
    .nav-link {
      color: #ffffff;
      padding: 10px 20px;
    }
    
    .dropdown-menu {
      background-color: map-get($theme, darker);
      margin-top: -1px;
      padding: 0px;
      font-size: 1em;
      a {
        border-top: 1px solid map-get($theme, dark);
        padding: 10px;
        @include hover-focus {
          background-color: map-get($theme, primary);
        }
        color: #ffffff;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    .navbar-local {
      background-color: map-get($theme, dark);
      li {
        float: none;
        background-color: map-get($theme, dark) !important;
        @include hover-focus {
          background-color: map-get($theme, primary) !important;
        }
      }
      .dropdown-menu {
        float: none;
        position: static;
      }
        
    }
    .navbar-toggler {
      background-color: map-get($theme, primary);
      border:none;
      padding: 0;
      a {
        color: #fff;
        padding: 15px 25px;
        display: block;
        font-size: 18px;
        line-height: 24px;
        font-family: $font-family-sans-serif-extra;
        @include hover-focus {
          color: #fff;
          text-decoration: none;
        }
        .mobile-menu-button {
          background-color: map-get($theme, darker);
          width: 53px;
          height: 53px;
          display: block;
          margin: -15px -25px;
          float:right;
        }
      }
    }
  }
}

