.page-header {
  background-color: map-get($theme, dark);
  
  p.title {
    font-size: 40px;
    color: #ffffff;
    font-weight: 100;
  }
  
  .breadcrumb {
  
    padding: 0;
    a {
      color: #ffffff;
      @include hover-focus {
        text-decoration: none;
      }
      .fa-home {
        color: map-get($theme, lighter);
      }
    }
  }
  
  .navbar-local {
    background-color: map-get($theme, primary);
    
    padding: 0;
    
    .nav-item {
      @include hover-focus {
        background-color: map-get($theme, darker);
      }
      margin-left: 0;
      background-color: map-get($theme, primary);
      &.active {
        background-color: map-get($theme, lighter);
      }
    }
    
    .nav-link {
      color: #ffffff;
      padding: 10px 20px;
    }
    
    .dropdown-menu {
      background-color: map-get($theme, darker);
      margin-top: -1px;
      padding: 0px;
      
      a {
        border-top: 1px solid map-get($theme, dark);
        padding: 10px;
        @include hover-focus {
          background-color: map-get($theme, primary);
        }
        color: #ffffff;
      }
    }
  }
  
}
