.nav:not(.nav-global):not(.nav-local) {
  .nav-item {
    .nav-link {
      font-size: 19px;
      font-weight: 200;
      padding: 8px 12px;
      line-height: 18px;
    }
    .nav-link:not(.disabled) {
      color: map-get($theme, lighter);
      
      &:not(.active):hover {
        background-color: #eee;
        color: map-get($theme, lighter);
      }
      
      &.active {
        background-color: map-get($theme, lighter);
        color: #fff;
      }
    }
    .nav-link.disabled {
      color: #777;
    }
  }
  &.nav-tabs {
    border-bottom: 2px solid map-get($theme, lighter);
    padding-left: 20px;
    .nav-item {
      margin-bottom: 0px;
      
      .nav-link {
        border:none;
      }
      
    }
  }
}
