blockquote {
  padding: 0 0 0 25px;
  font-style: italic;
  margin: 18px 0;
  
  font-size: 1.58rem;
  font-weight: 300;
  
  p {
    padding-right: 25px;
  }
  
  p:first-child:before {
    @include fa-icon();
    content: $fa-var-quote-left;
    position: relative;
    right: 25px;
    margin-right: -15px;
  }
  
  p:last-of-type:after {
    @include fa-icon();
    content: $fa-var-quote-right;
    float:right;
    position:relative;
    left: 25px;
  }
  
  cite {
    color: #999999;
    &:before {
      content: "\2014 \00a0";
    }
  }
}


h1 {
  color: map-get($theme, dark);
  font-weight: 300;
}

h2 {
  color: map-get($theme, dark);
}

.btn-cta {
  font-weight: normal;
}

.btn-cta:after {
  @include fa-icon();
  content: $fa-var-angle-right;
  float:right;
  position:relative;
  left:5px;
  font-size:2rem;
  line-height:1rem;
  verticle-align:middle;
}
