
 // Core variables and mixins
@import "themes";
@import "variables";

@import "../lib/bootstrap/scss/bootstrap";

// Utility classes
@import "../lib/bootstrap/scss/utilities";

@import "../node_modules/font-awesome/scss/font-awesome";

// Bootstrap Datetimepicker

@import "../lib/datetimepicker/src/sass/bootstrap-datetimepicker";

// CamPL-ng components
@import "components";
@import "core_elements";
@import "layout";
@import "navigation";
