.vertical-menu-children {
  @include media-breakpoint-up(md) {
    margin-top: 10px;
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: 10px;
  }

  > li {
    padding: 5px 5px 5px 0;

    @include media-breakpoint-down(sm) {
      padding: 0;
    }

    a,
    span {
      @include media-breakpoint-down(sm) {
        display: block;
        padding: 5px 5px 5px 15px;
      }
    }
  }
}
