@import "compass/css3/images";

.vertical-menu-ancestors {

  &::after {
    display: none;
  }

  .nav-item {
    background-color: #fafafa;
    margin: 0 !important;
    padding: 0;

    @include hover-focus {
      background-color: #efefef;

      &::after {
        background-image: inline-image("vertical-breadcrumb-arrow-hover.png");
      }
    }

    &::after {
      background-image: inline-image("vertical-breadcrumb-arrow.png");
      content: "";
      background-repeat: no-repeat;
      height: 15px;
      width: 20px;
      position: relative;
      bottom: $border-width;
      left: 20px;
      float: left;
    }

    .nav-link {
      background: inline-image("vertical-breadcrumb-arrow-up.png") no-repeat 95% 50%;
      color: #999999 !important;
      font-size: 14px;
      line-height: 16px;
      font-weight: 600;
      padding: $spacer * 0.8 $spacer;
      border-bottom: $border-width solid $border-color;
    }
  }
}
