

.vertical-menu {
  @include make-col();
  @include make-col-span(12);
  background: url("vertical-nav-background.png");
  border-left: $border-width solid $border-color;
  border-right: $border-width solid $border-color;
  border-top: $border-width solid $border-color;
  padding-left: 0;
  padding-right: 0;
  font-family: $font-family-sans-serif-extra;

  @include media-breakpoint-up(md) {
    @include make-col-span(3);
  }
}

.vertical-menu-inset {
  @include media-breakpoint-up(md) {
    margin-top: -50px;
  }
}
