{% extends 'layout/page.html' %}

{% import 'components/teasers/teasers.html' as teasers with context %}

{% block unwrapped_content %}
<div class="row">
  <div class="col-md-8 teaser-list">
    {{ teasers.horizontal_teaser(random_article(), random_image(256)) }}
    {{ teasers.horizontal_teaser(random_article()) }}
    <div class="teaser-row">
      <div class="row">
        <div class="col-md-4 teaser-list">
          {{ teasers.vertical_teaser(random_article(), random_image(256), type='audio') }}
        </div>
        <div class="col-md-4 teaser-list">
          {{ teasers.vertical_teaser(random_article(), random_image(256), type='video') }}
        </div>
        <div class="col-md-4 teaser-list">
          {{ teasers.vertical_teaser(random_article(), random_image(256)) }}
        </div>
      </div>
    </div>
    {{ teasers.horizontal_teaser(random_article(), random_image(256), type='video') }}
    <div class="teaser-row">
      <div class="row">
        <div class="col-md-6 teaser-list">
          {{ teasers.vertical_teaser(random_article(), random_image(256)) }}
        </div>
        <div class="col-md-6 teaser-list">
          {{ teasers.vertical_teaser(random_article()) }}
          {{ teasers.vertical_teaser(random_article()) }}
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 teaser-list">
    {{ teasers.vertical_teaser(random_article(), random_image(256)) }}
    {{ teasers.vertical_teaser(random_article()) }}
    {{ teasers.news_teaser(random_article()) }}
    {{ teasers.news_teaser(random_article()) }}
  </div>
</div>
{% endblock %}

{% block sidebar_content %}
  <div class="m-b">
  {{ teasers.promo_teaser(random_article(), random_image(349,126)) }}
  </div>
  {{ teasers.promo_teaser(random_article(), random_image(349,126)) }}
  <div class="p-t">
  {{ teasers.date_teaser(random_article()) }}
  {{ teasers.date_teaser(random_article()) }}
  {{ teasers.date_teaser(random_article()) }}
  </div>
{% endblock %}

