div.hasDatepicker {
  display: block !default;
  padding: 0 !default;
  overflow: visible !default;
  margin: 8px 0 !default;
  max-width: 340px !default;
}

.ui-datepicker {
  overflow: visible !default;
  margin: 0 !default;

  .ui-datepicker-header {
    position: relative !default;
    padding: .6em 0 !default;
    border-bottom: 0 !default;
    font-weight: bold !default;
  }

  .ui-datepicker-prev, .ui-datepicker-next {
    padding: 1px 0 1px 2px !default;
    position: absolute !default;
    top: .6em !default;
    margin-top: 0 !default;
    text-indent: -9999px !default;
  }

  .ui-datepicker-prev {
    left: 9px !default;
  }

  .ui-datepicker-next {
    right: 2px !default;
  }

  .ui-datepicker-title {
    margin: 0 2.3em !default;
    line-height: 1.8em !default;
    text-align: center !default;

    select {
      font-size: 1em !default;
      margin: 1px 0 !default;
    }
  }

  select {
    &.ui-datepicker-month-year {
      width: 100% !default;
    }

    &.ui-datepicker-month, &.ui-datepicker-year {
      width: 49% !default;
    }
  }

  table {
    width: 100% !default;
    border-collapse: collapse !default;
    margin: 0 !default;
  }

  td {
    border-width: 1px !default;
    padding: 0 !default;
    text-align: center !default;
    min-width: 41px !default;

    span, a {
      display: block !default;
      padding: .2em 0 !default;
      font-weight: bold !default;
      margin: 0 !default;
      border-width: 0 !default;
      text-align: center !default;
      text-decoration: none !default;
    }
  }
}

.ui-datepicker-calendar {
  th {
    padding-top: .4em !default;
    padding-bottom: .4em !default;

    span {
      opacity: .7 !default;
    }
  }

  span.ui-state-default {
    opacity: .7 !default;
  }

  td {
    a, span {
      padding: .6em .5em !default;
    }
  }
}
