$_ui_datagrid__ui_paginator___text_align: center !default;
$_ui_datagrid_column___padding: 3px !default;
$_ui_datagrid_content_empty___padding: 4px 10px !default;
$_ui_datagrid__ui_datagrid_header___ui_datagrid__ui_datagrid_footer___text_align: center !default;
$_ui_datagrid__ui_datagrid_header___ui_datagrid__ui_datagrid_footer___padding: 4px 10px !default;
$_ui_datagrid__ui_datagrid_header___border_bottom: 0px none !default;
$_ui_datagrid__ui_datagrid_footer___border_top: 0px none !default;
$_ui_datagrid__ui_paginator_top___border_bottom: 0px none !default;
$_ui_datagrid__ui_paginator_bottom___border_top: 0px none !default;
$_ui_datagrid_data___width: 100% !default;
.ui-datagrid .ui-paginator {
  text-align: $_ui_datagrid__ui_paginator___text_align;
}

.ui-datagrid-column {
  padding: $_ui_datagrid_column___padding;
}

.ui-datagrid-content-empty {
  padding: $_ui_datagrid_content_empty___padding;
}

.ui-datagrid {
  .ui-datagrid-header, .ui-datagrid-footer {
    text-align: $_ui_datagrid__ui_datagrid_header___ui_datagrid__ui_datagrid_footer___text_align;
    padding: $_ui_datagrid__ui_datagrid_header___ui_datagrid__ui_datagrid_footer___padding;
  }

  .ui-datagrid-header {
    border-bottom: $_ui_datagrid__ui_datagrid_header___border_bottom;
  }

  .ui-datagrid-footer {
    border-top: $_ui_datagrid__ui_datagrid_footer___border_top;
  }

  .ui-paginator-top {
    border-bottom: $_ui_datagrid__ui_paginator_top___border_bottom;
  }

  .ui-paginator-bottom {
    border-top: $_ui_datagrid__ui_paginator_bottom___border_top;
  }
}

/** Table Layout **/

.ui-datagrid-data {
  width: $_ui_datagrid_data___width;
}
