.ui-blockui {
  position: absolute !default;
  top: 0 !default;
  left: 0 !default;
  text-align: center !default;
  width: 100% !default;
  height: 100% !default;
}

.ui-blockui-content {
  position: absolute !default;
  text-align: center !default;
  padding: 1em !default;
}
