$_ui_panel_m__ui_panel_m_titlebar_icon___top: 50% !default;
$_ui_panel_m__ui_panel_m_titlebar_icon___margin_top: -15px !default;
$_ui_panel_m__ui_panel_m_titlebar___border_top_left_radius: inherit !default;
$_ui_panel_m__ui_panel_m_titlebar___border_top_right_radius: inherit !default;
$_ui_panel_m__ui_panel_m_titlebar___border_style: solid !default;
$_ui_panel_m__ui_panel_m_titlebar___border_width: 1px !default;
$_ui_panel_m__ui_panel_m_content___border_bottom_left_radius: inherit !default;
$_ui_panel_m__ui_panel_m_content___border_bottom_right_radius: inherit !default;
$_ui_panel_m__ui_panel_m_content___border_style: solid !default;
$_ui_panel_m__ui_panel_m_content___border_width: 1px !default;
$_ui_panel_m__ui_panel_m_content___border_top_width: 0 !default;
$_ui_growl_message___padding: 0.5em !default;
$_ui_growl_summary___font_weight: bold !default;
$_ui_growl_detail___font_weight: normal !default;
$_ui_growl_item_ui_grid_a____ui_block_a___width: 20% !default;
$_ui_growl_item_ui_grid_a____ui_block_b___width: 80% !default;
$_ui_dialog_container___ui_calendar_inline__ui_input_text___display: none !default;
$_ui_table___table_layout: fixed !default;
$_ui_table_th_ui_sortable_column___position: relative !default;
$_ui_table_tr_ui_bar_b___border: 0 none !default;
$_ui_table_tr_ui_bar_b___font_weight: normal !default;
$_ui_datatable__ui_paginator__ui_controlgroup___ui_datagrid__ui_paginator__ui_controlgroup___ui_datalist__ui_paginator__ui_controlgroup___margin: 0 !default;
$_ui_datatable__ui_paginator__ui_controlgroup___ui_datagrid__ui_paginator__ui_controlgroup___ui_datalist__ui_paginator__ui_controlgroup___padding: 0.1em 0em !default;
$_ui_datatable__ui_paginator__ui_controlgroup___ui_datagrid__ui_paginator__ui_controlgroup___ui_datalist__ui_paginator__ui_controlgroup___text_align: center !default;
$_ui_datatable__ui_reflow_dropdown___display: none !default;
$_ui_datatable_tablewrapper___overflow: auto !default;
$_ui_paginator__ui_paginator_page___display: none !default;
$_ui_datatable__ui_reflow_dropdown___display: block !default;
$_ui_datagrid__ui_datagrid_header___ui_datagrid__ui_datagrid_footer___text_align: center !default;
$_ui_datalist__ui_listview___margin_top: 0 !default;
$_ui_datalist__ui_listview___margin_bottom: 0 !default;
$_ui_datalist_ui_datalist_topbar__ui_listview___li_ui_first_child___ui_datalist_ui_datalist_bottombar__ui_listview___li_ui_last_child___border_radius: 0 !default;
$_ui_datalist_ui_datalist_topbar__ui_listview___li_ui_first_child___a_ui_btn___ui_datalist_ui_datalist_bottombar__ui_listview___li_ui_last_child___a_ui_btn___border_radius: 0 !default;
$_ui_messages_info___ui_messages_warn___ui_messages_error___ui_messages_fatal___border: 1px solid !default;
$_ui_messages_info___ui_messages_warn___ui_messages_error___ui_messages_fatal___margin: 10px 0px !default;
$_ui_messages_info___ui_messages_warn___ui_messages_error___ui_messages_fatal___padding: 10px 10px 10px 10px !default;
$_ui_message_info___ui_message_error___ui_message_warn___ui_message_fatal___border: 1px solid !default;
$_ui_message_info___ui_message_error___ui_message_warn___ui_message_fatal___margin: 0px 5px !default;
$_ui_message_info___ui_message_error___ui_message_warn___ui_message_fatal___padding: 2px 5px !default;
$_ui_messages_info_icon___ui_messages_warn_icon___ui_messages_error_icon___ui_messages_fatal_icon___ui_message_info_icon___ui_message_warn_icon___ui_message_error_icon___ui_message_fatal_icon___background: url("messages/messages.png") no-repeat !default;
$_ui_messages_info_icon___ui_messages_warn_icon___ui_messages_error_icon___ui_messages_fatal_icon___ui_message_info_icon___ui_message_warn_icon___ui_message_error_icon___ui_message_fatal_icon___display: block !default;
$_ui_messages_info_icon___ui_messages_warn_icon___ui_messages_error_icon___ui_messages_fatal_icon___ui_message_info_icon___ui_message_warn_icon___ui_message_error_icon___ui_message_fatal_icon___float: left !default;
$_ui_messages_info_icon___ui_messages_warn_icon___ui_messages_error_icon___ui_messages_fatal_icon___ui_message_info_icon___ui_message_warn_icon___ui_message_error_icon___ui_message_fatal_icon___margin: 0 !default;
$_ui_messages_info_icon___ui_messages_warn_icon___ui_messages_error_icon___ui_messages_fatal_icon___ui_message_info_icon___ui_message_warn_icon___ui_message_error_icon___ui_message_fatal_icon___padding: 0 !default;
$_ui_messages_info_icon___ui_messages_warn_icon___ui_messages_error_icon___ui_messages_fatal_icon___ui_message_info_icon___ui_message_warn_icon___ui_message_error_icon___ui_message_fatal_icon___position: relative !default;
$_ui_messages_info_icon___ui_messages_warn_icon___ui_messages_error_icon___ui_messages_fatal_icon___height: 24px !default;
$_ui_messages_info_icon___ui_messages_warn_icon___ui_messages_error_icon___ui_messages_fatal_icon___width: 24px !default;
$_ui_messages_info_icon___ui_messages_warn_icon___ui_messages_error_icon___ui_messages_fatal_icon___margin_top: -4px !default;
$_ui_message_info_icon___ui_message_warn_icon___ui_message_error_icon___ui_message_fatal_icon___height: 16px !default;
$_ui_message_info_icon___ui_message_warn_icon___ui_message_error_icon___ui_message_fatal_icon___width: 16px !default;
$_ui_messages_info_summary___ui_messages_warn_summary___ui_messages_error_summary___ui_messages_fatal_summary___ui_message_info_summary___ui_message_warn_summary___ui_message_error_summary___ui_message_fatal_summary___margin_left: 10px !default;
$_ui_messages_info_summary___ui_messages_warn_summary___ui_messages_error_summary___ui_messages_fatal_summary___ui_message_info_summary___ui_message_warn_summary___ui_message_error_summary___ui_message_fatal_summary___font_weight: bold !default;
$_ui_messages_info_detail___ui_messages_warn_detail___ui_messages_error_detail___ui_messages_fatal_detail___ui_message_info_detail___ui_message_warn_detail___ui_message_error_detail___ui_message_fatal_detail___margin_left: 5px !default;
$_ui_messages_info___ui_message_info___color: #3a87ad !default;
$_ui_messages_info___ui_message_info___background_color: #d9edf7 !default;
$_ui_messages_info___ui_message_info___border_color: #bce8f1 !default;
$_ui_messages_warn___ui_message_warn___color: #c09853 !default;
$_ui_messages_warn___ui_message_warn___background_color: #fcf8e3 !default;
$_ui_messages_warn___ui_message_warn___border_color: #fbeed5 !default;
$_ui_messages_error___ui_message_error___ui_messages_fatal___ui_message_fatal___color: #b94a48 !default;
$_ui_messages_error___ui_message_error___ui_messages_fatal___ui_message_fatal___background_color: #f2dede !default;
$_ui_messages_error___ui_message_error___ui_messages_fatal___ui_message_fatal___border_color: #eed3d7 !default;
$_ui_messages_ul___margin: 0 25px !default;
$_ui_messages_ul___padding: 0 !default;
$_ui_messages_ul___list_style_type: none !default;
$_ui_messages_ui_messages_noicon_ul___margin: 0 25px 0 0 !default;
$_ui_message_icon_only___width: 16px !default;
$_ui_message_icon_only___height: 16px !default;
$_ui_messages_info_icon___background_position: 0px -316px !default;
$_ui_messages_warn_icon___background_position: 0px -448px !default;
$_ui_messages_error_icon___background_position: 0px -52px !default;
$_ui_messages_fatal_icon___background_position: 0px -184px !default;
$_ui_message_info_icon___background_position: 0px -360px !default;
$_ui_message_warn_icon___background_position: 0px -492px !default;
$_ui_message_error_icon___background_position: 0px -96px !default;
$_ui_message_fatal_icon___background_position: 0px -228px !default;
$_ui_messages__ui_messages_close___float: right !default;
$_ui_messages__ui_messages_close___cursor: pointer !default;
/** Panel **/

.ui-panel-m {
  .ui-panel-m-titlebar-icon {
    top: $_ui_panel_m__ui_panel_m_titlebar_icon___top;
    margin-top: $_ui_panel_m__ui_panel_m_titlebar_icon___margin_top;
  }

  .ui-panel-m-titlebar {
    border-top-left-radius: $_ui_panel_m__ui_panel_m_titlebar___border_top_left_radius;
    border-top-right-radius: $_ui_panel_m__ui_panel_m_titlebar___border_top_right_radius;
    border-style: $_ui_panel_m__ui_panel_m_titlebar___border_style;
    border-width: $_ui_panel_m__ui_panel_m_titlebar___border_width;
  }

  .ui-panel-m-content {
    border-bottom-left-radius: $_ui_panel_m__ui_panel_m_content___border_bottom_left_radius;
    border-bottom-right-radius: $_ui_panel_m__ui_panel_m_content___border_bottom_right_radius;
    border-style: $_ui_panel_m__ui_panel_m_content___border_style;
    border-width: $_ui_panel_m__ui_panel_m_content___border_width;
    border-top-width: $_ui_panel_m__ui_panel_m_content___border_top_width;
  }
}

/** Growl **/

.ui-growl-message {
  padding: $_ui_growl_message___padding;
}

.ui-growl-summary {
  font-weight: $_ui_growl_summary___font_weight;
}

.ui-growl-detail {
  font-weight: $_ui_growl_detail___font_weight;
}

.ui-growl-item.ui-grid-a > {
  .ui-block-a {
    width: $_ui_growl_item_ui_grid_a____ui_block_a___width;
  }

  .ui-block-b {
    width: $_ui_growl_item_ui_grid_a____ui_block_b___width;
  }
}

/** Dialog **/

.ui-dialog-container, .ui-calendar-inline .ui-input-text {
  display: $_ui_dialog_container___ui_calendar_inline__ui_input_text___display;
}

/** Calendar **/

/** DataTable **/

.ui-table {
  table-layout: $_ui_table___table_layout;

  th.ui-sortable-column {
    position: $_ui_table_th_ui_sortable_column___position;
  }

  tr.ui-bar-b {
    border: $_ui_table_tr_ui_bar_b___border;
    font-weight: $_ui_table_tr_ui_bar_b___font_weight;
  }
}

.ui-datatable .ui-paginator .ui-controlgroup, .ui-datagrid .ui-paginator .ui-controlgroup, .ui-datalist .ui-paginator .ui-controlgroup {
  margin: $_ui_datatable__ui_paginator__ui_controlgroup___ui_datagrid__ui_paginator__ui_controlgroup___ui_datalist__ui_paginator__ui_controlgroup___margin;
  padding: $_ui_datatable__ui_paginator__ui_controlgroup___ui_datagrid__ui_paginator__ui_controlgroup___ui_datalist__ui_paginator__ui_controlgroup___padding;
  text-align: $_ui_datatable__ui_paginator__ui_controlgroup___ui_datagrid__ui_paginator__ui_controlgroup___ui_datalist__ui_paginator__ui_controlgroup___text_align;
}

.ui-datatable .ui-reflow-dropdown {
  display: $_ui_datatable__ui_reflow_dropdown___display;
}

.ui-datatable-tablewrapper {
  overflow: $_ui_datatable_tablewrapper___overflow;
}

@media (max-width: 35em) {
  .ui-paginator .ui-paginator-page {
    display: $_ui_paginator__ui_paginator_page___display;
  }

  .ui-datatable .ui-reflow-dropdown {
    display: $_ui_datatable__ui_reflow_dropdown___display;
  }
}

/** DataGrid **/

.ui-datagrid {
  .ui-datagrid-header, .ui-datagrid-footer {
    text-align: $_ui_datagrid__ui_datagrid_header___ui_datagrid__ui_datagrid_footer___text_align;
  }
}

/** DataList **/

.ui-datalist {
  .ui-listview {
    margin-top: $_ui_datalist__ui_listview___margin_top;
    margin-bottom: $_ui_datalist__ui_listview___margin_bottom;
  }

  &.ui-datalist-topbar .ui-listview > li.ui-first-child, &.ui-datalist-bottombar .ui-listview > li.ui-last-child {
    border-radius: $_ui_datalist_ui_datalist_topbar__ui_listview___li_ui_first_child___ui_datalist_ui_datalist_bottombar__ui_listview___li_ui_last_child___border_radius;

    > a.ui-btn {
      border-radius: $_ui_datalist_ui_datalist_topbar__ui_listview___li_ui_first_child___a_ui_btn___ui_datalist_ui_datalist_bottombar__ui_listview___li_ui_last_child___a_ui_btn___border_radius;
    }
  }
}

/** Messages **/

.ui-messages-info, .ui-messages-warn, .ui-messages-error, .ui-messages-fatal {
  border: $_ui_messages_info___ui_messages_warn___ui_messages_error___ui_messages_fatal___border;
  margin: $_ui_messages_info___ui_messages_warn___ui_messages_error___ui_messages_fatal___margin;
  padding: $_ui_messages_info___ui_messages_warn___ui_messages_error___ui_messages_fatal___padding;
}

.ui-message-info, .ui-message-error, .ui-message-warn, .ui-message-fatal {
  border: $_ui_message_info___ui_message_error___ui_message_warn___ui_message_fatal___border;
  margin: $_ui_message_info___ui_message_error___ui_message_warn___ui_message_fatal___margin;
  padding: $_ui_message_info___ui_message_error___ui_message_warn___ui_message_fatal___padding;
}

.ui-messages-info-icon, .ui-messages-warn-icon, .ui-messages-error-icon, .ui-messages-fatal-icon, .ui-message-info-icon, .ui-message-warn-icon, .ui-message-error-icon, .ui-message-fatal-icon {
  background: $_ui_messages_info_icon___ui_messages_warn_icon___ui_messages_error_icon___ui_messages_fatal_icon___ui_message_info_icon___ui_message_warn_icon___ui_message_error_icon___ui_message_fatal_icon___background;
  display: $_ui_messages_info_icon___ui_messages_warn_icon___ui_messages_error_icon___ui_messages_fatal_icon___ui_message_info_icon___ui_message_warn_icon___ui_message_error_icon___ui_message_fatal_icon___display;
  float: $_ui_messages_info_icon___ui_messages_warn_icon___ui_messages_error_icon___ui_messages_fatal_icon___ui_message_info_icon___ui_message_warn_icon___ui_message_error_icon___ui_message_fatal_icon___float;
  margin: $_ui_messages_info_icon___ui_messages_warn_icon___ui_messages_error_icon___ui_messages_fatal_icon___ui_message_info_icon___ui_message_warn_icon___ui_message_error_icon___ui_message_fatal_icon___margin;
  padding: $_ui_messages_info_icon___ui_messages_warn_icon___ui_messages_error_icon___ui_messages_fatal_icon___ui_message_info_icon___ui_message_warn_icon___ui_message_error_icon___ui_message_fatal_icon___padding;
  position: $_ui_messages_info_icon___ui_messages_warn_icon___ui_messages_error_icon___ui_messages_fatal_icon___ui_message_info_icon___ui_message_warn_icon___ui_message_error_icon___ui_message_fatal_icon___position;
}

.ui-messages-info-icon, .ui-messages-warn-icon, .ui-messages-error-icon, .ui-messages-fatal-icon {
  height: $_ui_messages_info_icon___ui_messages_warn_icon___ui_messages_error_icon___ui_messages_fatal_icon___height;
  width: $_ui_messages_info_icon___ui_messages_warn_icon___ui_messages_error_icon___ui_messages_fatal_icon___width;
  margin-top: $_ui_messages_info_icon___ui_messages_warn_icon___ui_messages_error_icon___ui_messages_fatal_icon___margin_top;
}

.ui-message-info-icon, .ui-message-warn-icon, .ui-message-error-icon, .ui-message-fatal-icon {
  height: $_ui_message_info_icon___ui_message_warn_icon___ui_message_error_icon___ui_message_fatal_icon___height;
  width: $_ui_message_info_icon___ui_message_warn_icon___ui_message_error_icon___ui_message_fatal_icon___width;
}

.ui-messages-info-summary, .ui-messages-warn-summary, .ui-messages-error-summary, .ui-messages-fatal-summary, .ui-message-info-summary, .ui-message-warn-summary, .ui-message-error-summary, .ui-message-fatal-summary {
  margin-left: $_ui_messages_info_summary___ui_messages_warn_summary___ui_messages_error_summary___ui_messages_fatal_summary___ui_message_info_summary___ui_message_warn_summary___ui_message_error_summary___ui_message_fatal_summary___margin_left;
  font-weight: $_ui_messages_info_summary___ui_messages_warn_summary___ui_messages_error_summary___ui_messages_fatal_summary___ui_message_info_summary___ui_message_warn_summary___ui_message_error_summary___ui_message_fatal_summary___font_weight;
}

.ui-messages-info-detail, .ui-messages-warn-detail, .ui-messages-error-detail, .ui-messages-fatal-detail, .ui-message-info-detail, .ui-message-warn-detail, .ui-message-error-detail, .ui-message-fatal-detail {
  margin-left: $_ui_messages_info_detail___ui_messages_warn_detail___ui_messages_error_detail___ui_messages_fatal_detail___ui_message_info_detail___ui_message_warn_detail___ui_message_error_detail___ui_message_fatal_detail___margin_left;
}

.ui-messages-info, .ui-message-info {
  color: $_ui_messages_info___ui_message_info___color;
  background-color: $_ui_messages_info___ui_message_info___background_color;
  border-color: $_ui_messages_info___ui_message_info___border_color;
}

.ui-messages-warn, .ui-message-warn {
  color: $_ui_messages_warn___ui_message_warn___color;
  background-color: $_ui_messages_warn___ui_message_warn___background_color;
  border-color: $_ui_messages_warn___ui_message_warn___border_color;
}

.ui-messages-error, .ui-message-error, .ui-messages-fatal, .ui-message-fatal {
  color: $_ui_messages_error___ui_message_error___ui_messages_fatal___ui_message_fatal___color;
  background-color: $_ui_messages_error___ui_message_error___ui_messages_fatal___ui_message_fatal___background_color;
  border-color: $_ui_messages_error___ui_message_error___ui_messages_fatal___ui_message_fatal___border_color;
}

.ui-messages {
  ul {
    margin: $_ui_messages_ul___margin;
    padding: $_ui_messages_ul___padding;
    list-style-type: $_ui_messages_ul___list_style_type;
  }

  &.ui-messages-noicon ul {
    margin: $_ui_messages_ui_messages_noicon_ul___margin;
  }
}

.ui-message-icon-only {
  width: $_ui_message_icon_only___width;
  height: $_ui_message_icon_only___height;
}

.ui-messages-info-icon {
  background-position: $_ui_messages_info_icon___background_position;
}

.ui-messages-warn-icon {
  background-position: $_ui_messages_warn_icon___background_position;
}

.ui-messages-error-icon {
  background-position: $_ui_messages_error_icon___background_position;
}

.ui-messages-fatal-icon {
  background-position: $_ui_messages_fatal_icon___background_position;
}

.ui-message-info-icon {
  background-position: $_ui_message_info_icon___background_position;
}

.ui-message-warn-icon {
  background-position: $_ui_message_warn_icon___background_position;
}

.ui-message-error-icon {
  background-position: $_ui_message_error_icon___background_position;
}

.ui-message-fatal-icon {
  background-position: $_ui_message_fatal_icon___background_position;
}

.ui-messages .ui-messages-close {
  float: $_ui_messages__ui_messages_close___float;
  cursor: $_ui_messages__ui_messages_close___cursor;
}
