$_ui_datatable_scrollable_body___webkit_scrollbar_thumb___border_radius: 0;
$_ui_chkbox__ui_chkbox_box___border_radius: 0;
$_keypad_inline___border_radius: 0;
$_keypad_key___border_radius: 0;
$_ui_loader__ui_icon_loading___border_radius: 0;
$_ui_input_btn_input___border_radius: 0;
$_ui_collapsible_set____ui_collapsible_ui_corner_all___border_radius: 0;
$_ui_collapsible_heading___border_radius: 0;
$_ui_collapsible_heading____ui_btn___border_radius: 0;
$_ui_controlgroup_controls__ui_btn_corner_all___ui_controlgroup_controls__ui_btn_ui_corner_all___border_radius: 0;
$_ui_controlgroup_controls___border_radius: 0;
$_ui_controlgroup_controls__ui_radio___ui_controlgroup_controls__ui_checkbox___ui_controlgroup_controls__ui_select___ui_controlgroup_controls_li___border_radius: 0;
$_ui_popup_not__ui_content____img_only_child___ui_popup_not__ui_content_____ui_btn_left_first_child___img_last_child___ui_popup_not__ui_content_____ui_btn_right_first_child___img_last_child___border_radius: 0;
$_ui_select__ui_btn_select___border_radius: 0;
$_ui_select__ui_btn_ui_select_nativeonly___border_radius: 0;
$_ui_selectmenu__ui_selectmenu_list___border_radius: 0;
$_ui_collapsible_content____ui_listview_not__ui_listview_inset____border_radius: 0;
$_ui_slider_track__ui_slider_bg___border_radius: 0;
$_ui_slider_switch__ui_slider_label___ui_slider_switch__ui_slider_inneroffset___border_radius: 0;
$_ui_slider_handle___border_radius: 0;
$_ui_input_text_input___ui_input_search_input___border_radius: 0;
$_ui_flipswitch__ui_btn_ui_flipswitch_on___border_radius: 0;
$_ui_datalist_ui_datalist_topbar__ui_listview___li_ui_first_child___ui_datalist_ui_datalist_bottombar__ui_listview___li_ui_last_child___border_radius: 0;
$_ui_datalist_ui_datalist_topbar__ui_listview___li_ui_first_child___a_ui_btn___ui_datalist_ui_datalist_bottombar__ui_listview___li_ui_last_child___a_ui_btn___border_radius: 0;
$_ui_overlaypanel_close___border_radius: 0;
$_ui_ribbon__ui_selectonemenu___border_radius: 0;
$_ui_ribbon__ui_selectonemenu__ui_selectonemenu_trigger___border_radius: 0;
$_fc_event___border_radius: 0;
$_ui_stack__openStack_li_span___border_radius: 0;
$_ui_treetable_scrollable_body___webkit_scrollbar_thumb___border_radius: 0;