extends ../base

block body
    header
        include ./header/global/header
        include ./header/local/header

    main.container
        div.row
            // todo: include navigation/vertical-menu
            div.col-md-9.main-content
                // todo: +carousel
                block unwrapped_content
                    div.p-a-1
                        block content
            div.col-md-3.sidebar
                div.pa--1
                    block sidebar_content

    footer
        include ./footer/local/footer
        include ./footer/global/footer

