extends ../base

block body
    header
        // include layout/header/global/header
        // include layout/header/local/header

    main.container
        div.row
            // include navigation/vertical-menu
            div.col-md-9.main-content
                // carousel
                block unwrapped_content
                    div.p-a-1
                        block content
            div.col-md-3.sidebar
                div.pa--1
                    block sidebar_content

    footer
        // include layout/header/global/footer
        // include layout/header/local/footer

