[submodule "lib/bootstrap"]
	path = lib/bootstrap
	url = https://github.com/mrginglymus/bootstrap.git
[submodule "lib/font-awesome"]
	path = lib/font-awesome
	url = https://github.com/mrginglymus/font-awesome.git
[submodule "lib/datetimepicker"]
	path = lib/datetimepicker
	url = https://github.com/mrginglymus/bootstrap-datetimepicker.git
[submodule "lib/select2"]
	path = lib/select2
	url = https://github.com/select2/select2.git
