$_ui_log___position: fixed !default;
$_ui_log___width: 400px !default;
$_ui_log___height: 300px !default;
$_ui_log___left: 50px !default;
$_ui_log___top: 50px !default;
$_ui_log____moz_box_shadow: 0px 5px 10px rgba(0, 0, 0, 0.8) !default;
$_ui_log____webkit_box_shadow: 0px 5px 10px rgba(0, 0, 0, 0.8) !default;
$_ui_log___box_shadow: 0px 5px 10px rgba(0, 0, 0, 0.8) !default;
$_ui_log_header___padding: .4em .4em .4em 1em !default;
$_ui_log_header___position: relative !default;
$_ui_log_header___border: 0px !default;
$_ui_log_header___height: 18px !default;
$_ui_log_content___overflow: auto !default;
$_ui_log_content___height: 274px !default;
$_ui_log__ui_log_header__ui_log_button___position: absolute !default;
$_ui_log__ui_log_header__ui_log_button___display: block !default;
$_ui_log__ui_log_header__ui_log_button___padding: 1px !default;
$_ui_log__ui_log_header__ui_log_button_ui_log_clear___top: 4px !default;
$_ui_log__ui_log_header__ui_log_button_ui_log_clear___left: 10px !default;
$_ui_log__ui_log_header__ui_log_button_ui_log_all___top: 4px !default;
$_ui_log__ui_log_header__ui_log_button_ui_log_all___left: 30px !default;
$_ui_log__ui_log_header__ui_log_button_ui_log_info___top: 4px !default;
$_ui_log__ui_log_header__ui_log_button_ui_log_info___left: 50px !default;
$_ui_log__ui_log_header__ui_log_button_ui_log_warn___top: 4px !default;
$_ui_log__ui_log_header__ui_log_button_ui_log_warn___left: 70px !default;
$_ui_log__ui_log_header__ui_log_button_ui_log_debug___top: 4px !default;
$_ui_log__ui_log_header__ui_log_button_ui_log_debug___left: 90px !default;
$_ui_log__ui_log_header__ui_log_button_ui_log_error___top: 4px !default;
$_ui_log__ui_log_header__ui_log_button_ui_log_error___left: 110px !default;
$_ui_log__ui_log_button_hover___ui_log__ui_log_button_ui_state_active___padding: 0 !default;
$_ui_log__ui_log_items___list_style_type: none !default;
$_ui_log__ui_log_items___padding_left: 10px !default;
$_ui_log__ui_log_item___margin_bottom: 5px !default;
$_ui_log__ui_log_item__ui_icon___float: left !default;
$_ui_log__ui_log_item__ui_icon___margin_right: 10px !default;
.ui-log {
  position: $_ui_log___position;
  width: $_ui_log___width;
  height: $_ui_log___height;
  left: $_ui_log___left;
  top: $_ui_log___top;
  -moz-box-shadow: $_ui_log____moz_box_shadow;
  -webkit-box-shadow: $_ui_log____webkit_box_shadow;
  box-shadow: $_ui_log___box_shadow;
}

.ui-log-header {
  padding: $_ui_log_header___padding;
  position: $_ui_log_header___position;
  border: $_ui_log_header___border;
  height: $_ui_log_header___height;
}

.ui-log-content {
  overflow: $_ui_log_content___overflow;
  height: $_ui_log_content___height;
}

.ui-log {
  .ui-log-header .ui-log-button {
    position: $_ui_log__ui_log_header__ui_log_button___position;
    display: $_ui_log__ui_log_header__ui_log_button___display;
    padding: $_ui_log__ui_log_header__ui_log_button___padding;

    &.ui-log-clear {
      top: $_ui_log__ui_log_header__ui_log_button_ui_log_clear___top;
      left: $_ui_log__ui_log_header__ui_log_button_ui_log_clear___left;
    }

    &.ui-log-all {
      top: $_ui_log__ui_log_header__ui_log_button_ui_log_all___top;
      left: $_ui_log__ui_log_header__ui_log_button_ui_log_all___left;
    }

    &.ui-log-info {
      top: $_ui_log__ui_log_header__ui_log_button_ui_log_info___top;
      left: $_ui_log__ui_log_header__ui_log_button_ui_log_info___left;
    }

    &.ui-log-warn {
      top: $_ui_log__ui_log_header__ui_log_button_ui_log_warn___top;
      left: $_ui_log__ui_log_header__ui_log_button_ui_log_warn___left;
    }

    &.ui-log-debug {
      top: $_ui_log__ui_log_header__ui_log_button_ui_log_debug___top;
      left: $_ui_log__ui_log_header__ui_log_button_ui_log_debug___left;
    }

    &.ui-log-error {
      top: $_ui_log__ui_log_header__ui_log_button_ui_log_error___top;
      left: $_ui_log__ui_log_header__ui_log_button_ui_log_error___left;
    }
  }

  .ui-log-button {
    &:hover, &.ui-state-active {
      padding: $_ui_log__ui_log_button_hover___ui_log__ui_log_button_ui_state_active___padding;
    }
  }

  .ui-log-items {
    list-style-type: $_ui_log__ui_log_items___list_style_type;
    padding-left: $_ui_log__ui_log_items___padding_left;
  }

  .ui-log-item {
    margin-bottom: $_ui_log__ui_log_item___margin_bottom;

    .ui-icon {
      float: $_ui_log__ui_log_item__ui_icon___float;
      margin-right: $_ui_log__ui_log_item__ui_icon___margin_right;
    }
  }
}
