{% extends 'layouts/subnav.html' %}

{% block content %}
<h2>Inline links</h2>
<p><a href="">consectetur adipisicing elit</a></p>
  
<h3>Links with icons</h3>
<p><span class="fa fa-print"></span> <a href="">Print icon</a></p>
<p><span class="fa fa-lock"></span> <a href="">Locked document icon</a></p>
<p><span class="fa fa-question-circle"></span> <a href="">Help icon</a></p>
<p><span class="fa fa-info-circle"></span> <a href="">Information icon</a></p>
<p><span class="fa fa-file-excel-o"></span> <a href="">Excel icon</a></p>
<p><span class="fa fa-file-pdf-o"></span> <a href="">PDF icon</a></p>
<p><span class="fa fa-file-word-o"></span> <a href="">Word Document icon</a></p>

<p>External link</p>
<p><a href="http://www.google.com">Lorem ipsum dolor sit amet</a></p>

<h3>Links within body text</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, <a href=""><span class="campl-icon campl-excel-icon"></span>Ut enim ad minim veniam sed do eiusmod</a> tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, <a href="http://www.google.com">Lorem ipsum dolor sit amet</a> ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis <a href="">consectetur adipisicing elit</a> in voluptate velit esse.</p>


<h2>Primary call to action</h2>
<p><a href="#" class="btn btn-primary btn-cta">Read more</a></p>

<p><a href="" class="btn btn-primary" ><span class="fa fa-user"></span> Download vCard <span class="fa fa-angle-double-down"></span></a>

<h2>Secondary call to action</h2>
<p><a href="" class="secondary-cta">View all news</a></p>

<h2>Primary and secondary form buttons</h2>
<div class="campl-form-actions">
  <button type="button" class="btn btn-secondary">Button</button>
  <button type="reset" class="btn btn-secondary">Reset</button>
  <button class="btn btn-secondary">Cancel</button>
  <button type="submit" class="btn btn-primary btn-cta">Submit</button>
</div>
{% endblock %}
