{% extends 'layouts/subnav.html' %}

{% block content %}
<h1>Heading 1</h1>
{{ lipsum(1) }}
<h2>Heading 2</h2>
{{ lipsum(1) }}
<h3>Heading 3</h3>
{{ lipsum(1) }}
<h4>Heading 4</h4>
{{ lipsum(1) }}
<h5>Heading 5</h5>
{{ lipsum(1) }}
<h6>Heading 6</h6>
{{ lipsum(1) }}


<h3>Blockquote</h3>

<blockquote>
  <p>'Tis better to have loved and lost then never to have loved at all</p>
  <cite>William Shakespeare</cite>
</blockquote>
{{ lipsum(1) }}

<blockquote>
  <p>'Tis better to have loved and lost then never to have loved at all. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  {{ lipsum(1) }}
  <cite>William Shakespeare</cite>
</blockquote>

<h3>Horizontal rule</h3>
<hr />

<h3>Inline links</h3>
<p>Lorem ipsum dolor sit amet, <a href="#">consectetur adipisicing elit</a>, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<h3>Miscellaneous inline text treatment</h3>
<p>Lorem <strong>strong</strong> sit amet, <em>emphasis</em>, sed do eiusmod tempor <sub>sub text</sub> et dolore magna aliqua. <sup>super text</sup>, quis nostrud <abbr>abbreviation</abbr> ullamco </p>
<p>Lorem <small>small</small>, consectetur adipisicing elit, <dfn>definition</dfn> incididunt ut labore <ins>insert</ins>. Ut enim ad minim veniam, <mark>mark</mark> laboris nisi ut aliquip ex ea </p>
<h3>Address</h3>

<address>24 acacia avenue, birmingham, B1 4BX</address>
{% endblock %}
