.ui-panel {
  padding: 0.2em !default;

  .ui-panel-titlebar {
    padding: 0.5em 1em 0.3em !default;
  }

  .ui-panel-title {
    margin: 0.1em 16px 0.2em 0 !default;
  }

  .ui-panel-titlebar-icon {
    float: right !default;
    cursor: pointer !default;
    margin-left: 0.2em !default;
    margin-top: -0.2em !default;
    *margin: -1.5em 0em 0em 0.2em !default;

    &:hover, &:focus {
      margin-left: 0.2em !default;
      margin-top: -0.2em !default;
      *margin: -1.5em 0em 0em 0.2em !default;
    }
  }

  .ui-panel-content {
    border: 0 !default;
    background: none !default;
    padding: 0.5em 1em !default;
  }

  .ui-panel-footer {
    border-width: 1px 0 0 !default;
    margin: 0.5em 0 0 !default;
    padding: 0.5em 1em !default;
    text-align: left !default;
  }
}

.ui-panel-collapsed-h .ui-panel-titlebar-icon {
  *margin: -0.2em 0em 0em 0.1em !default;

  &:hover, &:focus {
    *margin: -0.2em 0em 0em 0.1em !default;
  }
}

.ui-panel.ui-panel-collapsed-h {
  width: 42px !default;

  .ui-panel-title {
    display: none !default;
  }
}
