{% extends 'base.html' %}

{% from 'components/carousel.html' import frontpage_carousel with context %}
{% from 'components/teasers/teasers.html' import focus_on_teaser %}

{% set CAROUSEL = [
  (random_image(885, 432), '/', lipsum(1, false, 4, 8), '"%s"'%lipsum(1, false, 8, 12)),
  (random_image(885, 432), '/', lipsum(1, false, 4, 8), '"%s"'%lipsum(1, false, 8, 12)),
  (random_image(885, 432), '/', lipsum(1, false, 4, 8), '"%s"'%lipsum(1, false, 8, 12)),
] %}

{% block body %}
  {% include 'components/header/global_header.html' %}
  <div class="local-header">
    <div class="container p-a">
      <a href="http://www.cam.ac.uk/" class="main-logo">
        <img alt="University of Cambridge" src="{{ ROOT_URL }}/img/logo_lg.png">
      </a>
    </div>
  </div>
  <div class="local-header campage-carousel-push">
  </div>
  <div class="content container">
  {{ frontpage_carousel(CAROUSEL) }}
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="p-a">
          <div class="heading">
            <h2 class="campage-heading">Focus on</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            {{ focus_on_teaser('Focus on me', '/', random_image(153, 137)) }}
          </div>
          <div class="col-md-6">
            {{ focus_on_teaser('Focus on me', '/', random_image(153, 137)) }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            {{ focus_on_teaser('Focus on me', '/', random_image(153, 137)) }}
          </div>
          <div class="col-md-6">
            {{ focus_on_teaser('Focus on me', '/', random_image(153, 137)) }}
          </div>
        </div>
      </div>
      <div class="col-md-4 sidebar">
        hello
      </div>
    </div>
  </div>
{% endblock %}