{% extends 'base.html' %}

{% from 'components/carousel.html' import carousel with context %}

{% block body %}
<header>
  {% include 'components/header/global_header.html' %}
  {% include 'components/header/local_header.html' %}
</header>
<main class="container">
  <div class="row">
    {% include 'components/navigation/side_menu.html' %}
    <div class="col-md-9 main-content">
      {{ carousel(CAROUSEL) }}
      {% block unwrapped_content %}
      {% endblock %}
      {% if self.content () %}
      <div class="p-a">
        {% block content %}{% endblock %}
      </div>
      {% endif %}
    </div>
    <div class="col-md-3 sidebar">
      <div class="p-a">
        {% block sidebar_content %}{% endblock %}
      </div>
    </div>
  </div>
</main>
<footer>
  {% include 'components/footer/local_footer.html' %}
  {% include 'components/footer/global_footer.html' %}
</footer>
{% endblock %}
