{% extends 'base.html' %}

{% from 'components/carousel.html' import carousel with context %}

{% from 'components/navigation/side_menu.html' import make_side_menu with context %}

{% block body %}
<header>
  {% include 'components/header/global_header.html' %}
  {% include 'components/header/local_header.html' %}
</header>
<main class="container">
  <div class="row">
    {{ make_side_menu(false) }}
    <div class="col-md-9 main-content">
      {{ carousel(CAROUSEL) }}
      {% block unwrapped_content %}
      {% endblock %}
      {% if self.content () %}
      <div class="p-a">
        {% block content %}{% endblock %}
      </div>
      {% endif %}
    </div>
    {% from 'components/sidebar/sidebar.html' import sidebar %}
    {% call sidebar() %}
    {% block sidebar_content %}
    {% endblock %}
    {% endcall %}
  </div>
</main>
<footer>
  {% include 'components/footer/local_footer.html' %}
  {% include 'components/footer/global_footer.html' %}
</footer>
{% endblock %}
