{% extends 'base.html' %}


{% block body %}
  {% include 'components/header/global_header.html' %}
  {% include 'components/header/local_header.html' %}
  {% block subtitle  %}
  {% include 'components/header/subtitle.html' %}
  {% endblock %}
  {% set content_columns = 12 %}
  {% if side_menu %}
    {% set content_columns = content_columns - 3 %}
  {% endif %}
  {% if sidebar %}
    {% set content_columns = content_columns - 3 %}
  {% endif %}
  
  <div class="recess-push">
    <div class="content container">
      <div class="row">
        {% if side_menu %}
        {% include 'components/navigation/side_menu.html' %}
        {% endif %}
        <div class="col-md-{{ content_columns }} main-content">
          {% if image %}
            <img src="{{ image }}" class="leading-image">
          {% endif %}
          {% block unwrapped_content %}
          {% endblock %}
          {% if self.content() %}
          <div class="p-a">
            {% block content %}{% endblock %}
          </div>
          {% endif %}
        </div>
        {% if sidebar %}
        {% from 'components/sidebar/sidebar.html' import sidebar %}
        {% call sidebar() %}
        {% block sidebar_content %}
          {% include 'components/sidebar/related_links.html' %}
        {% endblock %}
        {% endcall %}
        {% endif %}
      </div>
    </div>
  </div>
  
  {% include 'components/footer/local_footer.html' %}
  {% include 'components/footer/global_footer.html' %}
        
{% endblock %}
