{% extends 'base.html' %}

{% from 'components/sidebar/related_links.html' import related_links %}
{% from 'components/sidebar/sidebar.html' import sidebar_heading %}

{% block body %}
  <header>
    {% include 'components/header/global_header.html' %}
    {% include 'components/header/local_header.html' %}
    {% block subtitle %}
      <div class="local-header subtitle">
        <div class="container">
          {% if page.side_menu %}
          <div class="col-md-9 col-md-offset-3">
          {% else %}
          <div class="col-md-12">
          {% endif %}
            <div class="p-a">
              <h1>{{ page.title }}</h1>
            </div>
          </div>
        </div>
      </div>
    {% endblock %}
    {% set content_columns = 12 %}
    {% if page.side_menu %}
      {% set content_columns = content_columns - 3 %}
    {% endif %}
    
    {% set sidebar = not not self.sidebar_content() %}
    
    {% if sidebar %}
      {% set content_columns = content_columns - 3 %}
    {% endif %}
  </header>
  <main class="container">
    <div class="row">
      {% include 'components/navigation/side_menu.html' %}
      <div class="col-md-{{ content_columns }} main-content">
        {% if image %}
          <img src="{{ image }}" class="leading-image">
        {% endif %}
        {% block unwrapped_content %}
        {% endblock %}
        {% if self.content() %}
        <div class="p-a">
          {% block content %}{% endblock %}
        </div>
        {% endif %}
      </div>
      {% if sidebar %}
      <div class="col-md-3 sidebar">
        <div class="p-a">
          {% block sidebar_content %}{% if page.type=='page' %}{{ sidebar_heading('Related links') }}{{ related_links((('View template', '%s/templates/%s/' % (ROOT_URL, page.source)),)) }}{% endif %}{% endblock %}
        </div>
      </div>
      {% endif %}
    </div>
  </main>
  <footer>
  {% include 'components/footer/local_footer.html' %}
  {% include 'components/footer/global_footer.html' %}
  </footer>
{% endblock %}
