@import "compass/css3/images";

blockquote {
  background: inline-image("quote-left.png") no-repeat top left;
  padding: 0 0 0 25px;
  font-style: italic;
  margin: 18px 0;
  font-family: $font-family-serif;
  font-size: 19px;
  line-height: 22.5px;
  font-weight: 300;

  p {
    padding-right: 25px;
    margin-bottom: 10px;
  }

  p:last-of-type {
    background: inline-image("quote-right.png") no-repeat bottom right;

  }

  cite {
    color: #999999;
    font-size: 13px;
    line-height: 18px;

    &:before {
      content: "\2014 \00a0";
    }
  }
}
