@import "compass/css3/images";

blockquote {
  padding: 0 0 0 25px;
  font-style: italic;
  margin: 18px 0;
  font-family: Georgia, "sans serif";
  font-size: 19px;
  line-height: 22.5px;
  font-weight: 300;
  
  @include background(url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAARCAYAAAA/mJfHAAAAnElEQVQ4y2NgwA7KgXg3A2EgCMQzgbgDl+QZIP4PxeV4DDIG4ndIao3xGfQfl41YDAKx05AVdKAZFIrHVciW3kV3lRKaQfi8l4am1hhdQQeaTQxEumomIQUdBGKPYFAgK0jDY5gLmloldAXo4eVCQngRtG0mNALKsRhcjiWiYFgJm2H4YrUcj1qXUcMGgWHG0LILG07Dks5wqTUGADf4oD70NYA1AAAAAElFTkSuQmCC) no-repeat top left);

  
  p {
    padding-right: 25px;
    margin-bottom: 10px;
  }
  
  p:last-of-type {
    @include background(url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAASCAYAAAC5DOVpAAAApElEQVQ4y+2SXQ2AMAyEawEL0zILWJiFWcDCLNTCLGABC1jgJ7CkOdaWRx645B7Ivlx/KNGldDgrRmlcakA9vClGaVz9wz4SNt0fpxcnrAqvvTC8owasZEtOxD2geNWE5BS9A6dZAMUIGmAdCYHgAUIJ2IAAw74Go6vFWgdWykZXBdgoR2N4ZCUkwk4fRQPcCxvjjW+6z3dgJl/tsCM5v/qNVG4HAt6hPQ9Qu8UAAAAASUVORK5CYII=) no-repeat bottom right);

  }
  
  cite {
    color: #999999;
    font-size: 13px;
    line-height: 18px;
    &:before {
      content: "\2014 \00a0";
    }
  }
}