@import "compass/css3/images";

.btn-cta,
.btn-vcard {
  font-weight: normal;

  &:hover {
    background-color: #454545;
    border-color: #454545;
  }
}

.btn-cta {
  @include background($gray-darker inline-image("primary-cta-chevron.png") no-repeat right 11px top 50%);
  padding: 5px 25px 5px 10px;
}

.btn-vcard {
  @include background($gray-darker inline-image("download.png") no-repeat right 5px top 50%);
  padding-right: 30px;

  &:before {
    @include fa-icon();
    content: $fa-var-user;
    position: relative;
    right: 5px;
  }
}

.secondary-cta {
  @include background(inline-image("secondary-cta-chevron.png") no-repeat 100% 50%);
  padding-right: 10px;
}
