@import "compass/css3/images";

.btn-cta,
.btn-vcard {
  font-weight: normal;
  background-color: $gray-darker;
  background-repeat: no-repeat;
  
  @include hover-focus-active {
    background-color: #454545 !important;
    border-color: #454545 !important;
  }
}

.btn-cta {
  @include background-image(inline-image("primary-cta-chevron.png") !important);
  background-color: $gray-darker;
  background-position: right 11px top 50%;
  padding: 5px 25px 5px 10px;
}

.btn-vcard {
  @include background-image(inline-image("download.png") !important);
  padding-right: 30px;
  background-position: right 5px top 50%;

  &:before {
    @include fa-icon();
    content: $fa-var-user;
    position: relative;
    right: 5px;
  }
}

.secondary-cta {
  @include background(inline-image("secondary-cta-chevron.png") no-repeat 100% 50%);
  padding-right: 10px;
}
