.image_wrapper {
  display: inline-block;
  position: relative;
  width: 100%;
}

.safe_image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: 50% 50%;
}

.image_wrapper:after {
  content: "";
  display: block;
}

.image_wrapper_leading:after {
  padding-top: 288 / 590 * 100%;
}

.image_wrapper_square:after {
  padding-top: 100%;
}

.image_wrapper_carousel:after {
  padding-top: 432 / 885 * 100%;
}

.image_wrapper_promo:after {
  padding-top: 125 / 349 * 100%;
}

.image_wrapper_promo:after {
  padding-top: 428 / 785 * 100%;
}
