.image_wrapper {
  display: block;
  position: relative;
  width: 100%;
  
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.image_wrapper:after {
  content: "";
  display: block;
}

.image_wrapper_leading:after {
  padding-top: 288 / 590 * 100%;
}

.image_wrapper_square:after {
  padding-top: 100%;
}

.image_wrapper_carousel:after {
  padding-top: 432 / 885 * 100%;
}

.image_wrapper_promo:after {
  padding-top: 125 / 349 * 100%;
}

.image_wrapper_promo:after {
  padding-top: 126 / 349 * 100%;
}

.image_wrapper_focuson:after {
  padding-top: 137 / 153 * 100%;
}

.image_wrapper_tagged:after {
  padding-top: 183 / 349 * 100%;
}