.table:not(.table-bordered) {
  th,
  td {
    border: 0;
  }

  thead {
    th,
    td {
      border: 0;
    }
  }
}

.table-bordered {
  @include theme-element(border-bottom-color, selected);
  border-bottom: 2px solid;

  thead th {
    @include theme-element(background-color, selected);
    color: $white;
  }
}

.table-striped {
  tbody tr:nth-of-type(odd) {
    @include theme-element(background-color, pale-table-bg);
  }
}

.table-hover {
  tbody tr,
  tbody tr:nth-of-type(odd) {
    @include hover {
      background-color: $table-bg-hover;
    }
  }
}
