h1 {
  color: map-get($theme, dark);
  font-weight: 300;
}

h2 {
  color: map-get($theme, dark);
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-sans-serif-extra;
}

.lite-heading {
  font-weight: 300;
  font-size: 19px;
  line-height: 25px;
  color: #000;
}

.heading {
  border-bottom: 1px solid #e4e4e4;
}  