h1 {
  font-weight: 300;
}

h1,
h2 {
  @include theme-element(color, page-background);
}

#{headings()} {
  @include fontextra-element();
}

.lite-heading {
  @include fontextra-element();
  font-weight: 300;
  font-size: 19px;
  line-height: 25px;
  color: $gray-darker !important;
}

.lite-heading-lg {
  @include fontextra-element();
  font-weight: 300;
  font-size: 30px;
  line-height: 38px;
  color: $gray-darker !important;
}

.lite-heading-themed {
  @include theme-element(color, page-background);
}

.heading-container {
  border-bottom: $border-width solid $border-color;
}

.heading-container-padding {
  margin: $spacer $spacer 0;
}
