.ui-menu {
  width: 12.5em !default;
  padding: 0.3em !default;
  position: relative !default;
  outline: 0 none !default;

  &.ui-menu-dynamic {
    position: absolute !default;
    display: none !default;
    z-index: 100000 !default;
  }
}

.ui-menu-list {
  position: static !default;
}

.ui-menu {
  .ui-menu-list {
    .ui-menuitem {
      border: none !default;
    }

    .ui-widget-header {
      clear: both !default;
      float: left !default;
      width: 98% !default;
      margin: 1px 0 !default;
    }
  }

  .ui-menuitem, .ui-menuitem-parent {
    width: 100% !default;
    float: left !default;
    clear: both !default;
    margin: 1px 0 !default;
    padding: 0 !default;
  }

  .ui-menuitem-link {
    display: block !default;
    width: 92% !default;
    outline: none !default;
    text-decoration: none !default;
    font-weight: 400 !default;
    border: solid 1px transparent !default;
    float: left !default;
    line-height: 16px !default;
    padding: 0.3em !default;
    cursor: pointer !default;

    .ui-menuitem-icon {
      display: inline-block !default;
      float: left !default;
    }
  }

  .ui-submenu-icon {
    display: inline-block !default;
    float: left !default;
    margin-top: 1px !default;
  }

  .ui-menuitem-text {
    float: left !default;
  }

  .ui-widget-header {
    h1, h2, h3, h4, h5, h6 {
      float: left !default;
      display: block !default;
      font-size: 1em !default;
      margin: 0 auto !default;
      padding: 0.3em 3% !default;
    }
  }

  .ui-menu-parent {
    .ui-menu-child {
      display: none !default;
      width: 12.5em !default;
      padding: 0.3em !default;
      position: absolute !default;
      margin: 0 !default;
      outline: 0 !default;
      line-height: 1.3 !default;
      text-decoration: none !default;
      font-size: 100% !default;
      list-style: none !default;
    }

    position: relative !default;
  }

  &.ui-menu-toggleable li.ui-widget-header {
    position: relative !default;
    min-height: 0 !default;

    h3 {
      padding-left: 2em !default;
    }

    &.ui-state-hover {
      cursor: pointer !default;
    }

    .ui-icon {
      position: absolute !default;
      left: .5em !default;
      top: 50% !default;
      margin-top: -8px !default;
    }
  }

  .ui-menu-parent {
    .ui-icon-triangle-1-e, .ui-icon-triangle-1-s {
      float: right !default;
    }
  }
}

/* Toggleable Menu */

.ui-menubar .ui-menu-child .ui-icon-triangle-1-s {
  float: right !default;
}

.ui-menubutton {
  padding: 0 !default;
  position: relative !default;
  display: inline-block !default;

  .ui-button {
    margin: 0 !default;
  }
}

/** Menubar **/

.ui-menubar {
  width: auto !default;

  .ui-menuitem {
    width: auto !default;
    clear: none !default;
  }

  .ui-menu-child {
    .ui-menuitem {
      width: 100% !default;
    }

    top: 25px !default;
    left: 0 !default;
  }

  .ui-menuitem-link {
    width: auto !default;
    padding: 0.4em 0.3em !default;
  }

  .ui-menu-child .ui-menuitem-link {
    width: 92% !default;
  }

  .ui-widget-header {
    clear: none !default;
    width: auto !default;
    margin: 0 3px 0 0 !default;

    h1, h2, h3, h4, h5, h6 {
      padding: 0.4em 0.3em !default;
    }
  }

  .ui-menubar-options {
    float: right !default;
  }

  > .ui-menu-list > .ui-menuitem > .ui-menuitem-link span {
    &.ui-icon-triangle-1-e, &.ui-icon-triangle-1-s {
      *float: none !default;
    }
  }
}

.ui-menu .ui-separator {
  width: 98% !default;
  height: 0px !default;
  float: left !default;
  clear: both !default;
  margin: 1px 0 0 0 !default;
  padding: 0 !default;
  border-top: 0px none !default;
}

/** MegaMenu **/

.ui-megamenu td {
  vertical-align: top !default;
}

.ui-menu.ui-megamenu {
  .ui-menu-parent .ui-menu-child {
    width: auto !default;
  }

  .ui-menu-child {
    > table {
      width: auto !default;
    }

    .ui-menu-list {
      width: 12.5em !default;
    }
  }
}

.ui-megamenu-vertical {
  width: 12.5em !default;

  .ui-menu-parent {
    clear: both !default;
    width: 100% !default;
  }

  .ui-submenu-link.ui-menuitem-link {
    width: 92% !default;
  }
}

/** Breadcrumb **/

.ui-breadcrumb {
  margin: 0 !default;
  padding: 0 !default;
  overflow: hidden !default;
  padding: 5px 5px 7px 5px !default;

  ul {
    margin: 0 !default;
    padding: 0 !default;
    display: block !default;

    li {
      display: block !default;
      float: left !default;
      position: relative !default;
      overflow: hidden !default;

      span {
        display: block !default;
        overflow: hidden !default;
      }

      .ui-menuitem-link {
        display: block !default;
        position: relative !default;
        overflow: hidden !default;
        float: left !default;
        *cursor: pointer !default;
        margin-top: 3px !default;
      }

      a.ui-icon-home {
        padding: 0 !default;
        margin-top: 1px !default;
        overflow: hidden !default;
      }
    }
  }
}

.ui-breadcrumb-chevron {
  float: left !default;
  margin-top: 2px !default;
}

.ui-breadcrumb .ui-breadcrumb-options {
  float: right !default;
}

/** SlideMenu **/

.ui-slidemenu {
  .ui-slidemenu-wrapper {
    position: relative !default;
  }

  .ui-slidemenu-content {
    overflow-x: hidden !default;
    overflow-y: auto !default;
    position: relative !default;
  }

  .ui-menu-list {
    position: absolute !default;
    top: 0 !default;
  }

  .ui-menu-parent {
    position: static !default;
  }

  .ui-menu-child {
    box-shadow: none !default;
    border: 0 none !default;
    background: none repeat scroll 0 0 transparent !default;
  }
}

.ui-slidemenu-backward {
  position: absolute !default;
  bottom: 0 !default;
  width: 95% !default;
  margin-bottom: 0.4em !default;
  padding: 0.2em !default;
  cursor: pointer !default;
  display: none !default;

  .ui-icon {
    float: left !default;
  }
}

/** PanelMenu **/

.ui-panelmenu {
  width: auto !default;

  .ui-panelmenu-panel {
    padding: 0 !default;
    margin: 0 !default;
  }

  .ui-panelmenu-header {
    cursor: pointer !default;
    position: relative !default;
    margin: 0 !default;
    zoom: 1 !default;

    a {
      display: block !default;
      padding: .5em .5em .5em 2.2em !default;
    }

    .ui-icon {
      position: absolute !default;
      left: .5em !default;
      top: 50% !default;
      margin-top: -8px !default;
    }
  }

  .ui-panelmenu-content {
    padding: 0.2em 0 !default;
    border-top: 0 !default;
    margin-top: -2px !default;
    position: relative !default;
    top: 1px !default;
    overflow: auto !default;
    zoom: 1 !default;
    outline: none !default;
  }

  .ui-panelmenu-header.ui-state-disabled {
    cursor: default !default;

    a {
      cursor: default !default;
    }
  }

  .ui-menu-list {
    position: static !default;
  }

  .ui-menuitem {
    margin: 1px 0 !default;
    padding: 0 !default;
  }

  .ui-menuitem-link {
    display: block !default;
    outline: none !default;
    text-decoration: none !default;
    font-weight: 400 !default;
    border: solid 1px transparent !default;
    line-height: 16px !default;
    cursor: pointer !default;
    position: relative !default;
    padding: 0.3em 0.3em 0.3em 2em !default;
  }

  .ui-menu-parent .ui-menuitem-link-hasicon {
    padding-left: 2.8em !default;
  }

  .ui-icon {
    position: absolute !default;
    right: auto !default;
    top: 0 !default;
    bottom: 0 !default;
    margin: auto 0 !default;
    left: 0.5em !default;
  }

  .ui-menu-parent {
    > .ui-menuitem-link > .ui-icon {
      left: 1.5em !default;
    }

    .ui-panelmenu-icon.ui-icon {
      left: 0.5em !default;
    }
  }

  .ui-menuitem-text {
    float: none !default;
  }

  .ui-menu-parent .ui-menu-list {
    margin-left: 20px !default;
  }
}

.ui-menuitem-outline {
  outline: 1px dotted !default;
  z-index: 1 !default;
}

/** TabMenu **/

.ui-tabmenu {
  position: relative !default;
  zoom: 1 !default;

  .ui-tabmenu-nav {
    margin: 0 !default;
    padding: .2em .2em 0 !default;

    .ui-tabmenuitem {
      list-style: none !default;
      float: left !default;
      position: relative !default;
      margin: 0 .2em 1px 0 !default;
      padding: 0 !default;
      white-space: nowrap !default;
      display: block !default;
      border-bottom: 0 !default;
      top: 1px !default;

      a {
        float: left !default;
        padding: 0.5em 1em !default;
        text-decoration: none !default;
      }
    }

    .ui-tabmenuitem-hasicon a {
      padding: 0.5em 1em 0.5em 0.2em !default;
    }

    .ui-tabmenuitem .ui-icon {
      float: left !default;
      cursor: pointer !default;
    }
  }
}

/** Steps **/

.ui-steps {
  ul {
    list-style-type: none !default;
    padding: 0 !default;
    margin: 0 !default;
  }

  .ui-steps-item {
    float: left !default;
    box-sizing: border-box !default;

    .ui-menuitem-link {
      text-decoration: none !default;
      display: block !default;
      padding: 1em !default;
      position: relative !default;
      text-align: center !default;
    }

    &.ui-state-highlight .ui-menuitem-link, &.ui-state-disabled .ui-menuitem-link {
      cursor: default !default;
    }
  }

  .ui-steps-number {
    font-size: 200% !default;
    display: block !default;
  }

  .ui-steps-title {
    display: block !default;
    white-space: nowrap !default;
  }
}

/* Responsive */
@media (max-width: 640px) {
  .ui-steps .ui-steps-item {
    .ui-menuitem-link {
      padding: 0.5em !default;
    }

    .ui-steps-title {
      display: none !default;
    }
  }
}

/** Fluid **/

.ui-fluid .ui-menu {
  width: 100% !default;
  box-sizing: border-box !default;
  -webkit-box-sizing: border-box !default;
  -moz-box-sizing: border-box !default;
}
