$_ui_wizard___margin: 0 !default;
$_ui_wizard___padding: 0 !default;
$_ui_wizard_content___margin: 3px 0 !default;
$_ui_wizard_navbar___text_align: right !default;
$_ui_wizard_nav_back___ui_wizard_nav_next___cursor: pointer !default;
$_ui_wizard_nav_back___float: left !default;
$_ui_wizard_nav_next___float: right !default;
$_ui_wizard_step_title___font_size: 18px !default;
$_ui_wizard_step_title___margin: 0 3px 0 0 !default;
$_ui_wizard_step_title___padding: 0.4em !default;
$_ui_wizard_step_title___float: left !default;
.ui-wizard {
  margin: $_ui_wizard___margin;
  padding: $_ui_wizard___padding;
}

.ui-wizard-content {
  margin: $_ui_wizard_content___margin;
}

.ui-wizard-navbar {
  text-align: $_ui_wizard_navbar___text_align;
}

.ui-wizard-nav-back, .ui-wizard-nav-next {
  cursor: $_ui_wizard_nav_back___ui_wizard_nav_next___cursor;
}

.ui-wizard-nav-back {
  float: $_ui_wizard_nav_back___float;
}

.ui-wizard-nav-next {
  float: $_ui_wizard_nav_next___float;
}

.ui-wizard-step-title {
  font-size: $_ui_wizard_step_title___font_size;
  margin: $_ui_wizard_step_title___margin;
  padding: $_ui_wizard_step_title___padding;
  float: $_ui_wizard_step_title___float;
}
