extends ../../../templates/layout/page

include ../../../templates/components/navigation/nav
include ../../../templates/components/navigation/tabs

prepend unwrapped_content
    div.px-3
        +navStages(examples.navItems.filter(i => !i.disabled), true)

block content
    div
        +tabs(examples.navItems.filter(i => !i.disabled))