<div class="heading">
  <h2 class="lite-heading">Related Links</h2>
</div>
<ul class="list-unstyled related-links">
  <li><a href="http://www.websupport.cam.ac.uk/Project-Light/template-variants/sub-section-with-left-navigation.html#">Lorem ipsum dolor sit amet</a></li>
  <li><a href="http://www.websupport.cam.ac.uk/Project-Light/template-variants/sub-section-with-left-navigation.html#">Consectetur adipisicing elit</a></li>
  <li><a href="http://www.websupport.cam.ac.uk/Project-Light/template-variants/sub-section-with-left-navigation.html#">Sed do eiusmod tempor incididunt extra long wrapping on to two line</a></li>
  <li><a href="http://www.websupport.cam.ac.uk/Project-Light/template-variants/sub-section-with-left-navigation.html#">Labore et dolore magna aliqua</a></li>
  <li><a href="http://www.websupport.cam.ac.uk/Project-Light/template-variants/sub-section-with-left-navigation.html#">Ut enim ad minim veniam</a></li>
  <li><a href="http://www.websupport.cam.ac.uk/Project-Light/template-variants/sub-section-with-left-navigation.html#">Quis nostrud exercitation ullamco</a></li>
</ul>
