<script type="text/javascript" src="/js/theme_switcher.min.js"></script>
<link rel="stylesheet" href="/css/meta.min.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/styles/monokai_sublime.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/highlight.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/languages/django.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/languages/scss.min.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $('pre code').each(function(i, block) {
      hljs.highlightBlock(block);
    });
    $('span.hljs-keyword:contains("import") + span.hljs-string:not(:contains("lib")):not(:contains("compass"))').each( function(i, e) {
      // special case for campl
      $(e).html($(e).html().replace(/['"](campl)['"]/, '\'<a href="/stylesheets/campl.scss/">campl</a>\''));
      $(e).html($(e).html().replace(/['"]((?:\w+\/)*)(\w+)['"]/, '\'<a href="/stylesheets/$1_$2.scss/">$1$2</a>\''));
    });
    $('span.hljs-template_tag:contains(".html")').each( function(i, e) {
      $(e).html($(e).html().replace(/'(.*.html)'/, '\'<a href="/templates/$1/">$1</a>\''));
    });
  });
</script>
