{% extends 'layout/page.html' %}

{% from 'layout/sidebar/related_links.html' import related_links %}

{% block unwrapped_content %}
<pre><code class="django">{{ template|e }}</code></pre>
{% endblock %}

{% block sidebar_content %}
{% if template_references %}
<div class="heading-container">
  <h2 class="lite-heading">Template References</h2>
</div>
{{ related_links(template_references) }}
{% endif %}
{% if referencing_templates %}
<div class="heading-container m-t-1">
  <h2 class="lite-heading">Referencing Templates</h2>
</div>
{{ related_links(referencing_templates) }}
{% endif %}
{% endblock %}