{% extends 'layouts/page.html' %}

{% from 'layouts/sidebar/sidebar.html' import sidebar_heading %}
{% from 'layouts/sidebar/related_links.html' import related_links %}

{% block unwrapped_content %}
<pre style="margin:0;"><code class="django" style="font-size:1.2em;">{{ template|e }}</code></pre>
{% endblock %}

{% block sidebar_content %}
{% if template_references %}
{{ sidebar_heading('Template References') }}
{{ related_links(template_references) }}
{% endif %}
{% if referencing_templates %}
{{ sidebar_heading('Referencing Templates') }}
{{ related_links(referencing_templates) }}
{% endif %}
{% endblock %}