<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
    Theme Switcher
  </a>
  <ul class="dropdown-menu">
    {% for colour, theme in COLOURS.items() %}
      <li>
        <a href="#" class="dropdown-item" data-toggle="theme" data-colour="{{ colour }}">{{ colour|title }}</a>
      </li>
    {% endfor %}
    <li>
      <a class="dropdown-item" href="#disco">
        <span class="fa fa-random">&nbsp;</span> Shuffle
      </a>
    </li>
  </ul>
</li>
<style type="text/css">
{% for colour, theme in COLOURS.items() %}
.dropdown-menu a[data-colour="{{ colour }}"] {
  background-color: {{ theme['light-highlight'] }};
}
.dropdown-menu a[data-colour="{{ colour }}"]:hover {
  background-color: {{ theme['page-background'] }} !important;
}
.dropdown-menu a[href="#disco"] {
  background-color: #000000 !important;
}
.dropdown-menu a[href="#disco"]:hover {
  background-color: #111111 !important;
}
{% endfor %}
</style>
