<div class="global-footer">
  <div class="container">
    <div class="row">
      {% for column in FOOTER_LINKS %}
      <div class="col-md-3">
        {% if not column.header %}
          <img alt="University of Cambridge" src="{{ ROOT_URL }}/images/logo.png">
          <p>&copy; 2015 University of Cambridge</p>
        {% else %}
          <h3><a href="{{ column.header.1 }}">{{ column.header.0 }}</a></h3>
        {% endif %}
        <ul class="list-unstyled">
          {% for title, href in column.links %}
          <li>
            <a href="{{ href }}">{{ title }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endfor %}
    </div>
  </div>
</div>