<div class="global-footer">
  <div class="container">
    <div class="row">
      {% for column in LINKS.FOOTER_LINKS %}
      <div class="col-md-3">
        {% if not column.heading %}
          <img class="logo logo-sm" alt="University of Cambridge" src="{{ ROOT_URL }}/images/logo.png">
          <p>&copy; 2015 University of Cambridge</p>
        {% else %}
          <h3><a href="{{ column.heading.link }}">{{ column.heading.title }}</a></h3>
        {% endif %}
        <ul class="list-unstyled">
          {% for link in column.links %}
          <li>
            <a href="{{ link.link }}">{{ link.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endfor %}
    </div>
  </div>
</div>