<div class="local-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h3><a href="">About the Faculty</a></h3>
        <ul class="list-unstyled hidden-sm-down">
          <li>
            <a href="">Lorem ipsum dolor</a>
          </li>
          <li>
            <a href="">Sit amet</a>
          </li>
          <li>
            <a href="">Consectetur adipisicing elit</a>
          </li>
          <li>
            <a href="">Sed do eiusmod</a>
          </li>
          <li>
            <a href="">Tempor incididunt</a>
          </li>
        </ul>
        <h3><a href="">Research</a></h3> 
        <ul class="list-unstyled hidden-sm-down">
          <li>
            <a href="">Ut labore et dolore</a>
          </li>
          <li>
            <a href="">Ut enim ad minim veniam</a>
          </li>
          <li>
            <a href="">Magna aliqua</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <h3><a href="">About the University</a></h3> 
        <ul class="list-unstyled hidden-sm-down">
          <li>
            <a href="">Quis nostrud exercitation</a>
          </li>
          <li>
            <a href="">Ullamco laboris nisi</a>
          </li>
          <li>
            <a href="">Ut aliquip ex ea commodo</a>
          </li>
          <li>
            <a href="">Duis aute irure dolor</a>
          </li>
        </ul>
        <h3><a href="">Libraries &amp; facilities</a></h3> 
        <ul class="list-unstyled hidden-sm-down">
          <li>
            <a href="">In reprehenderit in voluptate</a>
          </li>
          <li>
            <a href="">Velit esse cillum dolore</a>
          </li>
          <li>
            <a href="">Eu fugiat nulla pariatur</a>
          </li>
          <li>
            <a href="">Duis aute irure dolor</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <h3><a href="">Graduate</a></h3> 
        <ul class="list-unstyled hidden-sm-down">
          <li>
            <a href="">Excepteur sint occaecat</a>
          </li>
          <li>
            <a href="">Cupidatat non proident</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <h3><a href="">Subjects</a></h3> 
        <ul class="list-unstyled hidden-sm-down">
          <li>
            <a href="">Sunt in culpa qui officia</a>
          </li>
          <li>
            <a href="">Deserunt mollit anim</a>
          </li>
          <li>
            <a href="">Id est laborum</a>
          </li>
          <li>
            <a href="">Duis aute irure dolor</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
