{% set FOOTER_ITEMS = []%}
  





<div class="local-footer">
  <div class="container">
    <div class="row">
      {% for colspan, content in FOOTER_ITEMS %}
      <div class="col-md-{{ colspan }}">
        {% for heading, heading_link, links in content %}
          <h3><a href="{{ heading_link }}">{{ heading }}</a></h3>
          {% if links %}
          <ul class="list-unstyled hidden-sm-down">
            {% for title, link in links %}
            <li>
              <a href="{{ link }}">{{ title }}</a>
            </li>
            {% endfor %}
          </ul>
          {% endif %}
        {% endfor %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>
