.local-header {
  @include media-breakpoint-down(sm) {
    .navbar-local {
      @include theme-element(background-color, page-background);
      li {
        @include theme-element(background-color, page-background, !important);
        float: none;

        @include hover-focus {
          @include theme-element(background-color, navbar, !important);
        }
      }

      .dropdown-menu {
        float: none;
        position: static;
      }
    }

    .navbar-toggler {
      @include theme-element(background-color, navbar);
      border: 0;
      padding: 0;

      a {
        color: $white;
        padding: 15px 25px;
        display: block;
        font-size: 18px;
        line-height: 24px;
        @include fontextra-element();

        @include hover-focus {
          color: $white;
          text-decoration: none;
        }

        .mobile-menu-button {
          @include theme-element(background-color, dark-highlight);
          width: 53px;
          height: 53px;
          display: block;
          margin: -15px -25px;
          float: right;
        }
      }
    }
  }
}

.local-menu-button {
  @include theme-element(background-color, dark-highlight);
  display: block;
  margin: 15px;
  padding: 1px 3px;
  color: #999999;

  @include hover-focus {
    @include theme-element(background-color, dark-highlight);
    color: #999999;
  }

  span {
    padding: 4px;
  }
}
