.local-header {
  @include media-breakpoint-down(sm) {
    .navbar-local {
      @include theme_element(background-color, page-background);
      li {
        float: none;
        @include theme_element(background-color, page-background, !important);
        @include hover-focus {
          @include theme_element(background-color, navbar, !important);
        }
      }
      .dropdown-menu {
        float: none;
        position: static;
      }
        
    }
    .navbar-toggler {
      @include theme_element(background-color, navbar);
      border: 0;
      padding: 0;
      a {
        color: #fff;
        padding: 15px 25px;
        display: block;
        font-size: 18px;
        line-height: 24px;
        font-family: $font-family-sans-serif-extra;
        @include hover-focus {
          color: #fff;
          text-decoration: none;
        }
        .mobile-menu-button {
          @include theme_element(background-color, dark-highlight);
          width: 53px;
          height: 53px;
          display: block;
          margin: -15px -25px;
          float: right;
        }
      }
    }
  }
}

.local-menu-button {
  display: block;
  margin: 15px;
  padding: 1px 3px;
  @include theme_element(background-color, dark-highlight);
  color: #999;
  @include hover-focus {
    color: #999;
    @include theme_element(background-color, dark-highlight);
  }
  span {
    padding: 4px;
  }
}
