.ui-rating-star, .ui-rating-cancel {
  float: left !default;
  display: block !default;
  overflow: hidden !default;
  text-indent: -999em !default;
  cursor: pointer !default;
}

.ui-rating-star a, .ui-rating-cancel a {
  width: 16px !default;
  height: 15px !default;
  display: block !default;
  background: url("rating/rating.png") no-repeat 0 0 !default;
}

.ui-rating-star a {
  background-position: 0 -32px !default;
}

.ui-rating-star-on a {
  background-position: 0 -48px !default;
}

.ui-rating-star-hover a {
  background-position: 0 -64px !default;
}

.ui-rating-cancel-hover a {
  background-position: 0 -16px !default;
}

.ui-rating.ui-state-disabled {
  .ui-rating-star, .ui-rating-cancel {
    cursor: default !default;
  }
}
