.ui-orderlist {
  display: table;

  .ui-orderlist-caption {
    width: 180px;
  }

  .ui-orderlist-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    height: 200px;
    width: 200px;

    li {
      margin: 1px;
      padding: 2px;
    }
  }

  .ui-button {
    display: block;
    margin-bottom: 0.3em;
  }

  .ui-orderlist-button.ui-button-text-icon-primary {
    width: 100%;
  }

  .ui-orderlist-item {
    cursor: pointer;
    border: 0px none;
    font-weight: inherit;
  }

  .ui-orderlist-caption {
    text-align: center;
    padding: 4px 0px;
    border-bottom: 0px none;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  &.ui-state-disabled {
    .ui-orderlist-item, .ui-button {
      cursor: default;
    }

    .ui-orderlist-list {
      overflow: hidden;
    }
  }

  &.ui-grid-responsive {
    display: block;
    width: 100%;

    .ui-orderlist-controls {
      margin-right: 10px;
    }

    .ui-orderlist-list, .ui-orderlist-caption, .ui-orderlist-controls .ui-button {
      width: 100%;
    }
  }
}

/* Responsive */

@media (max-width: 640px) {
  .ui-orderlist.ui-grid-responsive .ui-orderlist-controls {
    text-align: center;

    .ui-button {
      display: inline;
      width: 20%;
    }
  }
}
