{% extends 'layouts/page.html' %}

{% block sidebar_content %}{% endblock %}

{% block subtitle %}
<div class="local-header">
  <div class="container subtitle atoz">
    <div class="hidden-sm-down">
      <ul role="tablist" class="">
        {% for letter, content, active in A_TO_Z %}
          <li class="nav-item">
            {% if content %}
            <a href="#atoz_{{ letter }}" class="nav-link{% if active %} active{% endif %}" role="tab" data-toggle="tab">{{ letter }}</a>
            {% else %}
            <span>{{ letter }}</span>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="hidden-md-up">
      <select class="form-control" data-toggle="tab">
        {% for letter, content, active in A_TO_Z %}
          {% if content %}
          <option value="#atoz_{{ letter }}"{% if active %} selected{% endif %}>{{ letter }}</option>
          {% endif %}
        {% endfor %}
      </select>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="tab-content">
  {% for letter, content, active in A_TO_Z %}
    {% if content %}
    <div role="tabpanel" class="tab-pane{% if active %} active{% endif %}" id="atoz_{{ letter }}">
      <h2>{{ letter }} is for...</h2>
      {{ content }}
    </div>
    {% endif %}
  {% endfor %}
</div>
{% endblock %}