.ui-inputswitch {
  display: inline-block !default;
  padding: 0 !default;
  position: relative !default;
  overflow: hidden !default;
  cursor: pointer !default;
  user-select: none !default;
  -moz-user-select: none !default;
  -khtml-user-select: none !default;
  -webkit-user-select: none !default;
  height: 24px !default;

  .ui-inputswitch-on {
    white-space: nowrap !default;
    display: block !default;
    position: absolute !default;
    top: 0 !default;
    width: auto !default;
    overflow: hidden !default;
    user-select: none !default;
    -moz-user-select: none !default;
    -khtml-user-select: none !default;
    -webkit-user-select: none !default;
    font-weight: bold !default;
    height: 20px !default;
    padding-top: 4px !default;
  }

  .ui-inputswitch-off {
    white-space: nowrap !default;
    display: block !default;
    position: absolute !default;
    top: 0 !default;
    width: auto !default;
    overflow: hidden !default;
    user-select: none !default;
    -moz-user-select: none !default;
    -khtml-user-select: none !default;
    -webkit-user-select: none !default;
    font-weight: bold !default;
    height: 20px !default;
    padding-top: 4px !default;
    right: 0 !default;
    text-align: right !default;

    span {
      display: inline-block !default;
      text-align: center !default;
      padding-left: 2px !default;
      padding-right: 3px !default;
    }
  }

  .ui-inputswitch-on {
    left: 0 !default;
    padding-right: 4px !default;
    border: 0 none !default;

    span {
      display: inline-block !default;
      text-align: center !default;
      padding-left: 3px !default;
      padding-right: 2px !default;
    }
  }

  .ui-inputswitch-handle {
    display: block !default;
    width: 0 !default;
    position: absolute !default;
    top: 0 !default;
    left: 0 !default;
    height: 24px !default;
    border-top: 0 none !default;
    border-bottom: 0 none !default;
  }
}
