{% macro nav(items, type, stacked=false, local=false) %}
  <ul class="nav nav-{{ type }}s{% if stacked %} nav-stacked{% endif %}" role="tablist">
    {% for item in items %}
    <li class="nav-item">
      <a 
        class="nav-link{% if item.disabled %} disabled{% elif item.active %} active{% endif %}"
        role="tab"
        {% if not item.disabled %}
          {% if local %}
            data-toggle="{{ type }}"
            href="#{{ item.id }}"
          {% else %}
            href="{{ item.link }}"
          {% endif %}
        {% endif %}
      >{{ item.title }}</a>
    </li>
    {% endfor %}
  </ul>
{% endmacro %}

{% macro tabs(items) %}
<div class="tab-content">
  {% for item in items %}
    {% if not item.disabled %}
      <div role="tabpanel" class="tab-pane{% if item.active %} active{% endif %}" id="{{ item.id }}">
        {{ item.content }}
      </div>
    {% endif %}
  {% endfor %}
</div>
{% endmacro %}

{% set NAV_ITEMS_EXAMPLE = [
  {
    'title': 'Active',
    'id': 'tab1',
    'disabled': false,
    'active': true,
    'content': lipsum(2),
  },
  {
    'title': 'Link',
    'id': 'tab2',
    'disabled': false,
    'active': false,
    'content': lipsum(2),
  },
  {
    'title': 'Another Link',
    'id': 'tab3',
    'disabled': false,
    'active': false,
    'content': lipsum(2),
  },
  {
    'title': 'Disabled',
    'disabled': true
  }
] %}