{% extends 'layouts/subnav.html' %}

{% import 'components/inpage/navigation/nav.html' as nav %}


{% block content %}

<div class="row">
  <div class="col-md-4">
    {{ nav.nav(nav.NAV_ITEMS_EXAMPLE, 'pill', stacked=true, local=true) }}
  </div>
  <div class="col-md-8 p-l">
    {{ nav.tabs(nav.NAV_ITEMS_EXAMPLE) }}
  </div>
</div>

<h2>Nav Macro</h2>
{{ print_macro(nav.nav) }}

<h2>Usage</h2>
<pre><code class="django">{% raw %}{{ nav.nav(nav.NAV_ITEMS_EXAMPLE, 'pill', stacked=true, local=true) }}{% endraw %}</code></pre>

{% endblock %}
