{% extends 'layouts/page.html' %}

{% import 'components/inpage/navigation/nav.html' as nav %}


{% block content %}

<div class="clearfix">
  {{ nav.nav(nav.NAV_ITEMS_EXAMPLE[:-1], 'pill', local=true, extra_classes="nav-stages") }}
</div>
<div class="p-t">
  {{ nav.tabs(nav.NAV_ITEMS_EXAMPLE[:-1]) }}
</div>

<h2>Nav Macro</h2>
{{ print_macro(nav.nav) }}

<h2>Usage</h2>
<pre><code class="django">{% raw %}{{ nav.nav(nav.NAV_ITEMS_EXAMPLE, 'pill', local=true, extra_classes="nav-stages") }}{% endraw %}</code></pre>


{% endblock %}
