{% extends 'layouts/page.html' %}

{% import 'components/inpage/navigation/nav.html' as nav %}


{% block unwrapped_content %}
<div class="p-x">
  {{ nav.nav(nav.NAV_ITEMS_EXAMPLE[:-1], 'stage', local=true, extra_classes="nav-pills") }}
</div>
{% endblock %}

{% block content %}
<div>
  {{ nav.tabs(nav.NAV_ITEMS_EXAMPLE[:-1]) }}
</div>
<h2>Nav Macro</h2>
{{ print_macro(nav.nav) }}

<h2>Usage</h2>
<pre><code class="django">{% raw %}{{ nav.nav(nav.NAV_ITEMS_EXAMPLE, 'pill', local=true, extra_classes="nav-stages") }}{% endraw %}</code></pre>


{% endblock %}
