div.local-header
    a.local-menu-button.pull-xs-right.hidden-md-up(href="#vertical-menu", data-toggle="collapse")
        span.fa.fa-bars.fa-2x
    div.container.p-a-1
        include ../../../navigation/breadcrumb
        div
            p.title= siteName

div.local-header
    // todo: include navigation/horizontal_menu