.ui-inplace {
  .ui-inplace-display {
    cursor: pointer;
    border: 0px none !important;
  }

  .ui-inplace-disabled {
    cursor: default;
  }

  .ui-inplace-content {}

  .ui-inplace-editor {
    margin-left: 0.1em;

    .ui-button-icon-only .ui-button-text {
      padding: 0;
    }
  }
}
