.vertical-menu-children-fa {
  @include media-breakpoint-down(sm) {
    > li {
      position: relative;

      .fa {
        position: absolute;
        top: 0.2em;
        left: -1.5em;
			}
		}
	}
}
