.vertical-menu-siblings {
  border-bottom: $border-width solid $border-color;
  background-color: $white;
  padding: $spacer / 4 $spacer;
  font-size: 14px;
  margin-bottom: 0;

  @include media-breakpoint-down(sm) {
    @include theme-element(border-bottom-color, light-highlight);
    border-bottom-width: 5px;
  }

  > li {
    padding: 10px 0;

    @include media-breakpoint-down(sm) {
      padding: 0;
    }
    
    &:not(:first-child) {
      border-top: $border-width solid $border-color;
    }
    
    > a,
    > span {
      font-weight: bold;

      @include media-breakpoint-down(sm) {
        display: block;
        padding: 10px 0;
      }
    }
  }
}
