$_ui_galleria___overflow: hidden !default;
$_ui_galleria___visibility: hidden !default;
$_ui_galleria___position: relative !default;
$_ui_galleria_panel_wrapper___position: relative !default;
$_ui_galleria_panel_wrapper___padding: 0px !default;
$_ui_galleria_panel_wrapper___margin: 0px !default;
$_ui_galleria_panel___filter: inherit !default;
$_ui_galleria_panel___position: absolute !default;
$_ui_galleria_panel___top: 0px !default;
$_ui_galleria_panel___left: 0px !default;
$_ui_galleria_panel___list_style_type: none !default;
$_ui_galleria_filmstrip_wrapper___overflow: hidden !default;
$_ui_galleria_filmstrip_wrapper___margin: 5px auto !default;
$_ui_galleria_filmstrip_wrapper___position: relative !default;
$_ui_galleria_filmstrip___list_style: none outside none !default;
$_ui_galleria_filmstrip___margin: 0 !default;
$_ui_galleria_filmstrip___padding: 0 !default;
$_ui_galleria_filmstrip___width: 2340px !default;
$_ui_galleria_filmstrip___z_index: 900 !default;
$_ui_galleria_filmstrip___position: absolute !default;
$_ui_galleria_filmstrip___top: 0px !default;
$_ui_galleria_filmstrip___left: 0px !default;
$_ui_galleria_frame___float: left !default;
$_ui_galleria_frame___margin_right: 5px !default;
$_ui_galleria_frame___opacity: 0.3 !default;
$_ui_galleria_frame___cursor: pointer !default;
$_ui_galleria_frame_active___opacity: 1 !default;
$_ui_galleria_frame_content___overflow: hidden !default;
$_ui_galleria_nav_next___cursor: pointer !default;
$_ui_galleria_nav_next___position: absolute !default;
$_ui_galleria_nav_prev___cursor: pointer !default;
$_ui_galleria_nav_prev___position: absolute !default;
$_ui_galleria_nav_prev___left: 5px !default;
$_ui_galleria_nav_next___right: 5px !default;
$_ui_galleria_caption___position: absolute !default;
$_ui_galleria_caption___left: 1px !default;
$_ui_galleria_caption___background_color: rgba(0, 0, 0, 0.5) !default;
$_ui_galleria_caption___display: none !default;
$_ui_galleria_caption___color: #FFFFFF !default;
$_ui_galleria_caption___padding: 0.2em 1em !default;
.ui-galleria {
  overflow: $_ui_galleria___overflow;
  visibility: $_ui_galleria___visibility;
  position: $_ui_galleria___position;
}

.ui-galleria-panel-wrapper {
  position: $_ui_galleria_panel_wrapper___position;
  padding: $_ui_galleria_panel_wrapper___padding;
  margin: $_ui_galleria_panel_wrapper___margin;
}

.ui-galleria-panel {
  filter: $_ui_galleria_panel___filter;
  position: $_ui_galleria_panel___position;
  top: $_ui_galleria_panel___top;
  left: $_ui_galleria_panel___left;
  list-style-type: $_ui_galleria_panel___list_style_type;
}

.ui-galleria-filmstrip-wrapper {
  overflow: $_ui_galleria_filmstrip_wrapper___overflow;
  margin: $_ui_galleria_filmstrip_wrapper___margin;
  position: $_ui_galleria_filmstrip_wrapper___position;
}

.ui-galleria-filmstrip {
  list-style: $_ui_galleria_filmstrip___list_style;
  margin: $_ui_galleria_filmstrip___margin;
  padding: $_ui_galleria_filmstrip___padding;
  width: $_ui_galleria_filmstrip___width;
  z-index: $_ui_galleria_filmstrip___z_index;
  position: $_ui_galleria_filmstrip___position;
  top: $_ui_galleria_filmstrip___top;
  left: $_ui_galleria_filmstrip___left;
}

.ui-galleria-frame {
  float: $_ui_galleria_frame___float;
  margin-right: $_ui_galleria_frame___margin_right;
  opacity: $_ui_galleria_frame___opacity;
  cursor: $_ui_galleria_frame___cursor;
}

.ui-galleria-frame-active {
  opacity: $_ui_galleria_frame_active___opacity;
}

.ui-galleria-frame-content {
  overflow: $_ui_galleria_frame_content___overflow;
}

.ui-galleria-nav-next {
  cursor: $_ui_galleria_nav_next___cursor;
  position: $_ui_galleria_nav_next___position;
}

.ui-galleria-nav-prev {
  cursor: $_ui_galleria_nav_prev___cursor;
  position: $_ui_galleria_nav_prev___position;
  left: $_ui_galleria_nav_prev___left;
}

.ui-galleria-nav-next {
  right: $_ui_galleria_nav_next___right;
}

.ui-galleria-caption {
  position: $_ui_galleria_caption___position;
  left: $_ui_galleria_caption___left;
  background-color: $_ui_galleria_caption___background_color;
  display: $_ui_galleria_caption___display;
  color: $_ui_galleria_caption___color;
  padding: $_ui_galleria_caption___padding;
}
