.local-footer {
  @include theme-element(background-color, page-background);
  color: $white;

  a {
    @include theme-element(color, pale-tone);

    @include hover-focus {
      text-decoration: none;
    }
  }

  h3 {
    padding-bottom: 10px;

    a {
      @include theme-element(color, pale-tone);
      font-size: 14px;
    }
  }

  li {
    padding-bottom: 5px;

    a {
      color: $white !important;
    }
  }
}
