{% extends 'layouts/page.html' %}

{% macro top_alert(type, title, icon, message, dismissable=false) %}
<div class="alert alert-top alert-{{ type }}{% if dismissable %} alert-dismissable{% endif %}" role="alert">
  {% if dismissable %}
  <div class="close pull-right" data-dismiss="alert">&times;</div>
  {% endif %}
  <div class="row">
    <div class="col-md-4">
      <span class="fa fa-{{ icon }}"></span>
      <span>{{ title }}:</span>
    </div>
    <div class="col-md-8">
      {{ message }}
    </div>
  </div>
</div>
{% endmacro %}

{% macro alert(type, title, message, icon=None, dismissable=false) %}
<div class="alert alert-{{ type }}{% if dismissable %} alert-dismissable{% endif %}" role="alert">
  {% if dismissable %}
  <div class="close pull-right" data-dismiss="alert">&times;</div>
  {% endif %}
  <div class="row">
    <div class="col-md-4">
      <span class="fa fa-{{ icon }}"></span>
      <span>{{ title }}:</span>
    </div>
    <div class="col-md-8">
      {{ message }}
    </div>
  </div>
</div>
{% endmacro %}

{% block unwrapped_content %}
<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="top_success">
    {{ top_alert('success', 'Success', 'check-circle', random_sentence(5, 10)) }}
  </div>
  <div role="tabpanel" class="tab-pane" id="top_danger">
    {{ top_alert('danger', 'Warning', 'exclamation-triangle', random_sentence(5, 10)) }}
  </div>
  <div role="tabpanel" class="tab-pane" id="top_warning">
    {{ top_alert('warning', 'Alert', 'exclamation-circle', random_sentence(5, 10)) }}
  </div>
  <div role="tabpanel" class="tab-pane" id="top_info">
    {{ top_alert('info', 'Information', 'info-circle', random_sentence(5, 10)) }}
  </div>
  <div role="tabpanel" class="tab-pane" id="top_dismissable">
    {{ top_alert('success', 'Success', 'check-circle', random_sentence(5, 10), dismissable=true) }}
  </div>
</div>
{% endblock %}

{% block content %}
<div class="clearfix" style="padding: 20px 0;">
  <ul class="nav nav-pills" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" href="#top_success" role="tab" data-toggle="tab">Success</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#top_danger" role="tab" data-toggle="tab">Danger</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#top_warning" role="tab" data-toggle="tab">Warning</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#top_info" role="tab" data-toggle="tab">Info</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#top_dismissable" role="tab" data-toggle="tab">Dismissable</a>
    </li>
  </ul>
</div>

<div class="clearfix" style="padding: 20px 0;">
  <ul class="nav nav-pills" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" href="#success" role="tab" data-toggle="tab">Success</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#danger" role="tab" data-toggle="tab">Danger</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#warning" role="tab" data-toggle="tab">Warning</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#info" role="tab" data-toggle="tab">Info</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#dismissable" role="tab" data-toggle="tab">Dismissable</a>
    </li>
  </ul>
</div>

<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="success">
    {{ alert('success', 'Success',  random_sentence(10, 20), 'check-circle') }}
  </div>
  <div role="tabpanel" class="tab-pane" id="danger">
    {{ alert('danger', 'Warning', random_sentence(10, 20), 'exclamation-triangle') }}
  </div>
  <div role="tabpanel" class="tab-pane" id="warning">
    {{ alert('warning', 'Alert', random_sentence(10, 20), 'exclamation-circle') }}
  </div>
  <div role="tabpanel" class="tab-pane" id="info">
    {{ alert('info', 'Information', random_sentence(10, 20), 'info-circle') }}
  </div>
  <div role="tabpanel" class="tab-pane" id="dismissable">
    {{ alert('success', 'Success', random_sentence(10, 20), 'check-circle', dismissable=true) }}
  </div>
</div>


<h2>Source</h2>
<h3>Alert</h3>
{{ print_macro(alert) }}

<h3>Top Alert</h3>
{{ print_macro(top_alert) }}

{% endblock %}
