@import "compass/css3/images";

.global-header-drawer {
  font-family: $font-family-sans-serif-extra;
  background-color: $gray-darker;
  color: $white;
  border-top: $border-width solid #323232;
  font-size: 14px;

  .container {
    border-right: 1px solid #323232;
  }

  .row {
    div {
      border-left: 1px solid #323232;
    }

    &:first-child {
      border-bottom: 1px solid #323232;

      > div > .list-unstyled {
        padding: $spacer;

        li {
          padding: 0;
        }
      }
    }
  }

  .global-header-close {
    font-family: $font-family-sans-serif;
    background-color: $black;
    font-size: 12px;
    font-weight: 600;

    a {
      @include background(inline-image("close-lg.png") no-repeat 90% 50%);
      padding: 21px 15px;
      height: 57px;
      color: $white;
      display: block;
    }
  }

  div > .list-unstyled {
    padding: 0 $spacer;

    > li {
      padding-top: $spacer / 2;

      > a {
        font-weight: 600;
      }
    }

    li a {
      @include background(inline-image("link-bullet-white.png") no-repeat 0 50%);
      padding-left: 10px;
    }
  }

  .list-unstyled {
    margin: 0;

    li,
    li a {
      color: $white;
    }

    .list-unstyled {
      padding-top: 15px;

      li {
        padding: 10px 0;
      }
    }
  }

  .list-unstyled:not(.hidden-sm-down) > li {
    padding: 15px 0;

    &:not(:last-child) {
      border-bottom: $border-width solid #323232;
    }
  }
}
