.global-header {
  background-color: $black;
  padding: 0;

  .navbar-brand {
    color: $navbar-dark-active-color;
    padding: 15px;

    @include hover-focus {
      color: $navbar-dark-active-color;
    }
  }

  .nav {
    .nav-item {
      border-right: $border-width solid #2e2e2e;

      @include hover-focus {
        border-left: $border-width solid #737373;
        border-right: $border-width solid #737373;

        &:not(:first-child) {
          margin-left: -$border-width;
        }
      }

      &:first-child {
        border-left: $border-width solid #2e2e2e;
      }

      + .nav-item {
        margin-left: 0;
      }

      .nav-link {
        @include fontextra-element(14px);
        line-height: 18px;
        font-weight: 600;
        color: $white !important;
        padding: $spacer * 1.25 $spacer;

        @include hover-focus {
          color: #5a5a5a !important;
          background-color: $gray-darker !important;
        }

        &[data-toggle="tab"].active {
          background-color: $gray-darker !important;
          margin-bottom: -$border-width;
          padding-bottom: 26px;
        }
      }
    }

    .open > .nav-link,
    .active > .nav-link,
    .nav-link.open,
    .nav-link.active {
      @include plain-hover-focus {
        color: $navbar-dark-active-color;
      }
    }
  }

  .navbar-divider {
    background-color: rgba(255, 255, 255, 0.075);
  }
}
