.global-search {
  padding: 15px 0px;
  @include media-breakpoint-down(sm) {
    padding: 15px;
    background-color: #3b3b3b;
  }
  input {
    background-color: #343434;
    color: #fff;
    font-family: $font-family-sans-serif;
    border: none;
    padding: 7px 8px;
  }
  .input-group-addon {
    background-color: #434343;
    border: none;
    color: #a3a3a3;
  }
  @include media-breakpoint-up(md) {
    margin-right: 15px;
  }
}
