.ui-colorpicker-container {
  width: 356px !default;
  height: 176px !default;
  overflow: hidden !default;
  position: absolute !default;
  background: url("colorpicker/images/colorpicker_background.png") !default;
  font-family: Arial, Helvetica, sans-serif !default;
  display: none !default;
}

.ui-colorpicker_color {
  width: 150px !default;
  height: 150px !default;
  left: 14px !default;
  top: 13px !default;
  position: absolute !default;
  background: #f00 !default;
  overflow: hidden !default;
  cursor: crosshair !default;

  div {
    position: absolute !default;
    top: 0 !default;
    left: 0 !default;
    width: 150px !default;
    height: 150px !default;
    background: url("colorpicker/images/colorpicker_overlay.png") !default;

    div {
      position: absolute !default;
      top: 0 !default;
      left: 0 !default;
      width: 11px !default;
      height: 11px !default;
      overflow: hidden !default;
      background: url("colorpicker/images/colorpicker_select.gif") !default;
      margin: -5px 0 0 -5px !default;
    }
  }
}

.ui-colorpicker_hue {
  position: absolute !default;
  top: 13px !default;
  left: 171px !default;
  width: 35px !default;
  height: 150px !default;
  cursor: n-resize !default;

  div {
    position: absolute !default;
    width: 35px !default;
    height: 9px !default;
    overflow: hidden !default;
    background: url("colorpicker/images/colorpicker_indic.gif") left top !default;
    margin: -4px 0 0 0 !default;
    left: 0px !default;
  }
}

.ui-colorpicker_new_color {
  position: absolute !default;
  width: 130px !default;
  height: 30px !default;
  left: 213px !default;
  top: 13px !default;
  background: #f00 !default;
}

.ui-colorpicker-container input {
  background-color: transparent !default;
  border: 1px solid transparent !default;
  position: absolute !default;
  font-size: 10px !default;
  font-family: Arial, Helvetica, sans-serif !default;
  color: #898989 !default;
  top: 4px !default;
  right: 11px !default;
  text-align: right !default;
  margin: 0 !default;
  padding: 0 !default;
  height: 11px !default;
}

.ui-colorpicker_hex {
  position: absolute !default;
  width: 72px !default;
  height: 22px !default;
  background: url("colorpicker/images/colorpicker_hex.png") top !default;
  left: 212px !default;
  top: 142px !default;

  input {
    right: 6px !default;
  }
}

.ui-colorpicker_field {
  height: 22px !default;
  width: 62px !default;
  background-position: top !default;
  position: absolute !default;

  span {
    position: absolute !default;
    width: 12px !default;
    height: 22px !default;
    overflow: hidden !default;
    top: 0 !default;
    right: 0 !default;
    cursor: n-resize !default;
  }
}

.ui-colorpicker_rgb_r {
  background-image: url("colorpicker/images/colorpicker_rgb_r.png") !default;
  top: 52px !default;
  left: 212px !default;
}

.ui-colorpicker_rgb_g {
  background-image: url("colorpicker/images/colorpicker_rgb_g.png") !default;
  top: 82px !default;
  left: 212px !default;
}

.ui-colorpicker_rgb_b {
  background-image: url("colorpicker/images/colorpicker_rgb_b.png") !default;
  top: 112px !default;
  left: 212px !default;
}

.ui-colorpicker_hsb_h {
  background-image: url("colorpicker/images/colorpicker_hsb_h.png") !default;
  top: 52px !default;
  left: 282px !default;
}

.ui-colorpicker_hsb_s {
  background-image: url("colorpicker/images/colorpicker_hsb_s.png") !default;
  top: 82px !default;
  left: 282px !default;
}

.ui-colorpicker_hsb_b {
  background-image: url("colorpicker/images/colorpicker_hsb_b.png") !default;
  top: 112px !default;
  left: 282px !default;
}

.ui-colorpicker_focus {
  background-position: center !default;
}

.ui-colorpicker_hex.ui-colorpicker_focus, .ui-colorpicker_submit.ui-colorpicker_focus, .ui-colorpicker_slider {
  background-position: bottom !default;
}
