{% if page and not page.front_page and page.horizontal_breadcrumb %}
<div class="hidden-sm-down">
  <ol class="breadcrumb">
    <li>
      <a href="http://www.cam.ac.uk/"><span class="fa fa-home fa-lg">&nbsp;</span></a>
    </li>
    {% for page in page.horizontal_breadcrumb%}
      {% if page[1] and not loop.last %}
      <li>
        <a href="{{ page[1] }}">{{ page[0] }}</a>
      </li>
      {% else %}
      <li class="active">
        {{ page[0] }}
      </li>
      {% endif %}
    {% endfor %}
  </ol>
</div>
{% endif %}
