<nav class="navbar navbar-local container hidden-sm-down">
    <div>
        <ul class="nav navbar-nav nav-local">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            {% for _page in MENU %}
                {% if not _page.children %}
                    <li class="nav-item{% if not page.front_page and _page.title==page.horizontal_breadcrumb[1][0] %} active{% endif %}">
                        <a class="nav-link" href="{{ _page.url }}">{{ _page.title }}</a>
                    </li>
                {% else %}
                    <li class="nav-item{% if not page.front_page and _page.title==page.horizontal_breadcrumb[1][0] %} active{% endif %} dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                            {{ _page.title }}
                        </a>
                        <ul class="dropdown-menu">
                            {% if _page.source %}
                                <li>
                                    <a href="{{ _page.url }}" class="dropdown-item">{{ _page.title }} - Overview</a>
                                </li>
                            {% endif %}
                            {% for __page in _page.children %}
                                <li>
                                    <a href="{{ __page.url }}" class="dropdown-item">{{ __page.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endif %}
            {% endfor %}
            {% include 'demo/theme_switcher.html' %}
        </ul>
    </div>
</nav>
