div.local-header
	a.local-menu-button.pull-right.hidden-md-up(href="#tertiary-navigation", data-toggle="collapse")
		span.fa.fa-bars.fa-2x
	div.container.p-a
		include breadcrumb.jade
		div
			p.title CamPL-NG