extends ../templates/layout/frontpage

include ../templates/components/teasers/teasers

block unwrapped_content
    div.row
        div.col-md-8.teaser-list
            +horizontalTeaser(examples.articles.randomArticle(), examples.randomImage(256))
            +horizontalTeaser(examples.articles.randomArticle())
            +horizontalTeaser(examples.articles.randomArticle(), examples.randomImage(256), 'video')
        div.col-md-4.teaser-list
            div.heading-container.heading-container-padding
                h2.lite-heading Latest News
                // random_article
                // random article
                div.p-a-1.clearfix
                    a.secondary-cta.pull-xs-right(href="") View all news

block sidebar_content
    div.heading-container
        h2.lite-heading Upcoming Events
    ul.related-links
        li // todo: random article
        li //random article
        li //random article
    div.clearfix.m-b-1
        a.secondary-cta.pull-xs-right(href="") View all events
    // promo_teaser