@import "compass/css3/opacity";

.atoz {
  padding: $spacer;
  text-align: center;

  ul {
    list-style: none;
    padding-left: 0;

    li {
      display: inline-block;

      a,
      span {
        font-size: 14px;
        font-weight: bold;
      }

      a {
        color: $white;
        position: relative;

        @include hover-focus() {
          color: $white;
          text-decoration: none;
        }

        &.active,
        &:not(.active):hover {
          &:before {
            content: "";
            width: 0;
            height: 0;
            border-color: transparent transparent $white;
            border-width: 0 20px 20px;
            border-style: solid;
            position: absolute;
            left: -15px;
            top: 34px;
          }
        }
      }

      span {
        @include theme-element(color, pale-tone);
      }

      &:not(:last-of-type):after {
        @include theme-element(color, dark-highlight);
        @include opacity(0.5);
        content: "/";
        padding: 0 5px 0 10px;
        font-size: 16px;

        @include media-breakpoint-down(lg) {
          padding: 0;
        }
      }
    }
  }

  select {
    height: 40px;
    width: 50%;
    margin: auto;
    font-size: 18px;
  }
}
