.nav {
  .nav-item {
    .nav-link {
      font-size: 19px;
      font-weight: 200;
      padding: 8px 12px;
      line-height: 18px;
    }
    .nav-link:not(.disabled) {
      @include theme_element(color, lighter);
      
      &:not(.active):hover {
        background-color: #eee;
        @include theme_element(color, lighter);
      }
      
      &.active {
        @include theme_element(background-color, lighter);
        color: #fff;
      }
    }
    .nav-link.disabled {
      color: #777;
    }
    + .nav-item {
      margin-left: 3px;
    }
  }
  &.nav-tabs {
    border-bottom: 2px solid;
    @include theme_element(border-bottom-color, lighter);
    padding-left: 20px;
    .nav-item {
      margin-bottom: 0px;
      
      .nav-link {
        border:none;
      }
    }
  }
  
}
