.pagination {
  > li {
    > a,
    > span {
      margin: 0 2px;
      line-height: 12px;
      font-size: 11px;
    }
  }

  > .active {
    > a,
    > span {
      font-weight: bold;
    }
  }

  > .previous,
  > .next {
    > a,
    > span {
      color: $white;
      background-color: $black;
    }
  }

  > li > .elipsis {
    &,
    &:hover {
      background-color: $white;
      border: 0;
    }
  }
}
