.page-link {
  margin: 0 2px;
  line-height: 12px;
  font-size: 11px;

  @include hover-focus {
    text-decoration: none;
  }
}

.page-item.active {
  .page-link {
    font-weight: bold;
  }
}

.page-item.previous,
.page-item.next {
  .page-link {
    color: $white;
    background-color: $black;

    @include hover-focus {
      color: $pagination-hover-color;
      background-color: $pagination-hover-bg;
      border-color: $pagination-hover-border;
    }
  }
}

.page-item .page-link.elipsis {
  &,
  &:hover {
    background-color: $white;
    border: 0;
  }
}
