.nav-stages-wrapper {
  @include clearfix();
  padding-top: 7px;
  padding-bottom: 5px;
  border-bottom: 1px solid #e4e4e4;
}

.nav-stages {
  .nav-item {
    padding-bottom: 2px;
    position: relative;

    &:not(:first-of-type):before {
      content: "";
      border-color: transparent transparent transparent $white;
      border-style: solid;
      border-width: 17px 0 17px 17px;
      height: 0;
      width: 0;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 9;
    }

    &:not(:first-of-type) .nav-link {
      padding-left: 27px !important;
    }

    &:first-of-type:before {
      content: "";
      width: 2px;
      height: 34px;
      position: absolute;
      left: 4px;
      top: 0;
      background-color: $white;
    }

    &:first-of-type .nav-link {
      padding-left: 16px !important;
    }

    .nav-link {
      @include theme-element(background-color, navbar);
      color: $white !important;
      font-size: 13px !important;

      &.active {
        @include theme-element(background-color, selected);

        &:after {
          @include theme-element(border-left-color, selected);
        }
      }

      &:not(.active):not(.disabled):hover {
        @include theme-element(background-color, light-highlight, !important);

        &:after {
          @include theme-element(border-left-color, light-highlight);
        }
      }

      &:after {
        @include theme-element(border-left-color, navbar);
        content: "";
        border-top-color: transparent;
        border-bottom-color: transparent;
        border-right-color: transparent;
        border-style: solid;
        border-width: 17px 0 17px 17px;
        height: 0;
        width: 0;
        position: absolute;
        top: 0;
        right: -17px;
        z-index: 10;
      }
    }
  }
}
