div.local-footer
    div.container
        div.row
            for column in examples.localFooterLinks
                div.col-md-3.col-xs-12
                    for menu in column
                        h3
                            a(href="#") #{menu.header}
                        if menu.links
                            ul.list-unstyled.hidden-sm-down
                                for link in menu.links
                                    li
                                        a(href="#") #{link}
