<div id="global-header-drawer-study" role="tabpanel" class="tab-pane">
  <div class="container">
    <div class="row">
      <div class="col-md-11">
        <ul class="list-unstyled global-header-drawer-title">
          <li>
            <a href="">Study at Cambridge</a>
          </li>
        </ul>
      </div>
      <div class="col-md-1 global-header-close hidden-md-down">
        <a href="#global-header-drawer-close" data-target="#global-header-drawer-close">Close</a>
      </div>
    </div>
    <div class="row">
      <!-- Begin Undergraduate Drawer -->
      <div class="col-md-4">
        <ul class="list-unstyled">
          <li>
            <a href="">Undergraduate</a>
            <ul class="list-unstyled hidden-md-down">
              <li>
                <a href="">Courses</a>
              </li>
              <li>
                <a href="">Applying</a>
              </li>
              <li>
                <a href="">Events and open days</a>
              </li>
              <li>
                <a href="">Fees and finance</a>
              </li>
              <li>
                <a href="">Student blogs and videos</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- End Undergraduate Drawer -->
    
      <!-- Begin Graduate Drawer -->
      <div class="col-md-4">
        <ul class="list-unstyled">
          <li>
            <a href="">Graduate</a>
            <ul class="list-unstyled hidden-md-down">
              <li>
                <a href="">Why Cambridge</a>
              </li>
              <li>
                <a href="">Course Directory</a>
              </li>
              <li>
                <a href="">How to apply</a>
              </li>
              <li>
                <a href="">Fees and funding</a>
              </li>
              <li>
                <a href="">Frequently asked questions</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- End Undergraduate Drawer -->
      
      <!-- Begin Misc Drawer -->
      <div class="col-md-4">
        <ul class="list-unstyled list-separated">
          <li>
            <a href="">International Students</a>
          </li>
          <li>
            <a href="">Continuing Education</a>
          </li>
          <li>
            <a href="">Executive and Professional Education</a>
          </li>
          <li>
            <a href="">Courses in Education</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
