<nav class="navbar navbar-global">
  <div class="container">
    <a class="open-sidebar hidden-lg-up" href="#sidebar-offcanvas" data-toggle="offcanvas">
      <span class="fa fa-bars fa-2x"></span>
    </a>
    <a href="http://www.cam.ac.uk/" class="navbar-brand">
      <img alt="University of Cambridge" src="{{ MEDIA_URL }}/img/logo.png">
    </a>
    <ul class="nav navbar-nav nav-global hidden-md-down">
      <li class="nav-item">
        <a class="nav-link" href="#global-header-drawer-study" data-toggle="tab" data-target="#global-header-drawer-study" data-parent="#global-header-drawers">Study at Cambridge</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#global-header-drawer-about" data-toggle="tab" data-target="#global-header-drawer-about" data-parent="#global-header-drawers">About the University</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://www.cam.ac.uk/research">Research at Cambridge</a>
      </li>
    </ul>
    <form class="navbar-form pull-right">
      <div class="input-group">
        <input class="form-control" type="text" placeholder="Search">
        <span class="input-group-addon"><span class="fa fa-search">&nbsp;</span></span>
      </div>
    </form>
    <!-- begin quicklinks -->
    <div class="dropdown pull-right">
      <a href="#quicklinks" data-toggle="dropdown">Quick links</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="http://www.cam.ac.uk/for-staff">For staff</a>
        <a class="dropdown-item" href="http://www.admin.cam.ac.uk/students/gateway">For current students</a>
        <a class="dropdown-item" href="http://www.alumni.cam.ac.uk/">For alumni</a>
        <a class="dropdown-item" href="http://www.cam.ac.uk/for-business">For business</a>
        <a class="dropdown-item" href="http://www.cam.ac.uk/colleges-and-departments">Colleges &amp; departments</a>
        <a class="dropdown-item" href="http://www.cam.ac.uk/libraries-and-facilities">Libraries &amp; facilities</a>
        <a class="dropdown-item" href="http://www.cam.ac.uk/museums-and-collections">Museums &amp; collections</a>
        <a class="dropdown-item" href="http://www.cam.ac.uk/email-and-phone-search">Email &amp; phone search</a>
      </div>
    </div>
    <!-- end quicklinks -->
  </div>
</nav>
<div id="global-header-drawers">
  <div class="tab-content global-header-drawer sidebar-offcanvas">
    {% include 'components/header/global_header_drawer_study.html' %}
    {% include 'components/header/global_header_drawer_about.html' %}
  </div>
</div>
