<div id="global-header-drawers">
  <nav class="navbar navbar-global">
    <div class="container">
      <a href="http://www.cam.ac.uk/" class="navbar-brand">
        <img alt="University of Cambridge" src="{{ ROOT_URL }}/img/logo.png">
      </a>
      <ul class="nav navbar-nav nav-global">
        <li class="nav-item">
          <a class="nav-link collapsed" href="#campl-study" data-toggle="collapse" data-target="#campl-study" data-parent="#global-header-drawers">Study at Cambridge</a>
        </li>
        <li class="nav-item">
          <a class="nav-link collapsed" href="#campl-about" data-toggle="collapse" data-target="#campl-about" data-parent="#global-header-drawers">About the University</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://www.cam.ac.uk/research">Research at Cambridge</a>
        </li>
      </ul>
      <form class="navbar-form pull-right">
        <div class="input-group">
          <input class="form-control" type="text" placeholder="Search">
          <span class="input-group-addon"><span class="fa fa-search">&nbsp;</span></span>
        </div>
      </form>
      <!-- begin quicklinks -->
      <div class="dropdown pull-right">
        <a href="#quicklinks" data-toggle="dropdown">Quick links</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="http://www.cam.ac.uk/for-staff">For staff</a>
          <a class="dropdown-item" href="http://www.admin.cam.ac.uk/students/gateway">For current students</a>
          <a class="dropdown-item" href="http://www.alumni.cam.ac.uk/">For alumni</a>
          <a class="dropdown-item" href="http://www.cam.ac.uk/for-business">For business</a>
          <a class="dropdown-item" href="http://www.cam.ac.uk/colleges-and-departments">Colleges &amp; departments</a>
          <a class="dropdown-item" href="http://www.cam.ac.uk/libraries-and-facilities">Libraries &amp; facilities</a>
          <a class="dropdown-item" href="http://www.cam.ac.uk/museums-and-collections">Museums &amp; collections</a>
          <a class="dropdown-item" href="http://www.cam.ac.uk/email-and-phone-search">Email &amp; phone search</a>
        </div>
      </div>
      <!-- end quiclinks -->
    </div>
  </nav>
<!-- Begin campl-study drawer -->
  <div class="panel">
    <div class="collapse global-header-drawer panel" id="campl-study">
      <div class="container">
        <div class="row">
          <div class="col-md-11">
            <ul class="list-unstyled">
              <li>
                <a href="">Study at Cambridge</a>
              </li>
            </ul>
          </div>
          <div class="col-md-1 global-header-close">
             <a href="#campl-study" data-toggle="collapse" data-target="#campl-study">Close</a>
          </div>
        </div>
        <div class="row">
          <!-- Begin Undergraduate Drawer -->
          <div class="col-md-4">
            <ul class="list-unstyled">
              <li>
                <a href="">Undergraduate</a>
                <ul class="list-unstyled">
                  <li>
                    <a href="">Courses</a>
                  </li>
                  <li>
                    <a href="">Applying</a>
                  </li>
                  <li>
                    <a href="">Events and open days</a>
                  </li>
                  <li>
                    <a href="">Fees and finance</a>
                  </li>
                  <li>
                    <a href="">Student blogs and videos</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <!-- End Undergraduate Drawer -->
        
          <!-- Begin Graduate Drawer -->
          <div class="col-md-4">
            <ul class="list-unstyled">
              <li>
                <a href="">Graduate</a>
                <ul class="list-unstyled">
                  <li>
                    <a href="">Why Cambridge</a>
                  </li>
                  <li>
                    <a href="">Course Directory</a>
                  </li>
                  <li>
                    <a href="">How to apply</a>
                  </li>
                  <li>
                    <a href="">Fees and funding</a>
                  </li>
                  <li>
                    <a href="">Frequently asked questions</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <!-- End Undergraduate Drawer -->
          
          <!-- Begin Misc Drawer -->
          <div class="col-md-4">
            <ul class="list-unstyled list-separated">
              <li>
                <a href="">International Students</a>
              </li>
              <li>
                <a href="">Continuing Education</a>
              </li>
              <li>
                <a href="">Executive and Professional Education</a>
              </li>
              <li>
                <a href="">Courses in Education</a>
              </li>
            </ul>
          </div>
          
        </div>
      </div>
    </div>
    <!-- End campl-study drawer -->
  </div>
  <!-- begin campl-about drawer -->
  <div class="panel">
    <div class="collapse global-header-drawer" id="campl-about">
      <div class="container">
        <div class="row">
          <div class="col-md-11">
            <ul class="list-unstyled">
              <li>
                <a href="">About the University</a>
              </li>
            </ul>
          </div>
          <div class="col-md-1 global-header-close">
            <a href="#campl-about" data-toggle="collapse" data-target="#campl-about">Close</a>
          </div>
        </div>
        <div class="row">
        <!-- Begin Undergraduate Drawer -->
          <div class="col-md-4">
            <ul class="list-unstyled list-separated">
              <li>
                <a href="">How the University and Colleges work</a>
              </li>
              <li>
                <a href="">History</a>
              </li>
              <li>
                <a href="">Visiting the University</a>
              </li>
              <li>
                <a href="">Term dates and calendars</a>
              </li>
              <li>
                <a href="">Map</a>
              </li>
            </ul>
          </div>
        <!-- End Undergraduate Drawer -->
      
        <!-- Begin Graduate Drawer -->
          <div class="col-md-4">
            <ul class="list-unstyled list-separated">
              <li>
                <a href="">For media</a>
              </li>
              <li>
                <a href="">Video and audio</a>
              </li>
              <li>
                <a href="">Find an expert</a>
              </li>
              <li>
                <a href="">Publications</a>
              </li>
              <li>
                <a href="">International Cambridge</a>
              </li>
            </ul>
          </div>
        <!-- End Undergraduate Drawer -->
        
        <!-- Begin Misc Drawer -->
          <div class="col-md-4">
            <ul class="list-unstyled list-separated">
              <li>
                <a href="">News</a>
              </li>
              <li>
                <a href="">Events</a>
              </li>
              <li>
                <a href="">Public engagement</a>
              </li>
              <li>
                <a href="">Jobs</a>
              </li>
              <li>
                <a href="">Giving to Cambridge</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
