<div id="global-header-drawer-about" role="tabpanel" class="tab-pane">
  <div class="container">
    <div class="row">
      <div class="col-md-11">
        <ul class="list-unstyled global-header-drawer-title">
          <li>
            <a href="">About the University</a>
          </li>
        </ul>
      </div>
      <div class="col-md-1 global-header-close hidden-md-down">
        <a href="#global-header-drawer-close" data-target="#global-header-drawer-close">Close</a>
      </div>
    </div>
    <div class="row">
    <!-- Begin Undergraduate Drawer -->
      <div class="col-md-4">
        <ul class="list-unstyled list-separated">
          <li>
            <a href="">How the University and Colleges work</a>
          </li>
          <li>
            <a href="">History</a>
          </li>
          <li>
            <a href="">Visiting the University</a>
          </li>
          <li>
            <a href="">Term dates and calendars</a>
          </li>
          <li>
            <a href="">Map</a>
          </li>
        </ul>
      </div>
    <!-- End Undergraduate Drawer -->
  
    <!-- Begin Graduate Drawer -->
      <div class="col-md-4">
        <ul class="list-unstyled list-separated">
          <li>
            <a href="">For media</a>
          </li>
          <li>
            <a href="">Video and audio</a>
          </li>
          <li>
            <a href="">Find an expert</a>
          </li>
          <li>
            <a href="">Publications</a>
          </li>
          <li>
            <a href="">International Cambridge</a>
          </li>
        </ul>
      </div>
    <!-- End Undergraduate Drawer -->
    
    <!-- Begin Misc Drawer -->
      <div class="col-md-4">
        <ul class="list-unstyled list-separated">
          <li>
            <a href="">News</a>
          </li>
          <li>
            <a href="">Events</a>
          </li>
          <li>
            <a href="">Public engagement</a>
          </li>
          <li>
            <a href="">Jobs</a>
          </li>
          <li>
            <a href="">Giving to Cambridge</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
