.ui-messages-info, .ui-messages-warn, .ui-messages-error, .ui-messages-fatal {
  border: 1px solid !default;
  margin: 10px 0px !default;
  padding: 10px 10px 10px 10px !default;
}

.ui-message-info, .ui-message-error, .ui-message-warn, .ui-message-fatal {
  border: 1px solid !default;
  margin: 0px 5px !default;
  padding: 2px 5px !default;
}

.ui-messages-info-icon, .ui-messages-warn-icon, .ui-messages-error-icon, .ui-messages-fatal-icon, .ui-message-info-icon, .ui-message-warn-icon, .ui-message-error-icon, .ui-message-fatal-icon {
  background: url("messages/messages.png") no-repeat !default;
  display: block !default;
  float: left !default;
  margin: 0 !default;
  padding: 0 !default;
  position: relative !default;
}

.ui-messages-info-icon, .ui-messages-warn-icon, .ui-messages-error-icon, .ui-messages-fatal-icon {
  height: 24px !default;
  width: 24px !default;
  margin-top: -4px !default;
}

.ui-message-info-icon, .ui-message-warn-icon, .ui-message-error-icon, .ui-message-fatal-icon {
  height: 16px !default;
  width: 16px !default;
}

.ui-messages-info-summary, .ui-messages-warn-summary, .ui-messages-error-summary, .ui-messages-fatal-summary, .ui-message-info-summary, .ui-message-warn-summary, .ui-message-error-summary, .ui-message-fatal-summary {
  margin-left: 10px !default;
  font-weight: bold !default;
}

.ui-messages-info-detail, .ui-messages-warn-detail, .ui-messages-error-detail, .ui-messages-fatal-detail, .ui-message-info-detail, .ui-message-warn-detail, .ui-message-error-detail, .ui-message-fatal-detail {
  margin-left: 5px !default;
}

.ui-messages-info, .ui-message-info {
  color: #3a87ad !default;
  background-color: #d9edf7 !default;
  border-color: #bce8f1 !default;
}

.ui-messages-warn, .ui-message-warn {
  color: #c09853 !default;
  background-color: #fcf8e3 !default;
  border-color: #fbeed5 !default;
}

.ui-messages-error, .ui-message-error, .ui-messages-fatal, .ui-message-fatal {
  color: #b94a48 !default;
  background-color: #f2dede !default;
  border-color: #eed3d7 !default;
}

.ui-messages {
  ul {
    margin: 0 25px !default;
    padding: 0 !default;
    list-style-type: none !default;
  }

  &.ui-messages-noicon ul {
    margin: 0 25px 0 0 !default;
  }
}

.ui-message-icon-only {
  width: 16px !default;
  height: 16px !default;
}

.ui-messages-info-icon {
  background-position: 0px -316px !default;
}

.ui-messages-warn-icon {
  background-position: 0px -448px !default;
}

.ui-messages-error-icon {
  background-position: 0px -52px !default;
}

.ui-messages-fatal-icon {
  background-position: 0px -184px !default;
}

.ui-message-info-icon {
  background-position: 0px -360px !default;
}

.ui-message-warn-icon {
  background-position: 0px -492px !default;
}

.ui-message-error-icon {
  background-position: 0px -96px !default;
}

.ui-message-fatal-icon {
  background-position: 0px -228px !default;
}

.ui-messages .ui-messages-close {
  float: right !default;
  cursor: pointer !default;
}
