.local-header {
  .breadcrumb {
    padding: 0;

    a {
      color: $white;

      @include hover-focus {
        text-decoration: none;
      }

      .fa-home {
        color: rgba(255, 255, 255, 0.2);
      }
    }
  }
}
