.main-logo img {
  margin: 15px;
}

.campage-heading {
  @include theme-element(color, page-background);
  font-size: 30px;
  line-height: 38px;
  font-weight: 300;
  font-family: $font-family-sans-serif-extra;
}

.sidebar .campage-heading {
  color: $gray-darker;
}
