.main-logo img {
  margin: 15px;
}

.campage-heading {
  font-size: 30px;
  line-height: 38px;
  font-weight: 300;
  font-family: $font-family-sans-serif-extra;
  @include theme_element(color, dark);
}

.sidebar .campage-heading { 
  color: #171717;
}