@import "compass/css3/images";

html {
  overflow-x: hidden;
}

* {
  min-width: 0;
}

.main-content {
  background-color: $white;
}

.leading-image {
  width: 100%;
}

body:not(.active) {
  // when we're not using offcanvas, hide overflow for scrollbar vw bug
  overflow-x: hidden;
}

@if $enable-flex {
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  main {
    display: flex;
    flex-grow: 1;
    background-color: $white;
    width: 100%;
  }


  main > .row {
    flex-grow: 1;
  }
}


.logo.logo-sm {
  width: 178px;
}

.logo.logo-lg {
  width: 288px;
}
