@import "compass/css3/flexbox";

.recess-push {
  padding-top:50px;
  background-color: #fff;
}

html {
  overflow-x: hidden;
}

* {
  min-width: 0;
}

.carousel-push {
  @include media-breakpoint-up(xl) {
    margin-bottom: -380px;
    padding-bottom: 380px;
  }
}

.campage-carousel-push {
  @include media-breakpoint-up(xl) {
    margin-bottom: -378px;
    padding-bottom: 377px;
  }
}

.main-content {
  background-color:#fff;
}

img.leading-image {
  width: 100%;
}

body {
  @include display-flex(flex);
  min-height: 100vh;
  @include flex-direction(column)
}

main {
  @include flex-grow(1);
}