.sidebar {
  background-color: #f3f3f3;
  padding: 0;
  
  .sidebar-heading {
    border-bottom: 1px solid #e4e4e4;
    h1, h2, h3, h4, h5, h6 {
      font-weight: 300;
      color: #171717;
      font-size: 1.583rem;
      line-height: 2.083rem;
    }
  }
}
