@import "compass/css3/images";

.tertiary-navigation {
  border-left: $border-width solid $border-color;
  border-right: $border-width solid $border-color;
  border-top: $border-width solid $border-color;
  padding-left:0px;
  padding-right:0px;
  @include media-breakpoint-up(md) {
    margin-top: -50px;
  }
  @include background(inline-image('tertiary-nav-background.png'));

  font-family: $font-family-sans-serif-extra;
  
  .nav-pills .nav-item {
  
    
    background-color: #fafafa;
    margin-top: 0px;
    padding: 0px;
    
  
    &:after {
      content: "";
      @include background-image(inline-image('vertical-breadcrumb-arrow.png'));
      background-repeat: no-repeat;
      height: 15px;
      width: 20px;
      position: relative;
      bottom: $border-width;
      left: 20px;
      float: left;
    }
    

    
    @include hover-focus {
      background-color: #efefef;
      &:after {
        @include background-image(inline-image('vertical-breadcrumb-arrow-hover.png'));
      }
    }
    
    .nav-link {
      color: #999999 !important;
      font-size: 14px;
      line-height: 16px;
      font-weight: 600;
      padding: $spacer*0.8 $spacer;
      border-bottom: $border-width solid $border-color;
      @include background(inline-image('vertical-breadcrumb-arrow-up.png') no-repeat 95% 50%);
    }
  }
  
  &> .list-unstyled {
    border-bottom: $border-width solid $border-color;
    @include media-breakpoint-down(sm) {
      border-bottom-width: 5px;
      @include theme_element(border-bottom-color, light-highlight);
    }
    background-color: #ffffff;
    padding: $spacer/4 $spacer;
    font-size: 14px;
    margin-bottom: 0px;
    &> li > {
      a, span {
        font-weight:bold;
        @include media-breakpoint-down(sm) {
          display: block;
          padding: 10px 0;
        }
      }
    }
    &> li.tertiary-navigation-parent > a {
      color: #171717;
    }
    &> li:not(:first-child) {
      border-top: $border-width solid $border-color;
    }
    li {
      @include media-breakpoint-down(sm) {
        padding: 0;
      }
      padding: 10px 0px;
    }
    .list-unstyled {
      @include media-breakpoint-up(md) {
        margin-top: 10px;
      }
      @include media-breakpoint-down(sm) {
        margin-bottom: 10px;
      }
      li {
        @include media-breakpoint-down(sm) {
          padding: 0;
        }
        padding: 5px 5px 5px 0px;
        a, span {
          @include media-breakpoint-down(sm) {
            display: block;
            padding: 5px 5px 5px 15px;
          }
          padding-left: 15px;
          @include background(inline-image('link-bullet-black.png') no-repeat 0 50%);
        }
      }
    }
  }
}
