@import "compass/css3/images";

.tertiary-navigation {
  border-left: $border-width solid $border-color;
  border-right: $border-width solid $border-color;
  border-top: $border-width solid $border-color;
  padding-left:0px;
  padding-right:0px;
  margin-top: -50px;
  padding-bottom: 50px;
  @include background($icon-tertiary-nav-background);

  font-family: $font-family-sans-serif-extra;
  
  .nav-pills .nav-item {
  
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    background-color: #fafafa;
    margin-top: 0px;
    padding: 0px;
    
  
    &:after {
      content: "";
      @include background-image(inline-image('vertical-breadcrumb-arrow.png'));
      background-repeat: no-repeat;
      height: 15px;
      width: 20px;
      position: relative;
      bottom: $border-width;
      left: 20px;
      float: left;
    }
    

    
    @include hover-focus {
      background-color: #efefef;
      &:after {
        @include background-image(inline-image('vertical-breadcrumb-arrow-hover.png'));
      }
    }
    
    .nav-link {
      color: #999999;
      padding: $spacer*0.8 $spacer;
      border-bottom: $border-width solid $border-color;
      @include background($icon-chevron-up-blk no-repeat 95% 50%);
    }
  }
  
  &> .list-unstyled {
    border-bottom: $border-width solid $border-color;
    background-color: #ffffff;
    padding: $spacer/4 $spacer;
    font-size: 14px;
    &> li > a {
      font-weight:bold;
    }
    &> li > span {
      font-weight:bold;
    }
    &> li:first-child > a {
      color: #171717;
    }
    &> li:not(:first-child) {
      border-top: $border-width solid $border-color;
    }
    li {
      padding: 10px 0px;
    }
    .list-unstyled {
      margin-top: 10px;
      li {
        padding: 5px 5px 5px 0px;
        a, span {
          padding-left: 15px;
          @include background($icon-chevron-right-blk no-repeat 0 50%);
        }
      }
    }
  }

}
