@mixin alert-style($colour) {
  border-color: $colour;

  .alert-title {
    color: $colour;
  }
}

.alert-top {
  border-width: 0 0 4px;
  background-color: $white;
  color: $black;
}

.alert {
  position: relative;

  @include media-breakpoint-up(md) {
    padding: 15px; // Actually the wide padding looks rubbish on narrow screens, especially when you have lots of error messages
  
    &.alert-dismissable {
      padding-right: 38px;
    }
  }

  &.alert-success {
    @include alert-style($brand-success);
  }

  &.alert-warning {
    @include alert-style($brand-warning);
  }

  &.alert-danger {
    @include alert-style($brand-danger);
  }

  &.alert-info {
    @include alert-style($brand-info);
  }

  .row div {
    padding: 2px;
  }

  .alert-title {
    font-weight: bold;

    @include media-breakpoint-up(md) {
      text-align: right;
    }

    span {
      vertical-align: top;
    }

    .fa {
      position: relative;
      top: -0.25em;
      font-size: 2.4em;
      margin-bottom: -1em; // Don't let icon push extra padding at base of alert
      padding-right: 5px; // because
    }
  }

  .close {
    background: rgba(255, 255, 255, 0.5) inline("alert-close.png") no-repeat 50% 50%;
    width: 23px;
    height: 23px;
    padding: 4px;
    opacity: 1;
    border: 1px solid #dddddd;
    position: absolute;
    top: 4px;
    right: 4px;
  }
}
