@mixin alert-style($colour) {
  border-color: $colour;

  .row div:first-child {
    color: $colour;
  }
}

.alert-top {
  border-width: 0 0 4px;
  background-color: $white;
  color: $black;
}

.alert {
  &.alert-success {
    @include alert-style($brand-success);
  }

  &.alert-warning {
    @include alert-style($brand-warning);
  }

  &.alert-danger {
    @include alert-style($brand-danger);
  }

  &.alert-info {
    @include alert-style($brand-info);
  }

  .row div {
    padding: 2px;
  }

  .row div:first-child {
    font-weight: bold;

    @include media-breakpoint-up(md) {
      text-align: right;
    }

    span {
      vertical-align: top;
    }

    .fa {
      position: relative;
      top: -0.25em;
      font-size: 2.4em;
    }
  }
}
