$_ui_contentflow__flow__item_canvas_content___height: 100% !default;
$_ui_contentflow__flow__item_canvas_content___width: 100% !default;
$_ui_contentflow__flow__item_img_content___width: 100% !default;
$_ui_contentflow__flow__item_img_reflection___width: 100% !default;
$_ui_contentflow__flow__item_canvas_reflection___width: 100% !default;
$_ui_contentflow__flow__item_active___cursor: pointer !default;
$_ui_contentflow__flow__item__caption___font_size: 100% !default;
$_ui_contentflow__flow__item__caption___font_weight: bold !default;
$_ui_contentflow__flow__item__caption___text_align: center !default;
$_ui_contentflow__flow__item__caption___color: white !default;
$_ui_contentflow__flow__item__caption___max_height: 30% !default;
$_ui_contentflow__flow__item__caption___bottom: 10% !default;
$_ui_contentflow__flow__item__caption___background: url("contentflow/images/1x1_0.5_black.png") !default;
$_ui_contentflow__flow__item__caption___width: 100% !default;
$__html__ui_contentflow__flow__item__caption___background_image: none !default;
$__html__ui_contentflow__flow__item__caption___filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src="contentflow/images/1x1_0.5_black.png") !default;
$_ui_contentflow__flow__item__caption_a___text_decoration: none !default;
$_ui_contentflow__flow__item__caption_a___color: white !default;
$_ui_contentflow__flow__item__caption_a___font_style: italic !default;
$_ui_contentflow__flow__item__caption_a___font_size: 0.8em !default;
$_ui_contentflow__flow__item__caption_a_link___ui_contentflow__flow__item__caption_a_visited___ui_contentflow__flow__item__caption_a_active___text_decoration: none !default;
$_ui_contentflow__flow__item__caption_a_link___ui_contentflow__flow__item__caption_a_visited___ui_contentflow__flow__item__caption_a_active___color: white !default;
$_ui_contentflow__flow__item__caption_a_link___ui_contentflow__flow__item__caption_a_visited___ui_contentflow__flow__item__caption_a_active___font_style: italic !default;
$_ui_contentflow__flow__item__caption_a_link___ui_contentflow__flow__item__caption_a_visited___ui_contentflow__flow__item__caption_a_active___font_size: 0.8em !default;
$_ui_contentflow__flow__item__caption_a_hover___text_decoration: none !default;
$_ui_contentflow__flow__item__caption_a_hover___color: white !default;
$_ui_contentflow__flow__item__caption_a_hover___font_style: italic !default;
$_ui_contentflow__flow__item__caption_a_hover___font_size: 0.8em !default;
$_ui_contentflow__flow__item__caption_a_hover___text_decoration: underline !default;
$_ui_contentflow__scrollbar___width: 50% !default;
$_ui_contentflow__scrollbar___margin: 0px auto !default;
$_ui_contentflow__scrollbar___margin_top: 10px !default;
$_ui_contentflow__scrollbar___height: 16px !default;
$_ui_contentflow__scrollbar___background: url("contentflow/images/scrollbar_white.png") left center repeat-x !default;
$_ui_contentflow__scrollbar___position: relative !default;
$_ui_contentflow__scrollbar___overflow: visible !default;
$_ui_contentflow__scrollbar__slider___width: 16px !default;
$_ui_contentflow__scrollbar__slider___height: 16px !default;
$_ui_contentflow__scrollbar__slider___background: url("contentflow/images/scrollbar_white.png") center center no-repeat !default;
$_ui_contentflow__scrollbar__slider___cursor: move !default;
$__html__ui_contentflow__scrollbar__slider___background_image: none !default;
$__html__ui_contentflow__scrollbar__slider__virtualSlider___filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop, src="contentflow/images/scrollbar_white.png") !default;
$_ui_contentflow__scrollbar__slider__position___top: 120% !default;
$_ui_contentflow__scrollbar__slider__position___font_size: 16px !default;
$_ui_contentflow__scrollbar__slider__position___font_weight: bold !default;
$_ui_contentflow__scrollbar__slider__position___color: silver !default;
$_ui_contentflow__globalCaption___text_align: center !default;
$_ui_contentflow__globalCaption___font_weight: bold !default;
$_ui_contentflow__globalCaption___color: white !default;
$_ui_contentflow__globalCaption___font_size: 14px !default;
$_ui_contentflow__globalCaption___height: 20px !default;
$_ui_contentflow__globalCaption___margin: 2em auto !default;
$_ui_contentflow__globalCaption__caption_a___text_decoration: none !default;
$_ui_contentflow__globalCaption__caption_a___color: white !default;
$_ui_contentflow__globalCaption__caption_a___font_style: italic !default;
$_ui_contentflow__globalCaption__caption_a___font_size: 0.8em !default;
$_ui_contentflow__globalCaption__caption_a_link___ui_contentflow__globalCaption__caption_a_visited___ui_contentflow__globalCaption__caption_a_active___text_decoration: none !default;
$_ui_contentflow__globalCaption__caption_a_link___ui_contentflow__globalCaption__caption_a_visited___ui_contentflow__globalCaption__caption_a_active___color: white !default;
$_ui_contentflow__globalCaption__caption_a_link___ui_contentflow__globalCaption__caption_a_visited___ui_contentflow__globalCaption__caption_a_active___font_style: italic !default;
$_ui_contentflow__globalCaption__caption_a_link___ui_contentflow__globalCaption__caption_a_visited___ui_contentflow__globalCaption__caption_a_active___font_size: 0.8em !default;
$_ui_contentflow__globalCaption__caption_a_hover___text_decoration: none !default;
$_ui_contentflow__globalCaption__caption_a_hover___color: white !default;
$_ui_contentflow__globalCaption__caption_a_hover___font_style: italic !default;
$_ui_contentflow__globalCaption__caption_a_hover___font_size: 0.8em !default;
$_ui_contentflow__globalCaption__caption_a_hover___text_decoration: underline !default;
$_ui_contentflow__loadIndicator___width: 100% !default;
$_ui_contentflow__loadIndicator___height: 100% !default;
$_ui_contentflow__loadIndicator___top: 0px !default;
$_ui_contentflow__loadIndicator___left: 0px !default;
$_ui_contentflow__loadIndicator___background: black !default;
$_ui_contentflow__loadIndicator__indicator___background: url("contentflow/images/loader.gif") center center no-repeat !default;
$_ui_contentflow__loadIndicator__indicator___width: 100% !default;
$_ui_contentflow__loadIndicator__indicator___height: 100% !default;
$__html__ui_contentflow__loadIndicator__indicator___height: 100px !default;
$_ui_contentflow___position: relative !default;
$_ui_contentflow___overflow: hidden !default;
$_ui_contentflow_____margin: 0px !default;
$_ui_contentflow_____padding: 0px !default;
$_ui_contentflow_img____ms_interpolation_mode: bicubic !default;
$_ui_contentflow__mouseoverCheckElement___position: absolute !default;
$_ui_contentflow__mouseoverCheckElement___width: 0px !default;
$_ui_contentflow__mouseoverCheckElement___height: 0px !default;
$_ui_contentflow__mouseoverCheckElement___left: 0px !default;
$_ui_contentflow__mouseoverCheckElement___visibility: hidden !default;
$_ui_contentflow_hover__mouseoverCheckElement___left: 1px !default;
$_ui_contentflow__flow___position: relative !default;
$_ui_contentflow__flow___z_index: 0 !default;
$_ui_contentflow__flow___visibility: hidden !default;
$_ui_contentflow__flow___width: 100% !default;
$_ui_contentflow__flow___margin: 0 auto !default;
$_ui_contentflow__flow_hidden___visibility: hidden !default;
$_ui_contentflow__flow__item___position: absolute !default;
$_ui_contentflow__flow__item___visibility: hidden !default;
$_ui_contentflow__flow__item___top: 0px !default;
$_ui_contentflow__flow__item___left: 0px !default;
$_ui_contentflow__flow__item__content___display: block !default;
$_ui_contentflow__flow__item_div_content___width: 100% !default;
$_ui_contentflow__flow__item_div_content___height: 100% !default;
$_ui_contentflow__flow__item__label___display: none !default;
$_ui_contentflow__flow__item__reflection___display: block !default;
$_ui_contentflow__flow__item_canvas_reflection___margin_top: -1px !default;
$_ui_contentflow__flow__item__caption___position: absolute !default;
$_ui_contentflow__flow__item__caption___display: none !default;
$_ui_contentflow__scrollbar___position: relative !default;
$_ui_contentflow__scrollbar___z_index: 1 !default;
$_ui_contentflow__scrollbar___visibility: hidden !default;
$_ui_contentflow__scrollbar__slider___position: absolute !default;
$__html__ui_contentflow__scrollbar__slider__virtualSlider___height: 100% !default;
$_ui_contentflow__scrollbar__slider__position___position: absolute !default;
$_ui_contentflow__scrollbar__slider__position___text_align: center !default;
$_ui_contentflow__globalCaption___position: relative !default;
$_ui_contentflow__globalCaption___z_index: 1 !default;
$_ui_contentflow__loadIndicator___position: absolute !default;
$_ui_contentflow__loadIndicator___z_index: 65000 !default;
/* ========== ContentFlow ========== */
/*
 * default style to look nice
 */

.ui-contentflow .flow {
  /*border: 1px solid green;*/

  * {}

  .item {
    /*border: 1px solid red;*/

    canvas.content {
      height: $_ui_contentflow__flow__item_canvas_content___height;
      width: $_ui_contentflow__flow__item_canvas_content___width;

      /*border: 1px solid yellow;*/
    }

    img {
      &.content {
        /*border: 1px solid yellow;*/
        width: $_ui_contentflow__flow__item_img_content___width;
      }

      &.reflection {
        width: $_ui_contentflow__flow__item_img_reflection___width;
      }
    }

    canvas.reflection {
      width: $_ui_contentflow__flow__item_canvas_reflection___width;
    }

    &.active {
      cursor: $_ui_contentflow__flow__item_active___cursor;
    }

    .caption {
      font-size: $_ui_contentflow__flow__item__caption___font_size;
      font-weight: $_ui_contentflow__flow__item__caption___font_weight;
      text-align: $_ui_contentflow__flow__item__caption___text_align;
      color: $_ui_contentflow__flow__item__caption___color;
      max-height: $_ui_contentflow__flow__item__caption___max_height;
      bottom: $_ui_contentflow__flow__item__caption___bottom;
      background: $_ui_contentflow__flow__item__caption___background;
      width: $_ui_contentflow__flow__item__caption___width;
    }
  }
}

/* ----- styling of items ----- */

* html .ui-contentflow .flow .item .caption {
  background-image: $__html__ui_contentflow__flow__item__caption___background_image;
  filter: $__html__ui_contentflow__flow__item__caption___filter;
}

.ui-contentflow {
  .flow .item {
    .caption a {
      text-decoration: $_ui_contentflow__flow__item__caption_a___text_decoration;
      color: $_ui_contentflow__flow__item__caption_a___color;
      font-style: $_ui_contentflow__flow__item__caption_a___font_style;
      font-size: $_ui_contentflow__flow__item__caption_a___font_size;

      &:link, &:visited, &:active {
        text-decoration: $_ui_contentflow__flow__item__caption_a_link___ui_contentflow__flow__item__caption_a_visited___ui_contentflow__flow__item__caption_a_active___text_decoration;
        color: $_ui_contentflow__flow__item__caption_a_link___ui_contentflow__flow__item__caption_a_visited___ui_contentflow__flow__item__caption_a_active___color;
        font-style: $_ui_contentflow__flow__item__caption_a_link___ui_contentflow__flow__item__caption_a_visited___ui_contentflow__flow__item__caption_a_active___font_style;
        font-size: $_ui_contentflow__flow__item__caption_a_link___ui_contentflow__flow__item__caption_a_visited___ui_contentflow__flow__item__caption_a_active___font_size;
      }

      &:hover {
        text-decoration: $_ui_contentflow__flow__item__caption_a_hover___text_decoration;
        color: $_ui_contentflow__flow__item__caption_a_hover___color;
        font-style: $_ui_contentflow__flow__item__caption_a_hover___font_style;
        font-size: $_ui_contentflow__flow__item__caption_a_hover___font_size;
        text-decoration: $_ui_contentflow__flow__item__caption_a_hover___text_decoration;
      }
    }

    &.active .caption {
      /*display: block;*/

      /* uncomment to show caption inside item */
    }
  }

  .scrollbar {
    width: $_ui_contentflow__scrollbar___width;
    margin: $_ui_contentflow__scrollbar___margin;
    margin-top: $_ui_contentflow__scrollbar___margin_top;
    height: $_ui_contentflow__scrollbar___height;
    background: $_ui_contentflow__scrollbar___background;
    position: $_ui_contentflow__scrollbar___position;
    overflow: $_ui_contentflow__scrollbar___overflow;

    .slider {
      width: $_ui_contentflow__scrollbar__slider___width;
      height: $_ui_contentflow__scrollbar__slider___height;
      background: $_ui_contentflow__scrollbar__slider___background;
      cursor: $_ui_contentflow__scrollbar__slider___cursor;
    }
  }
}

/* ----- scrollbar ----- */

/* only for IE <= 6 and a alphatransparent slider image */

* html .ui-contentflow .scrollbar .slider {
  background-image: $__html__ui_contentflow__scrollbar__slider___background_image;

  .virtualSlider {
    filter: $__html__ui_contentflow__scrollbar__slider__virtualSlider___filter;
  }
}

.ui-contentflow {
  .scrollbar .slider .position {
    top: $_ui_contentflow__scrollbar__slider__position___top;
    font-size: $_ui_contentflow__scrollbar__slider__position___font_size;
    font-weight: $_ui_contentflow__scrollbar__slider__position___font_weight;
    color: $_ui_contentflow__scrollbar__slider__position___color;
  }

  .globalCaption {
    text-align: $_ui_contentflow__globalCaption___text_align;
    font-weight: $_ui_contentflow__globalCaption___font_weight;
    color: $_ui_contentflow__globalCaption___color;
    font-size: $_ui_contentflow__globalCaption___font_size;
    height: $_ui_contentflow__globalCaption___height;
    margin: $_ui_contentflow__globalCaption___margin;

    .caption a {
      text-decoration: $_ui_contentflow__globalCaption__caption_a___text_decoration;
      color: $_ui_contentflow__globalCaption__caption_a___color;
      font-style: $_ui_contentflow__globalCaption__caption_a___font_style;
      font-size: $_ui_contentflow__globalCaption__caption_a___font_size;

      &:link, &:visited, &:active {
        text-decoration: $_ui_contentflow__globalCaption__caption_a_link___ui_contentflow__globalCaption__caption_a_visited___ui_contentflow__globalCaption__caption_a_active___text_decoration;
        color: $_ui_contentflow__globalCaption__caption_a_link___ui_contentflow__globalCaption__caption_a_visited___ui_contentflow__globalCaption__caption_a_active___color;
        font-style: $_ui_contentflow__globalCaption__caption_a_link___ui_contentflow__globalCaption__caption_a_visited___ui_contentflow__globalCaption__caption_a_active___font_style;
        font-size: $_ui_contentflow__globalCaption__caption_a_link___ui_contentflow__globalCaption__caption_a_visited___ui_contentflow__globalCaption__caption_a_active___font_size;
      }

      &:hover {
        text-decoration: $_ui_contentflow__globalCaption__caption_a_hover___text_decoration;
        color: $_ui_contentflow__globalCaption__caption_a_hover___color;
        font-style: $_ui_contentflow__globalCaption__caption_a_hover___font_style;
        font-size: $_ui_contentflow__globalCaption__caption_a_hover___font_size;
        text-decoration: $_ui_contentflow__globalCaption__caption_a_hover___text_decoration;
      }
    }
  }

  .loadIndicator {
    width: $_ui_contentflow__loadIndicator___width;
    height: $_ui_contentflow__loadIndicator___height;
    top: $_ui_contentflow__loadIndicator___top;
    left: $_ui_contentflow__loadIndicator___left;
    background: $_ui_contentflow__loadIndicator___background;

    .indicator {
      background: $_ui_contentflow__loadIndicator__indicator___background;
      width: $_ui_contentflow__loadIndicator__indicator___width;
      height: $_ui_contentflow__loadIndicator__indicator___height;
    }
  }
}

/* ----- global caption ----- */

/* ----- load indicator ----- */

* html .ui-contentflow .loadIndicator .indicator {
  height: $__html__ui_contentflow__loadIndicator__indicator___height;
}

/* ================================= */

/* ========== ContentFlow ========== */
/* 
 * This is the basic CSS file needed for the correct functioning of ui-contentflow.
 * DON'T CHANGE IT.
 *
 */

.ui-contentflow {
  position: $_ui_contentflow___position;

  /* needed so overlay dimensions are constrained to the ui-contentflow */
  overflow: $_ui_contentflow___overflow;

  * {
    margin: $_ui_contentflow_____margin;
    padding: $_ui_contentflow_____padding;

    /*border: none;*/
  }

  img {
    -ms-interpolation-mode: $_ui_contentflow_img____ms_interpolation_mode;
  }

  .mouseoverCheckElement {
    position: $_ui_contentflow__mouseoverCheckElement___position;
    width: $_ui_contentflow__mouseoverCheckElement___width;
    height: $_ui_contentflow__mouseoverCheckElement___height;
    left: $_ui_contentflow__mouseoverCheckElement___left;

    /*display: none;*/
    visibility: $_ui_contentflow__mouseoverCheckElement___visibility;
  }

  &:hover .mouseoverCheckElement {
    left: $_ui_contentflow_hover__mouseoverCheckElement___left;

    /*width: 1px;*/
    /*left: -1px;*/
    /*background-color: red;*/
  }

  .flow {
    position: $_ui_contentflow__flow___position;

    /* needed  so that items can be positioned relative to flow*/
    z-index: $_ui_contentflow__flow___z_index;

    /* need so every item has a z-index relative to the flow-box */
    visibility: $_ui_contentflow__flow___visibility;

    /* needed so that content is hidden while loading */
    width: $_ui_contentflow__flow___width;

    /* needed for IE6 */
    margin: $_ui_contentflow__flow___margin;

    &.hidden {
      visibility: $_ui_contentflow__flow_hidden___visibility;
    }

    .item {
      position: $_ui_contentflow__flow__item___position;

      /* needed */
      visibility: $_ui_contentflow__flow__item___visibility;
      top: $_ui_contentflow__flow__item___top;
      left: $_ui_contentflow__flow__item___left;

      &.active {}

      .content {
        display: $_ui_contentflow__flow__item__content___display;
      }

      div.content {
        width: $_ui_contentflow__flow__item_div_content___width;
        height: $_ui_contentflow__flow__item_div_content___height;
      }

      .label {
        display: $_ui_contentflow__flow__item__label___display;
      }

      .reflection {
        display: $_ui_contentflow__flow__item__reflection___display;
      }

      canvas.reflection {
        margin-top: $_ui_contentflow__flow__item_canvas_reflection___margin_top;

        /* for FF */
      }

      .caption {
        position: $_ui_contentflow__flow__item__caption___position;

        /* needed */
        display: $_ui_contentflow__flow__item__caption___display;

        /* needed to hide it on inactive items */
      }

      &.active .caption {
        /*display: block;*/

        /* uncomment to show caption inside item */
      }
    }
  }

  .scrollbar {
    position: $_ui_contentflow__scrollbar___position;

    /* needed for z-index */
    z-index: $_ui_contentflow__scrollbar___z_index;

    /* set above flow */
    visibility: $_ui_contentflow__scrollbar___visibility;

    .slider {
      position: $_ui_contentflow__scrollbar__slider___position;

      /* needed */
    }
  }
}

/* ----- scrollbar ----- */

* html .ui-contentflow .scrollbar .slider .virtualSlider {
  height: $__html__ui_contentflow__scrollbar__slider__virtualSlider___height;
}

.ui-contentflow {
  .scrollbar .slider .position {
    position: $_ui_contentflow__scrollbar__slider__position___position;

    /* needed */
    text-align: $_ui_contentflow__scrollbar__slider__position___text_align;
  }

  .globalCaption {
    position: $_ui_contentflow__globalCaption___position;

    /* needed for z-index */
    z-index: $_ui_contentflow__globalCaption___z_index;

    /* set above flow */
  }

  .loadIndicator {
    position: $_ui_contentflow__loadIndicator___position;

    /* needed */
    z-index: $_ui_contentflow__loadIndicator___z_index;

    /* set above everything */
  }
}

/* ----- global caption ----- */

/* ----- load indicator ----- */
