/* ========== ContentFlow ========== */
/*
 * default style to look nice
 */

.ui-contentflow .flow {
  /*border: 1px solid green;*/

  * {}

  .item {
    /*border: 1px solid red;*/

    canvas.content {
      height: 100%;
      width: 100%;

      /*border: 1px solid yellow;*/
    }

    img {
      &.content {
        /*border: 1px solid yellow;*/
        width: 100%;
      }

      &.reflection {
        width: 100%;
      }
    }

    canvas.reflection {
      width: 100%;
    }

    &.active {
      cursor: pointer;
    }

    .caption {
      font-size: 100%;
      font-weight: bold;
      text-align: center;
      color: white;
      max-height: 30%;
      bottom: 10%;
      background: url("contentflow/images/1x1_0.5_black.png");
      width: 100%;
    }
  }
}

/* ----- styling of items ----- */

* html .ui-contentflow .flow .item .caption {
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src="contentflow/images/1x1_0.5_black.png");
}

.ui-contentflow {
  .flow .item {
    .caption a {
      text-decoration: none;
      color: white;
      font-style: italic;
      font-size: 0.8em;

      &:link, &:visited, &:active {
        text-decoration: none;
        color: white;
        font-style: italic;
        font-size: 0.8em;
      }

      &:hover {
        text-decoration: none;
        color: white;
        font-style: italic;
        font-size: 0.8em;
        text-decoration: underline;
      }
    }

    &.active .caption {
      /*display: block;*/

      /* uncomment to show caption inside item */
    }
  }

  .scrollbar {
    width: 50%;
    margin: 0px auto;
    margin-top: 10px;
    height: 16px;
    background: url("contentflow/images/scrollbar_white.png") left center repeat-x;
    position: relative;
    overflow: visible;

    .slider {
      width: 16px;
      height: 16px;
      background: url("contentflow/images/scrollbar_white.png") center center no-repeat;
      cursor: move;
    }
  }
}

/* ----- scrollbar ----- */

/* only for IE <= 6 and a alphatransparent slider image */

* html .ui-contentflow .scrollbar .slider {
  background-image: none;

  .virtualSlider {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop, src="contentflow/images/scrollbar_white.png");
  }
}

.ui-contentflow {
  .scrollbar .slider .position {
    top: 120%;
    font-size: 16px;
    font-weight: bold;
    color: silver;
  }

  .globalCaption {
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 14px;
    height: 20px;
    margin: 2em auto;

    .caption a {
      text-decoration: none;
      color: white;
      font-style: italic;
      font-size: 0.8em;

      &:link, &:visited, &:active {
        text-decoration: none;
        color: white;
        font-style: italic;
        font-size: 0.8em;
      }

      &:hover {
        text-decoration: none;
        color: white;
        font-style: italic;
        font-size: 0.8em;
        text-decoration: underline;
      }
    }
  }

  .loadIndicator {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: black;

    .indicator {
      background: url("contentflow/images/loader.gif") center center no-repeat;
      width: 100%;
      height: 100%;
    }
  }
}

/* ----- global caption ----- */

/* ----- load indicator ----- */

* html .ui-contentflow .loadIndicator .indicator {
  height: 100px;
}

/* ================================= */

/* ========== ContentFlow ========== */
/* 
 * This is the basic CSS file needed for the correct functioning of ui-contentflow.
 * DON'T CHANGE IT.
 *
 */

.ui-contentflow {
  position: relative;

  /* needed so overlay dimensions are constrained to the ui-contentflow */
  overflow: hidden;

  * {
    margin: 0px;
    padding: 0px;

    /*border: none;*/
  }

  img {
    -ms-interpolation-mode: bicubic;
  }

  .mouseoverCheckElement {
    position: absolute;
    width: 0px;
    height: 0px;
    left: 0px;

    /*display: none;*/
    visibility: hidden;
  }

  &:hover .mouseoverCheckElement {
    left: 1px;

    /*width: 1px;*/
    /*left: -1px;*/
    /*background-color: red;*/
  }

  .flow {
    position: relative;

    /* needed  so that items can be positioned relative to flow*/
    z-index: 0;

    /* need so every item has a z-index relative to the flow-box */
    visibility: hidden;

    /* needed so that content is hidden while loading */
    width: 100%;

    /* needed for IE6 */
    margin: 0 auto;

    &.hidden {
      visibility: hidden;
    }

    .item {
      position: absolute;

      /* needed */
      visibility: hidden;
      top: 0px;
      left: 0px;

      &.active {}

      .content {
        display: block;
      }

      div.content {
        width: 100%;
        height: 100%;
      }

      .label {
        display: none;
      }

      .reflection {
        display: block;
      }

      canvas.reflection {
        margin-top: -1px;

        /* for FF */
      }

      .caption {
        position: absolute;

        /* needed */
        display: none;

        /* needed to hide it on inactive items */
      }

      &.active .caption {
        /*display: block;*/

        /* uncomment to show caption inside item */
      }
    }
  }

  .scrollbar {
    position: relative;

    /* needed for z-index */
    z-index: 1;

    /* set above flow */
    visibility: hidden;

    .slider {
      position: absolute;

      /* needed */
    }
  }
}

/* ----- scrollbar ----- */

* html .ui-contentflow .scrollbar .slider .virtualSlider {
  height: 100%;
}

.ui-contentflow {
  .scrollbar .slider .position {
    position: absolute;

    /* needed */
    text-align: center;
  }

  .globalCaption {
    position: relative;

    /* needed for z-index */
    z-index: 1;

    /* set above flow */
  }

  .loadIndicator {
    position: absolute;

    /* needed */
    z-index: 65000;

    /* set above everything */
  }
}

/* ----- global caption ----- */

/* ----- load indicator ----- */
