@import "compass/css3/images";

.local-header {
  .navbar-local {
    @include theme_element(background-color, primary);
    font-family: $font-family-sans-serif-extra;
    font-size: 14px;
    padding: 0;
    border-bottom: $border-width solid;
    @include theme_element(border-bottom-color, dark);
    
    .nav-item {
      @include hover-focus {
        @include theme_element(background-color, darker);
      }
      margin-left: 0;
      @include theme_element(background-color, primary);
      &.active {
        @include theme_element(background-color, lighter);
      }
      &:not(.pull-right) .nav-link {
        border-right: $border-width solid;
        @include theme_element(border-right-color, dark);
      }
      &.pull-right .nav-link {
        border-left: $border-width solid;
        @include theme_element(border-left-color, dark);
      }
    }
    
    .nav-link {
      color: #ffffff;
      padding: 10px 20px;
    }
    
    .dropdown-toggle:after {
      border: none;
      width:20px;
      height:20px;
      @include background(url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAHCAYAAADTcMcaAAAAK0lEQVR42mP4+/dvAwMJAK6eWI0Y6ghpxCmPS4KgS9AVEO1nmEJSAwmvBgDXWC0MT+3i3gAAAABJRU5ErkJggg==));
      background-repeat: no-repeat;
      background-position: center;
      position: relative;
      left: 10px;
    }
    
    .dropdown-menu {
      @include theme_element(background-color, darker);
      margin-top: 0px;
      margin-left: -$border-width;
      padding: 0px;
      font-size: 1em;
      a {
        border-top: $border-width solid;
        @include theme_element(border-top-color, dark);
        padding: 10px;
        @include hover-focus {
          @include theme_element(background-color, primary);
        }
        color: #ffffff;
      }
    }
  }
}
