.ui-inputfield {
  margin: 0 !default;
  outline: medium none !default;
  padding: 4px !default;
  font-weight: normal !default;
}

.ui-widget-header .ui-inputfield, .ui-widget-content .ui-inputfield {
  font-weight: normal !default;
}

.ui-inputtextarea-resizable {
  overflow: hidden !default;
  resize: none !default;
}

.ui-selectonelistbox, .ui-selectmanymenu, .ui-multiselectlistbox-listcontainer {
  padding: 2px !default;
  width: 150px !default;
}

.ui-selectonelistbox .ui-selectlistbox-listcontainer, .ui-selectmanymenu .ui-selectlistbox-listcontainer, .ui-multiselectlistbox-listcontainer {
  overflow: auto !default;
}

.ui-selectonelistbox.ui-state-disabled .ui-selectlistbox-listcontainer, .ui-selectmanymenu.ui-state-disabled .ui-selectlistbox-listcontainer {
  overflow: hidden !default;
}

.ui-selectonelistbox .ui-selectlistbox-list, .ui-selectmanymenu .ui-selectlistbox-list, .ui-multiselectlistbox .ui-multiselectlistbox-list {
  list-style-type: none !default;
  margin: 0 !default;
  padding: 0 !default;
}

.ui-selectonelistbox .ui-selectlistbox-item, .ui-selectmanymenu .ui-selectlistbox-item, .ui-multiselectlistbox .ui-multiselectlistbox-item {
  margin: 2px !default;
  border: 0 none !default;
  cursor: pointer !default;
  font-weight: normal !default;
}

.ui-selectonelistbox table.ui-selectlistbox-list, .ui-selectmanymenu table.ui-selectlistbox-list {
  border-collapse: collapse !default;
  width: 100% !default;
}

.ui-selectlistbox-filter.ui-inputfield {
  padding-right: 12% !default;
  padding-left: 2% !default;
  width: 85% !default;
  -moz-box-shadow: none !default;
  -webkit-box-shadow: none !default;
  box-shadow: none !default;
}

.ui-selectlistbox-filter-container {
  position: relative !default;
  margin: 0.1em 0 0.1em 0 !default;
  padding: 0 !default;

  .ui-icon {
    position: absolute !default;
    top: 5px !default;
    right: 2px !default;
  }
}

.ui-multiselectlistbox {
  .ui-multiselectlistbox-listcontainer {
    float: left !default;
    margin-right: 4px !default;
  }

  .ui-multiselectlistbox-item {
    white-space: nowrap !default;
  }

  &.ui-state-disabled .ui-multiselectlistbox-item {
    cursor: default !default;
  }

  .ui-multiselectlistbox-header {
    text-align: center !default;
    padding: 2px 10px !default;
    border-bottom: 0px none !default;
  }
}

/**
 * Checkbox
 */

.ui-chkbox {
  display: inline-block !default;

  .ui-chkbox-box {
    width: 16px !default;
    height: 16px !default;
    display: inline-block !default;
    -moz-border-radius: 2px !default;
    -webkit-border-radius: 2px !default;
    border-radius: 2px !default;
  }
}

.ui-chkbox-icon.ui-icon {
  overflow: visible !default;
}

.ui-chkbox .ui-chkbox-label {
  cursor: pointer !default;
  margin: 3px 0 0 3px !default;
  outline: medium none !default;
  z-index: 1 !default;
  display: inline-block !default;
  vertical-align: top !default;
}

.ui-selectoneradio label {
  display: block !default;
  margin-top: 4px !default;
}

.ui-selectmanycheckbox.ui-widget td, .ui-selectoneradio.ui-widget td {
  border: 0 none !default;
}

.ui-selectmanycheckbox.ui-grid label, .ui-selectoneradio.ui-grid label {
  display: inline-block !default;
  margin-left: 4px !default;
  vertical-align: top !default;
}

.ui-panelgrid {
  .ui-selectoneradio.ui-grid-responsive .ui-grid-row, .ui-selectmanycheckbox.ui-grid-responsive .ui-grid-row {
    border-top: 0px none !default;
  }
}

/** RadioButton **/

.ui-radiobutton {
  margin: 3px 0 !default;
  width: 16px !default;
  line-height: 16px !default;
  display: inline-block !default;

  .ui-radiobutton-box {
    width: 16px !default;
    height: 16px !default;
    line-height: 16px !default;
    -moz-border-radius: 10px !default;
    -webkit-border-radius: 10px !default;
    border-radius: 10px !default;
  }
}

.ui-radiobutton-icon {
  margin-left: 1px !default;
}

.ui-radiobutton.ui-radiobutton-native {
  margin: 0 !default;
  padding: 0 !default;

  .ui-helper-hidden-accessible {
    clip: auto !default;
    position: static !important !default;
    width: auto !default;
    height: auto !default;
    overflow: visible !default;
    margin: 0 !default;
    padding: 0 !default;
  }

  .ui-radiobutton-box {
    display: none !default;
  }

  .ui-helper-hidden-accessible input {
    margin: 0 !default;
  }
}

.ui-selectoneradio-native label {
  margin: 0 !default;
}

/** SelectOneMenu **/

.ui-selectonemenu {
  display: inline-block !default;
  position: relative !default;
  width: auto !default;
  zoom: 1 !default;
  cursor: pointer !default;
  padding-right: 2em !default;

  .ui-selectonemenu-trigger {
    border-right: none !default;
    border-top: none !default;
    border-bottom: none !default;
    cursor: pointer !default;
    width: 16px !default;
    height: 100% !default;
    position: absolute !default;
    right: 0 !default;
    top: 0 !default;
    padding: 0 3px !default;

    .ui-icon {
      margin-top: 3px !default;
    }
  }

  .ui-selectonemenu-label {
    display: block !default;
    border: none !default;
    white-space: nowrap !default;
    overflow: hidden !default;
    font-weight: normal !default;
    width: 100% !default;
    text-align: left !default;
  }

  &.ui-state-disabled {
    .ui-selectonemenu-trigger, .ui-selectonemenu-label {
      cursor: default !default;
    }
  }

  label.ui-selectonemenu-label {
    cursor: pointer !default;
  }

  input.ui-selectonemenu-label {
    cursor: default !default;
  }
}

.ui-selectonemenu-panel {
  position: absolute !default;
  height: auto !default;

  .ui-selectonemenu-items-wrapper {
    overflow: auto !default;
  }

  .ui-selectonemenu-item {
    font-weight: normal !default;
    cursor: pointer !default;
  }

  .ui-selectonemenu-item-group {
    font-weight: bold !default;
  }

  .ui-selectonemenu-list {
    padding: 0.4em !default;
    border: 0 none !default;
  }

  .ui-selectonemenu-list-item {
    border: 0px none !default;
    margin: 1px 0 !default;
    padding: 3px 5px !default;
    text-align: left !default;
    white-space: nowrap !default;
  }

  .ui-selectonemenu-table {
    border-collapse: collapse !default;
    width: 100% !default;

    td {
      border-width: 1px !default;
      border-style: solid !default;
      border-color: inherit !default;
      padding: 4px 10px 4px 10px !default;
    }
  }

  .ui-selectonemenu-filter {
    width: 85% !default;
    padding-right: 15px !default;
  }

  .ui-selectonemenu-filter-container {
    position: relative !default;
    margin: 0 !default;
    padding: 0.4em !default;
    display: inline-block !default;

    .ui-icon {
      position: absolute !default;
      top: 10px !default;
      right: 10px !default;
    }
  }
}

.ui-state-disabled a {
  outline: none !default;
}

/* Button */

.ui-button {
  display: inline-block !default;
  position: relative !default;
  padding: 0 !default;
  margin-right: .1em !default;
  text-decoration: none !important !default;
  cursor: pointer !default;
  text-align: center !default;
  zoom: 1 !default;
  overflow: visible !default;

  /* the overflow property removes extra width in IE */
}

.ui-button-icon-only {
  width: 2.4em !default;
}

/*button text element */

.ui-button .ui-button-text {
  display: block !default;
  line-height: normal !default;
}

.ui-button-text-only .ui-button-text {
  padding: .3em 1em !default;
}

.ui-button-icon-only .ui-button-text {
  padding: .3em !default;
  text-indent: -9999999px !default;
}

.ui-button-text-icon-left .ui-button-text {
  padding: .3em 1em .3em 2.1em !default;
}

.ui-button-text-icon-right .ui-button-text {
  padding: .3em 2.1em .3em 1em !default;
}

/*button icon element(s) */

.ui-button-icon-only .ui-icon, .ui-button-text-icon-left .ui-icon, .ui-button-text-icon-right .ui-icon {
  position: absolute !default;
  top: 50% !default;
  margin-top: -8px !default;
}

/* FontAwesome icon */

.ui-button-icon-only .ui-icon.fa, .ui-button-text-icon-left .ui-icon.fa, .ui-button-text-icon-right .ui-icon.fa {
  margin-top: -7px !default;
}

.ui-button-icon-only .ui-icon {
  left: 50% !default;
  margin-left: -8px !default;
}

.ui-button-icon-left {
  left: .5em !default;
}

.ui-button-icon-right {
  right: .5em !default;
}

/*button sets*/

.ui-buttonset {
  margin-right: 7px !default;

  .ui-button {
    margin-left: 0 !default;
    margin-right: 0 !default;
  }
}

/* workarounds */

button.ui-button::-moz-focus-inner {
  border: 0 !default;
  padding: 0 !default;

  /* reset extra padding in Firefox */
}

/** SelectCheckbox Menu **/

.ui-selectcheckboxmenu {
  display: inline-block !default;
  position: relative !default;
  width: auto !default;
  zoom: 1 !default;
  cursor: pointer !default;

  .ui-selectcheckboxmenu-trigger {
    border-right: none !default;
    border-top: none !default;
    border-bottom: none !default;
    cursor: pointer !default;
    width: 16px !default;
    height: 100% !default;
    position: absolute !default;
    right: 0 !default;
    top: 0 !default;
    padding: 0 3px !default;

    .ui-icon {
      margin-top: 3px !default;
    }
  }

  .ui-selectcheckboxmenu-label {
    display: block !default;
    padding: 3px 26px 3px 5px !default;
    width: auto !default;
    border: none !default;
    cursor: pointer !default;
  }

  &.ui-state-disabled {
    .ui-selectcheckboxmenu-trigger, .ui-selectcheckboxmenu-label {
      cursor: auto !default;
    }
  }
}

.ui-selectcheckboxmenu-panel {
  padding: 0.2em !default;
  position: absolute !default;
  overflow: hidden !default;
  -moz-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.8) !default;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.8) !default;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.8) !default;

  .ui-selectcheckboxmenu-items-wrapper {
    overflow: auto !default;
    position: relative !default;
    padding: 0.2em 0 !default;
  }

  .ui-selectcheckboxmenu-list {
    border: 0 none !default;
  }

  .ui-selectcheckboxmenu-list-item {
    border: 0px none !default;
    cursor: pointer !default;
    font-weight: normal !default;
    margin: 1px 0 !default;
    padding: 3px 5px !default;
    text-align: left !default;
    white-space: nowrap !default;
    display: block !default;
    position: relative !default;

    .ui-chkbox {
      position: absolute !default;
      top: 50% !default;
      margin-top: -8px !default;
    }

    label {
      display: block !default;
      padding-left: 2.2em !default;
    }
  }
}

.ui-selectcheckboxmenu-header {
  margin-bottom: 0.3em !default;
  padding: 0.3em 0 0.3em 0.4em !default;

  .ui-chkbox {
    float: left !default;
    cursor: pointer !default;
  }

  .ui-selectcheckboxmenu-filter-container {
    float: left !default;
    position: relative !default;
    margin-left: 5px !default;

    .ui-icon {
      position: absolute !default;
      right: 5px !default;
      top: 2px !default;
    }
  }

  .ui-inputfield {
    padding: 1px 20px 1px 2px !default;
  }

  span.ui-icon {
    float: left !default;
  }

  a {
    &.ui-selectcheckboxmenu-all, &.ui-selectcheckboxmenu-none {
      float: left !default;
      margin-right: 10px !default;
      display: block !default;
    }
  }

  .ui-selectcheckboxmenu-close {
    float: right !default;
    padding: 1px !default;
    margin-right: 0.2em !default;
    display: block !default;

    &.ui-state-hover {
      padding: 0px !default;
    }
  }
}

.ui-splitbutton {
  position: relative !default;
  padding-right: 2em !default;

  .ui-button.ui-splitbutton-menubutton {
    width: 32px !default;
    position: absolute !default;
    top: 0px !default;
    margin-left: -1px !default;
    right: 0px !default;
  }
}

/** IE Hacks **/

div.ui-button, .ui-splitbutton {
  display: inline-block !default;
  zoom: 1 !default;
}

/** Password **/

.ui-password-panel {
  padding: 4px 10px !default;
  width: 150px !default;
  margin-top: 2px !default;

  .ui-password-meter {
    height: 10px !default;
    background: transparent url("#{resource['primefaces:forms/password-meter.png']}") no-repeat left top !default;
    padding: 0 !default;
    margin: 0 !default;
  }
}

.ui-password-info {
  margin-top: 4px !default;
}

.ui-password-panel-overlay {
  position: absolute !default;
}

/* OutputLabel */

.ui-outputlabel {
  &.ui-state-error {
    border: 0 none !default;
  }

  .ui-outputlabel-rfi {
    margin-left: 0.4em !default;
  }
}

/* SelectOneButton */

.ui-selectonebutton, .ui-selectmanybutton {
  display: inline-block !default;
  padding: 1px !default;

  &.ui-state-error {
    padding: 0px !default;
  }

  .ui-button.ui-state-focus {
    outline: none !default;
  }
}

/* SelectManyButton */

/** Fluid **/

.ui-fluid {
  .ui-inputfield {
    box-sizing: border-box !default;
    -webkit-box-sizing: border-box !default;
    -moz-box-sizing: border-box !default;
  }

  .ui-inputtext, .ui-inputtextarea {
    width: 100% !default;
  }

  .ui-selectonemenu {
    width: 100% !default;
    box-sizing: border-box !default;
    -webkit-box-sizing: border-box !default;
    -moz-box-sizing: border-box !default;

    .ui-selectonemenu-trigger {
      width: 32px !default;
      padding: 0 6px !default;
      box-sizing: border-box !default;
      -webkit-box-sizing: border-box !default;
      -moz-box-sizing: border-box !default;
    }
  }

  .ui-calendar {
    width: 100% !default;

    input {
      width: 100% !default;
    }
  }

  .ui-spinner {
    width: 100% !default;

    .ui-spinner-input {
      padding-right: 36px !default;
      width: 100% !default;
    }

    .ui-spinner-button {
      width: auto !default;

      .ui-icon {
        left: 6px !default;
      }
    }
  }

  .ui-autocomplete, .ui-autocomplete-input {
    width: 100% !default;
  }

  .ui-autocomplete .ui-autocomplete-dropdown.ui-button {
    width: 2.4em !default;
  }

  .ui-inputmask, .ui-password, .ui-keyboard-input {
    width: 100% !default;
  }

  .ui-selectcheckboxmenu {
    width: 100% !default;
    box-sizing: border-box !default;
    -webkit-box-sizing: border-box !default;
    -moz-box-sizing: border-box !default;

    .ui-selectcheckboxmenu-trigger .ui-icon {
      margin-left: auto !default;
      margin-right: auto !default;
    }
  }

  .ui-selectcheckboxmenu-trigger {
    width: 32px !default;
    box-sizing: border-box !default;
    -webkit-box-sizing: border-box !default;
    -moz-box-sizing: border-box !default;
  }

  .ui-button {
    width: 100% !default;
    box-sizing: border-box !default;
    -webkit-box-sizing: border-box !default;
    -moz-box-sizing: border-box !default;
  }

  .ui-buttonset {
    width: 100% !default;

    &.ui-buttonset-1 .ui-button {
      width: 100% !default;
    }

    &.ui-buttonset-2 .ui-button {
      width: 50% !default;
    }

    &.ui-buttonset-3 .ui-button {
      width: 33.3% !default;
    }

    &.ui-buttonset-4 .ui-button {
      width: 25% !default;
    }

    &.ui-buttonset-5 .ui-button {
      width: 20% !default;
    }

    &.ui-buttonset-6 .ui-button {
      width: 16.6% !default;
    }
  }

  .ui-splitbutton {
    width: 100% !default;
    box-sizing: border-box !default;
    -webkit-box-sizing: border-box !default;
    -moz-box-sizing: border-box !default;

    .ui-button {
      width: 100% !default;

      &.ui-splitbutton-menubutton {
        width: 32px !default;
        box-sizing: border-box !default;
        -webkit-box-sizing: border-box !default;
        -moz-box-sizing: border-box !default;
      }
    }
  }

  .ui-selectonelistbox, .ui-selectmanymenu {
    width: 100% !default;
  }
}

/** InputText **/

/** InputTextarea **/

/** SelectOneMenu **/

/** Calendar **/

/** Spinner **/

/** AutoComplete **/

/** InputMask **/

/** Password **/

/** Keyboard **/

/** CheckboxMenu **/

/** Button **/

/** ButtonSet **/

@media (max-width: 640px) {
  .ui-fluid .ui-buttonset {
    &.ui-buttonset-1 .ui-button, &.ui-buttonset-2 .ui-button, &.ui-buttonset-3 .ui-button, &.ui-buttonset-4 .ui-button, &.ui-buttonset-5 .ui-button, &.ui-buttonset-6 .ui-button {
      width: 100% !default;
    }
  }
}

/** SplitButton **/

/** Listbox **/
