.ui-inputfield {
  margin: 0;
  outline: medium none;
  padding: 4px;
  font-weight: normal;
}

.ui-widget-header .ui-inputfield, .ui-widget-content .ui-inputfield {
  font-weight: normal;
}

.ui-inputtextarea-resizable {
  overflow: hidden;
  resize: none;
}

.ui-selectonelistbox, .ui-selectmanymenu, .ui-multiselectlistbox-listcontainer {
  padding: 2px;
  width: 150px;
}

.ui-selectonelistbox .ui-selectlistbox-listcontainer, .ui-selectmanymenu .ui-selectlistbox-listcontainer, .ui-multiselectlistbox-listcontainer {
  overflow: auto;
}

.ui-selectonelistbox.ui-state-disabled .ui-selectlistbox-listcontainer, .ui-selectmanymenu.ui-state-disabled .ui-selectlistbox-listcontainer {
  overflow: hidden;
}

.ui-selectonelistbox .ui-selectlistbox-list, .ui-selectmanymenu .ui-selectlistbox-list, .ui-multiselectlistbox .ui-multiselectlistbox-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.ui-selectonelistbox .ui-selectlistbox-item, .ui-selectmanymenu .ui-selectlistbox-item, .ui-multiselectlistbox .ui-multiselectlistbox-item {
  margin: 2px;
  border: 0 none;
  cursor: pointer;
  font-weight: normal;
}

.ui-selectonelistbox table.ui-selectlistbox-list, .ui-selectmanymenu table.ui-selectlistbox-list {
  border-collapse: collapse;
  width: 100%;
}

.ui-selectlistbox-filter.ui-inputfield {
  padding-right: 12%;
  padding-left: 2%;
  width: 85%;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.ui-selectlistbox-filter-container {
  position: relative;
  margin: 0.1em 0 0.1em 0;
  padding: 0;

  .ui-icon {
    position: absolute;
    top: 5px;
    right: 2px;
  }
}

.ui-multiselectlistbox {
  .ui-multiselectlistbox-listcontainer {
    float: left;
    margin-right: 4px;
  }

  .ui-multiselectlistbox-item {
    white-space: nowrap;
  }

  &.ui-state-disabled .ui-multiselectlistbox-item {
    cursor: default;
  }

  .ui-multiselectlistbox-header {
    text-align: center;
    padding: 2px 10px;
    border-bottom: 0px none;
  }
}

/**
 * Checkbox
 */

.ui-chkbox {
  display: inline-block;

  .ui-chkbox-box {
    width: 16px;
    height: 16px;
    display: inline-block;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
  }
}

.ui-chkbox-icon.ui-icon {
  overflow: visible;
}

.ui-chkbox .ui-chkbox-label {
  cursor: pointer;
  margin: 3px 0 0 3px;
  outline: medium none;
  z-index: 1;
  display: inline-block;
  vertical-align: top;
}

.ui-selectoneradio label {
  display: block;
  margin-top: 4px;
}

.ui-selectmanycheckbox.ui-widget td, .ui-selectoneradio.ui-widget td {
  border: 0 none;
}

.ui-selectmanycheckbox.ui-grid label, .ui-selectoneradio.ui-grid label {
  display: inline-block;
  margin-left: 4px;
  vertical-align: top;
}

.ui-panelgrid {
  .ui-selectoneradio.ui-grid-responsive .ui-grid-row, .ui-selectmanycheckbox.ui-grid-responsive .ui-grid-row {
    border-top: 0px none;
  }
}

/** RadioButton **/

.ui-radiobutton {
  margin: 3px 0;
  width: 16px;
  line-height: 16px;
  display: inline-block;

  .ui-radiobutton-box {
    width: 16px;
    height: 16px;
    line-height: 16px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
}

.ui-radiobutton-icon {
  margin-left: 1px;
}

.ui-radiobutton.ui-radiobutton-native {
  margin: 0;
  padding: 0;

  .ui-helper-hidden-accessible {
    clip: auto;
    position: static !important;
    width: auto;
    height: auto;
    overflow: visible;
    margin: 0;
    padding: 0;
  }

  .ui-radiobutton-box {
    display: none;
  }

  .ui-helper-hidden-accessible input {
    margin: 0;
  }
}

.ui-selectoneradio-native label {
  margin: 0;
}

/** SelectOneMenu **/

.ui-selectonemenu {
  display: inline-block;
  position: relative;
  width: auto;
  zoom: 1;
  cursor: pointer;
  padding-right: 2em;

  .ui-selectonemenu-trigger {
    border-right: none;
    border-top: none;
    border-bottom: none;
    cursor: pointer;
    width: 16px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 3px;

    .ui-icon {
      margin-top: 3px;
    }
  }

  .ui-selectonemenu-label {
    display: block;
    border: none;
    white-space: nowrap;
    overflow: hidden;
    font-weight: normal;
    width: 100%;
    text-align: left;
  }

  &.ui-state-disabled {
    .ui-selectonemenu-trigger, .ui-selectonemenu-label {
      cursor: default;
    }
  }

  label.ui-selectonemenu-label {
    cursor: pointer;
  }

  input.ui-selectonemenu-label {
    cursor: default;
  }
}

.ui-selectonemenu-panel {
  position: absolute;
  height: auto;

  .ui-selectonemenu-items-wrapper {
    overflow: auto;
  }

  .ui-selectonemenu-item {
    font-weight: normal;
    cursor: pointer;
  }

  .ui-selectonemenu-item-group {
    font-weight: bold;
  }

  .ui-selectonemenu-list {
    padding: 0.4em;
    border: 0 none;
  }

  .ui-selectonemenu-list-item {
    border: 0px none;
    margin: 1px 0;
    padding: 3px 5px;
    text-align: left;
    white-space: nowrap;
  }

  .ui-selectonemenu-table {
    border-collapse: collapse;
    width: 100%;

    td {
      border-width: 1px;
      border-style: solid;
      border-color: inherit;
      padding: 4px 10px 4px 10px;
    }
  }

  .ui-selectonemenu-filter {
    width: 85%;
    padding-right: 15px;
  }

  .ui-selectonemenu-filter-container {
    position: relative;
    margin: 0;
    padding: 0.4em;
    display: inline-block;

    .ui-icon {
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }
}

.ui-state-disabled a {
  outline: none;
}

/* Button */

.ui-button {
  display: inline-block;
  position: relative;
  padding: 0;
  margin-right: .1em;
  text-decoration: none !important;
  cursor: pointer;
  text-align: center;
  zoom: 1;
  overflow: visible;

  /* the overflow property removes extra width in IE */
}

.ui-button-icon-only {
  width: 2.4em;
}

/*button text element */

.ui-button .ui-button-text {
  display: block;
  line-height: normal;
}

.ui-button-text-only .ui-button-text {
  padding: .3em 1em;
}

.ui-button-icon-only .ui-button-text {
  padding: .3em;
  text-indent: -9999999px;
}

.ui-button-text-icon-left .ui-button-text {
  padding: .3em 1em .3em 2.1em;
}

.ui-button-text-icon-right .ui-button-text {
  padding: .3em 2.1em .3em 1em;
}

/*button icon element(s) */

.ui-button-icon-only .ui-icon, .ui-button-text-icon-left .ui-icon, .ui-button-text-icon-right .ui-icon {
  position: absolute;
  top: 50%;
  margin-top: -8px;
}

/* FontAwesome icon */

.ui-button-icon-only .ui-icon.fa, .ui-button-text-icon-left .ui-icon.fa, .ui-button-text-icon-right .ui-icon.fa {
  margin-top: -7px;
}

.ui-button-icon-only .ui-icon {
  left: 50%;
  margin-left: -8px;
}

.ui-button-icon-left {
  left: .5em;
}

.ui-button-icon-right {
  right: .5em;
}

/*button sets*/

.ui-buttonset {
  margin-right: 7px;

  .ui-button {
    margin-left: 0;
    margin-right: 0;
  }
}

/* workarounds */

button.ui-button::-moz-focus-inner {
  border: 0;
  padding: 0;

  /* reset extra padding in Firefox */
}

/** SelectCheckbox Menu **/

.ui-selectcheckboxmenu {
  display: inline-block;
  position: relative;
  width: auto;
  zoom: 1;
  cursor: pointer;

  .ui-selectcheckboxmenu-trigger {
    border-right: none;
    border-top: none;
    border-bottom: none;
    cursor: pointer;
    width: 16px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 3px;

    .ui-icon {
      margin-top: 3px;
    }
  }

  .ui-selectcheckboxmenu-label {
    display: block;
    padding: 3px 26px 3px 5px;
    width: auto;
    border: none;
    cursor: pointer;
  }

  &.ui-state-disabled {
    .ui-selectcheckboxmenu-trigger, .ui-selectcheckboxmenu-label {
      cursor: auto;
    }
  }
}

.ui-selectcheckboxmenu-panel {
  padding: 0.2em;
  position: absolute;
  overflow: hidden;
  -moz-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.8);

  .ui-selectcheckboxmenu-items-wrapper {
    overflow: auto;
    position: relative;
    padding: 0.2em 0;
  }

  .ui-selectcheckboxmenu-list {
    border: 0 none;
  }

  .ui-selectcheckboxmenu-list-item {
    border: 0px none;
    cursor: pointer;
    font-weight: normal;
    margin: 1px 0;
    padding: 3px 5px;
    text-align: left;
    white-space: nowrap;
    display: block;
    position: relative;

    .ui-chkbox {
      position: absolute;
      top: 50%;
      margin-top: -8px;
    }

    label {
      display: block;
      padding-left: 2.2em;
    }
  }
}

.ui-selectcheckboxmenu-header {
  margin-bottom: 0.3em;
  padding: 0.3em 0 0.3em 0.4em;

  .ui-chkbox {
    float: left;
    cursor: pointer;
  }

  .ui-selectcheckboxmenu-filter-container {
    float: left;
    position: relative;
    margin-left: 5px;

    .ui-icon {
      position: absolute;
      right: 5px;
      top: 2px;
    }
  }

  .ui-inputfield {
    padding: 1px 20px 1px 2px;
  }

  span.ui-icon {
    float: left;
  }

  a {
    &.ui-selectcheckboxmenu-all, &.ui-selectcheckboxmenu-none {
      float: left;
      margin-right: 10px;
      display: block;
    }
  }

  .ui-selectcheckboxmenu-close {
    float: right;
    padding: 1px;
    margin-right: 0.2em;
    display: block;

    &.ui-state-hover {
      padding: 0px;
    }
  }
}

.ui-splitbutton {
  position: relative;
  padding-right: 2em;

  .ui-button.ui-splitbutton-menubutton {
    width: 32px;
    position: absolute;
    top: 0px;
    margin-left: -1px;
    right: 0px;
  }
}

/** IE Hacks **/

div.ui-button, .ui-splitbutton {
  display: inline-block;
  zoom: 1;
}

/** Password **/

.ui-password-panel {
  padding: 4px 10px;
  width: 150px;
  margin-top: 2px;

  .ui-password-meter {
    height: 10px;
    background: transparent url("forms/password-meter.png") no-repeat left top;
    padding: 0;
    margin: 0;
  }
}

.ui-password-info {
  margin-top: 4px;
}

.ui-password-panel-overlay {
  position: absolute;
}

/* OutputLabel */

.ui-outputlabel {
  &.ui-state-error {
    border: 0 none;
  }

  .ui-outputlabel-rfi {
    margin-left: 0.4em;
  }
}

/* SelectOneButton */

.ui-selectonebutton, .ui-selectmanybutton {
  display: inline-block;
  padding: 1px;

  &.ui-state-error {
    padding: 0px;
  }

  .ui-button.ui-state-focus {
    outline: none;
  }
}

/* SelectManyButton */

/** Fluid **/

.ui-fluid {
  .ui-inputfield {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }

  .ui-inputtext, .ui-inputtextarea {
    width: 100%;
  }

  .ui-selectonemenu {
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

    .ui-selectonemenu-trigger {
      width: 32px;
      padding: 0 6px;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
    }
  }

  .ui-calendar {
    width: 100%;

    input {
      width: 100%;
    }
  }

  .ui-spinner {
    width: 100%;

    .ui-spinner-input {
      padding-right: 36px;
      width: 100%;
    }

    .ui-spinner-button {
      width: auto;

      .ui-icon {
        left: 6px;
      }
    }
  }

  .ui-autocomplete, .ui-autocomplete-input {
    width: 100%;
  }

  .ui-autocomplete .ui-autocomplete-dropdown.ui-button {
    width: 2.4em;
  }

  .ui-inputmask, .ui-password, .ui-keyboard-input {
    width: 100%;
  }

  .ui-selectcheckboxmenu {
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

    .ui-selectcheckboxmenu-trigger .ui-icon {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .ui-selectcheckboxmenu-trigger {
    width: 32px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }

  .ui-button {
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }

  .ui-buttonset {
    width: 100%;

    &.ui-buttonset-1 .ui-button {
      width: 100%;
    }

    &.ui-buttonset-2 .ui-button {
      width: 50%;
    }

    &.ui-buttonset-3 .ui-button {
      width: 33.3%;
    }

    &.ui-buttonset-4 .ui-button {
      width: 25%;
    }

    &.ui-buttonset-5 .ui-button {
      width: 20%;
    }

    &.ui-buttonset-6 .ui-button {
      width: 16.6%;
    }
  }

  .ui-splitbutton {
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

    .ui-button {
      width: 100%;

      &.ui-splitbutton-menubutton {
        width: 32px;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
      }
    }
  }

  .ui-selectonelistbox, .ui-selectmanymenu {
    width: 100%;
  }
}

/** InputText **/

/** InputTextarea **/

/** SelectOneMenu **/

/** Calendar **/

/** Spinner **/

/** AutoComplete **/

/** InputMask **/

/** Password **/

/** Keyboard **/

/** CheckboxMenu **/

/** Button **/

/** ButtonSet **/

@media (max-width: 640px) {
  .ui-fluid .ui-buttonset {
    &.ui-buttonset-1 .ui-button, &.ui-buttonset-2 .ui-button, &.ui-buttonset-3 .ui-button, &.ui-buttonset-4 .ui-button, &.ui-buttonset-5 .ui-button, &.ui-buttonset-6 .ui-button {
      width: 100%;
    }
  }
}

/** SplitButton **/

/** Listbox **/
