extends ../base.jade

block body
	header
		include ./header/global/header.jade
		include ./header/local/header.jade
		include ../navigation/horizontal_menu.jade
		div.local-header.subtitle
			div.container
				div(class=page.side_menu ? "col-md-9 col-md-offset-3" : "col-md-12")
					div.p-a
						h1= page.title
	main.container
		div.row
			include ../navigation/vertical_menu.jade
			div(class="col-md-#{page.side_menu ? 6:9}")
				if page.image
					img.leading-image(src=page.image)
				block unwrapped_content
				div.p-a
					block wrapped_content
			div.col-md-3.sidebar
				div.p-a
					block sidebar_content
	footer
		include ./footer/local/footer.jade
		include ./footer/global/footer.jade