<div class="col-md-3 tertiary-navigation hidden-sm-down">
  <ul class="nav nav-pills nav-stacked">
    <li class="nav-item">
      <a class="nav-link" href="{{ ROOT_URL }}">{{ SITE_NAME }}</a>
    </li>
    {% if breadcrumb|length == 1 %}
    {% set LOOP_UNTIL = 1 %}
    {% elif breadcrumb[-1][2] %}
    {% set LOOP_UNTIL = 1  %}
    {% else %}
    {% set LOOP_UNTIL = 2 %}
    {% endif %}
    {% for title, page, node in breadcrumb %}
      {% if loop.revindex > LOOP_UNTIL %}
      <li class="nav-item">
        <a class="nav-link" href="{{ ROOT_URL }}/{{ page }}">{{ title }}</a>
      </li>
      {% endif %}
    {% endfor %}
  </ul>
  
  
  <ul class="list-unstyled">
    {% set penbread = breadcrumb[-LOOP_UNTIL] %}
    <li>
      {% if penbread[1] %}
      <a href="{{ ROOT_URL }}/{{ penbread[1] }}">{{ penbread[0] }}</a>
      {% else %}
      <span>{{ penbread[0] }}</span>
      {% endif %}
      {% if penbread[2] %}
        <ul class="list-unstyled">
        {% for title, page, context, node in penbread[2] %}
          {% if title == breadcrumb[-1][0] %}
          <li><span>{{ title }}</span></li>
          {% else %}
          <li>
            {% if page %}
            <a href="{{ ROOT_URL }}/{{ page }}">{{ title }}</a>
            {% else %}
            {{ title }}
            {% endif %}
          </li>
          {% endif %}
        {% endfor %}
        </ul>
      {% endif %}
    </li>
    {% for title, page, context, node in menu %}
    {% if title != penbread[0] %}
    <li>
      {% if page %}
      <a href="{{ ROOT_URL }}/{{ page }}">{{ title }}</a>
      {% elif node and node[0][1] %}
      <a href="{{ ROOT_URL }}/{{ node[0][1] }}">{{ title }}</a>
      {% else %}
      <span>{{ title }}</span>
      {% endif %}
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>
