{% extends 'layout/page.html' %}

{% from 'components/navigation/atoz.html' import atoz %}

{% block sidebar_content %}{% endblock %}

{% block subtitle %}
{{ atoz(EXAMPLES.A_TO_Z) }}
{% endblock %}

{% block content %}
<div class="tab-content">
  {% for letter, content, active in EXAMPLES.A_TO_Z %}
    {% if content %}
    <div role="tabpanel" class="tab-pane{% if active %} active{% endif %}" id="atoz_{{ letter }}">
      <h2>{{ letter }} is for&hellip;</h2>
      {{ content }}
    </div>
    {% endif %}
  {% endfor %}
</div>
{% endblock %}
