{% extends 'layout/page.html' %}

{% block content %}
<nav>
  <ul class="pagination">
    <li class="page-item active"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><span class="elipsis page-link">...</span></li>
    <li class="page-item"><a class="page-link" href="#">21</a></li>
    <li class="page-item next">
      <a href="#" class="page-link">
        <span class="fa fa-angle-right fa-lg"></span>
      </a>
    </li>
  </ul>
</nav>
<nav>
  <ul class="pagination">
    <li class="page-item previous">
      <a href="#" class="page-link">
        <span aria-hidden="true" class="fa fa-angle-left fa-lg"></span>
      </a>
    </li>
    <li class="page-item page-item"><a href="#" class="page-link">1</a></li>
    <li class="page-item active"><a href="#" class="page-link">2</a></li>
    <li class="page-item"><a href="#" class="page-link">3</a></li>
    <li class="page-item"><a href="#" class="page-link">4</a></li>
    <li class="page-item"><a href="#" class="page-link">5</a></li>
    <li class="next page-item">
      <a href="#" class="page-link">
        <span class="fa fa-angle-right fa-lg"></span>
      </a>
    </li>
  </ul>
</nav>

{% endblock %}