{% extends 'layout/page.html' %}

{% from 'components/navigation/nav.html' import nav_stages %}
{% from 'components/navigation/tabs.html' import tabs %}

{% block unwrapped_content %}
<div class="p-x">
  {{ nav_stages(EXAMPLES.NAV_ITEMS[:-1], local=true) }}
</div>
{% endblock %}

{% block content %}
<div>
  {{ tabs(EXAMPLES.NAV_ITEMS[:-1]) }}
</div>


<h2>Usage</h2>
<pre><code class="django">{% raw %}{{ nav(EXAMPLES.NAV_ITEMS, 'pill', local=true, extra_classes="nav-stages") }}{% endraw %}</code></pre>


{% endblock %}
