<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>CamPL-NG: {{ page.title }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="/favicon.ico"/>

    <link rel="stylesheet" href="/css/campl.css">

    <link rel="stylesheet" href="/css/fonts.css"/>

    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/lib.js"></script>
    <script type="text/javascript" src="/js/campl.js"></script>
    <script type="text/javascript" src="/js/modernizr.js"></script>

    {% include 'meta/head.html' %}
</head>
<body class="offcanvas offcanvas-left theme-turquoise">
{% block body %}
    Hello, world
{% endblock %}
</body>
</html>
