doctype html
html(lang="en")
  head
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    title CamPL-NG: #{page.title}

    <!--[if gte IE 10]><!-->
    link(rel="stylesheet" href="/css/campl.min.css")
    <!--<![endif]-->
    <!--[if lte IE 9 ]>
    link(rel="stylesheet" href="/css/campl_legacy.min.css")
    <![endif]-->

    script(type="text/javascript", src="/js/lib.min.js")
    script(type="text/javascript", src="/js/campl.js")
    script(type="text/javascript", src="/js/modernizr.js")

    script(type="text/javascript" src="//use.typekit.com/hyb5bko.js")
    script(type="text/javascript").
      try {
        Typekit.load();
      } catch(e) {
      }
    include meta/head.jade

  body.offcanvas.offcanvas-left.theme-turquoise
    block body
