<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  
    <title>CamPL-NG: {{ page.title }}</title>
 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/styles/solarized_light.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/highlight.min.js"></script>
    
    <!--[if gte IE 10]><!--><link rel="stylesheet" href="{{ ROOT_URL }}/css/campl.css"><!--<![endif]-->
    <!--[if lte IE 9 ]>
      <link rel="stylesheet" href="{{ ROOT_URL }}/css/campl_legacy.css">
    <![endif]-->
    
    {% for js in JS %}
    <script type="text/javascript" src="{{ ROOT_URL }}/js/{{ js }}"></script>
    {% endfor %}
    <script type="text/javascript" src="//use.typekit.com/hyb5bko.js"></script>
    <script type="text/javascript">
      try {
        Typekit.load();
      } catch (e) {
      }
    </script>
  </head>
  <body class="offcanvas offcanvas-left theme-turquoise">
  {% block body %}
  Hello, world
  {% endblock %}
  </body>
</html>
