<div class="page-header">
  <div class="container content-padding">
    <!-- begin breadcrumbs -->
    {% if breadcrumb %}
    <div>
      <ol class="breadcrumb">
        <li>
          <a href="#"><span class="fa fa-home">&nbsp;</span></a>
        </li>
        {% for title, page, node in breadcrumb %}
          {% if page and not loop.last %}
          <li>
            <a href="{{ ROOT_URL }}/{{ page }}">{{ title }}</a>
          </li>
          {% else %}
          <li class="active">
            {{ title }}
          </li>
          {% endif %}
        {% endfor %}
      </ol>
    </div>
    {% endif %}
    <!-- end breadcrumbs -->
    <div>
      <p class="title">{{ SITE_NAME }}</p>
    </div>
  </div>
</div>
<div class="page-header">
  <nav class="navbar navbar-local container">
    <ul class="nav navbar-nav">
      {% for title, page, node in menu %}
        {% if not node %}
        <li class="nav-item{% if title==breadcrumb[0][0] %} active{% endif %}">
          <a class="nav-link" href="{{ ROOT_URL }}/{{ page }}">{{ title }}</a>
        </li>
        {% else %}
        <li class="nav-item{% if title==breadcrumb[0][0] %} active{% endif %} dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
            {{ title }}
          </a>
          <div class="dropdown-menu">
            <a href="{{ ROOT_URL }}/{{ page }}" class="dropdown-item">{{ title }} - Overview</a>
            {% for title, page, node in node %}
              <a href="{{ ROOT_URL }}/{{ page }}" class="dropdown-item">{{ title }}</a>
            {% endfor %}
          </div>
        </li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
  
  <!-- end page header -->  
  
  <!-- begin subtitle -->

  <div class="container subtitle">
    {% if side_menu %}
    <div class="col-md-9 col-md-offset-3">
    {% else %}
    <div class="col-md-12">
    {% endif %}
      <div>
        <h1>{{ title }}</h1>
      </div>
    </div>
  </div>
</div>
