<div class="page-header">
  <div class="container content-padding">
    <!-- begin breadcrumbs -->
    <div>
      <ol class="breadcrumb">
        <li>
          <a href="#"><span class="fa fa-home">&nbsp;</span></a>
        </li>
        <li>
          <a href="#">Graduate Admissions</a>
        </li>
        <li>
          <a href="#">Prospective Graduate Students</a>
        </li>
        <li>
          <a href="#">Studying at Cambridge</a>
        </li>
        <li class="active">
          Qualifications directory
        </li>
      </ul>
    </div>
    <!-- end breadcrumbs -->
    <div>
      <p class="title">Graduate Admissions</p>
    </div>
  </div>
</div>
<div class="page-header">
  <nav class="navbar navbar-local container">
    <ul class="nav navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">About us</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown">
          Prospective Students
        </a>
        <div class="dropdown-menu">
          <a href="#" class="dropdown-item">Step 1 - Why Cambridge</a>
          <a href="#" class="dropdown-item">Step 2 - Studying at Cambridge</a>
          <a href="#" class="dropdown-item">Step 3 - How to apply</a>
          <a href="#" class="dropdown-item">Step 4 - I've applied - What Next?</a>
          <a href="#" class="dropdown-item">Frequently Asked Questions</a>
          <a href="#" class="dropdown-item">Site Map</a>
        </div>
      </li>
    </ul>
  </nav>
  
  <!-- end page header -->  
  
  <!-- begin subtitle -->

  <div class="container subtitle">
    <div class="col-md-9 col-md-offset-3">
      <div>
        <h1>Qualifications directory</h1>
      </div>
    </div>
  </div>
</div>
