<div class="page-header">
  <div class="container content-padding">
    <!-- begin breadcrumbs -->
    <div>
      <ol class="breadcrumb">
        <li>
          <a href="#"><span class="fa fa-home">&nbsp;</span></a>
        </li>
        <li>
          <a href="#">Graduate Admissions</a>
        </li>
        <li>
          <a href="#">Prospective Graduate Students</a>
        </li>
        <li>
          <a href="#">Studying at Cambridge</a>
        </li>
        <li class="active">
          Qualifications directory
        </li>
      </ul>
    </div>
    <!-- end breadcrumbs -->
    <div>
      <p class="title">Graduate Admissions</p>
    </div>
  </div>
</div>
<div class="page-header">
  <nav class="navbar navbar-local container">
    <ul class="nav navbar-nav">
      {% for title, leaf in menu %}
        {% if leaf is string %}
        <li class="nav-item">
          <a class="nav-link" href="{{ ROOT_URL }}/{{ leaf }}">{{ title }}</a>
        </li>
        {% else %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown">
              {{ title }}
            </a>
            <div class="dropdown-menu">
              {% for title, page in leaf %}
                <a href="{{ ROOT_URL }}/{{ page }}" class="dropdown-item">{{ title }}</a>
              {% endfor %}
            </div>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
  
  <!-- end page header -->  
  
  <!-- begin subtitle -->

  <div class="container subtitle">
    {% if side_menu %}
    <div class="col-md-9 col-md-offset-3">
    {% else %}
    <div class="col-md-12">
    {% endif %}
      <div>
        <h1>Qualifications directory</h1>
      </div>
    </div>
  </div>
</div>
