{% extends 'base.html' %}


{% block body %}
  {% include 'global_header.html' %}
  {% include 'local_header.html' %}
  {% set content_columns = 12 %}
  {% if side_menu %}
    {% set content_columns = content_columns - 3 %}
  {% endif %}
  {% if sidebar %}
    {% set content_columns = content_columns - 3 %}
  {% endif %}
  
  <div class="recess-push">
    <div class="content container">
      <div class="row">
        {% if side_menu %}
        {% include 'side_menu.html' %}
        {% endif %}
        <div class="col-md-{{ content_columns }} main-content">
          {% block content %}
          {% endblock %}
        </div>
        {% if sidebar %}
        {% include 'sidebar.html' %}
        {% endif %}
      </div>
    </div>
  </div>
  
  {% include 'local_footer.html' %}
  {% include 'global_footer.html' %}
        
{% endblock %}
