<div class="col-md-3 tertiary-navigation">
  <ul class="nav nav-pills nav-stacked">
    <li class="nav-item">
      <a class="nav-link" href="">Graduate Admissions</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="">Prospective Students</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="">Step 2: Studying at Cambridge</a>
    </li>
  </ul>
  <ul class="list-unstyled">
    <li> 
      <a href="">Qualifications Directory</a>
      <ul class="list-unstyled">
        <li><a href="">Courses by Title/Subject</a></li>
        <li><a href="">Courses by Department/Faculty/Institute</a></li>
        <li><a href="">Glossary of Awards</a></li>
      </ul>
    </li>
  </ul>
</div>
