{% from 'core_elements/images.html' import safe_image %}

{% macro teaser_image(article, img, type) %}
  <a href="{{ article.link }}">
    {% if type %}
      <span class="teaser-image-{{ type }}"></span>
    {% endif %}
      {{ safe_image(img, 'square') }}
  </a>
{% endmacro %}

{% macro teaser_body(article, type) %}
  <h3 class="teaser-title">
    <a href="{{ article.link }}">
      {{ article.title }}
    </a>
  </h3>
  <p>{{ article.body }}</p>
  {% if type %}
  <a class="secondary-cta" href="{{ article.link }}">Read more</a>
  {% else %}
  <a class="btn btn-primary btn-cta" href="{{ article.link }}">Read more</a>
  {% endif %}
{% endmacro %}
