{% extends 'layouts/subnonav.html' %}

{% import 'components/teasers/teasers.html' as teasers with context %}

{% from 'macros.html' import teaser_body, random_image %}

{% block unwrapped_content %}
<div class="row">
  <div class="col-md-8 teaser-list">
    {{ teasers.horizontal_teaser('Horizontal Teaser', '/', teaser_body(), random_image(256)) }}
    {{ teasers.horizontal_teaser('Horizontal Teaser (no image)', '/', teaser_body()) }}
    <div class="row">
      <div class="col-md-6 teaser-list">
        {{ teasers.vertical_teaser('Vertical Audio Teaser', '/', teaser_body(), random_image(256), type='audio') }}
      </div>
      <div class="col-md-6 teaser-list">
        {{ teasers.vertical_teaser('Vertical Video Teaser', '/', teaser_body(), random_image(256), type='video') }}
      </div>
    </div>
    {{ teasers.horizontal_teaser('Horizontal Video Teaser', '/', teaser_body(), random_image(256), type='video') }}
  </div>
  <div class="col-md-4 teaser-list">
    {{ teasers.vertical_teaser('Vertical Teaser', '/', teaser_body(), random_image(256)) }}
    {{ teasers.vertical_teaser('Vertical Teaser (no image)', '/', teaser_body()) }}
    {{ teasers.news_teaser('News Item 1', teaser_body(), '/', '30 August 2012') }}
    {{ teasers.news_teaser('News Item 2', teaser_body(), '/', '7 August 2012') }}
  </div>
</div>
{% endblock %}

{% block sidebar_content %}
  {{ teasers.promo_teaser('Promo Teaser', '/', teaser_body(), random_image(349,126)) }}
{% endblock %}

