{% from 'components/teasers/common.html' import teaser_body, teaser_image %}

{% macro promo_teaser(title, href, body, img) %}
<div class="promo-teaser">
  <div class="promo-teaser-heading">
    <h3><a href="{{ href }}">{{ title }}</a></h3>
  </div>
  <div class="promo-teaser-image">
    <a href="">
      <img src="{{ img }}" alt="{{ title }}">
    </a>
  </div>
  <div class="promo-teaser-text clearfix">
    <p>{{ body }}</p>
    <a href="{{ href }}" class="secondary-cta pull-right">Read more</a>
  </div>
</div>
{% endmacro %}

{% macro horizontal_teaser(title, href, body, img=None, type=None) %}
<div class="row horizontal-teaser">
  {% if img %}
  <div class="col-md-6 col-xs-3 teaser-image">
    {{ teaser_image(title, href, img, type) }}
  </div>
  <div class="col-md-6 col-xs-9 teaser-body">
    {{ teaser_body(title, href, body, type) }}
  </div>
  {% else %}
  <div class="col-xs-9 col-xs-offset-3 col-md-12 col-md-offset-0 teaser-body">
    {{ teaser_body(title, href, body, type) }}
  </div>
  {% endif %}
</div>
{% endmacro %}

{% macro vertical_teaser(title, href, body, img=None, type=None) %}
<div class="vertical-teaser row">
  {% if img %}
    <div class="teaser-image col-md-12 col-xs-3">
      {{ teaser_image(title, href, img, type) }}
    </div>
    <div class="teaser-body col-md-12 col-xs-9">
      {{ teaser_body(title, href, body, type) }}
    </div>
  {% else %}
    <div class="teaser-body col-md-12 col-md-offset-0 col-xs-9 col-xs-offset-3">
      {{ teaser_body(title, href, body, type) }}
    </div>
  {% endif %}
</div>
{% endmacro %}

{% macro news_teaser(title, body, href, date) %}
<div class="news-teaser">
  <h3 class="news-teaser-title"><a href="{{ href }}">{{ title }}</a></h3>
  <span class="news-teaser-date">{{ date }}</span>
  <p>{{ body }}</p>
</div>
{% endmacro %}

{% macro focus_on_teaser(title, href, img=None) %}
<div class="focus-on-teaser">
  <div class="row">
    {% if img %}
    <div class="col-xs-5">
      <a href="{{ href }}"><img src="{{ img }}" alt="{{ title }}"></a>
    </div>
    {% endif %}
    {% if img %}
    <div class="col-xs-7 teaser-body">
    {% else %}
    <div class="col-xs-12 teaser-body">
    {% endif %}
      <h3 class="teaser-title">
        <a href="{{ href }}">{{ title }}</a>
      </h3>
    </div>
  </div>
</div>
{% endmacro %}

{% macro campage_teaser(title, body, href, img, tag) %}
<div class="row vertical-teaser campage-teaser">
  <div class="teaser-image col-xs-12">
    <span class="teaser-tag">{{ tag }}</span>
    <a href="{{ href }}">
      <img src="{{ img }}" alt="{{ title }}">
    </a>
  </div>
  <div class="teaser-body col-xs-12">
    {{ teaser_body(title, href, body) }}
  </div>
</div>
{% endmacro %}

{% macro date_teaser(date, title, href) %}
<div class="date-teaser">
  <div class="date-teaser-date">
    <div class="date-teaser-date-day">
      {{ date.strftime('%-d') }}
    </div>
    <div class="date-teaser-date-month">
      {{ date.strftime('%b') }}
    </div>
  </div>
  <div class="date-teaser-text">
    <a href="{{ href }}">{{ title }}</a>
  </div>
</div>
{% endmacro %}
