{% from 'components/teasers/common.html' import teaser_body, teaser_image %}

{% macro promo_teaser(article, img) %}
<div class="promo-teaser">
  <h3 class="teaser-title">
    <a href="{{ article.link }}">{{ article.title }}</a>
  </h3>
  <div class="teaser-image">
    <a href="{{ article.link }}" class="image-wrapper image-wrapper-promo">
      <img src="{{ img }}" alt="{{article. title }}">
    </a>
  </div>
  <div class="teaser-body">
    <p class="teaser-text">{{ article.body }}</p>
    <a href="{{ article.href }}" class="secondary-cta teaser-link">Read more</a>
  </div>
</div>
{% endmacro %}

{% macro horizontal_teaser(article, img=None, type=None) %}
<div class="teaser horizontal-teaser">
  {% if img %}
  <div class="teaser-image">
    {{ teaser_image(article, img, type) }}
  </div>
  <div class="teaser-body">
    {{ teaser_body(article, type) }}
  </div>
  {% else %}
  <div class="teaser-body">
    {{ teaser_body(article, type) }}
  </div>
  {% endif %}
</div>
{% endmacro %}

{% macro vertical_teaser(article, img=None, type=None) %}
<div class="teaser vertical-teaser">
  {% if img %}
    <div class="teaser-image">
      {{ teaser_image(article, img, type) }}
    </div>
    <div class="teaser-body">
      {{ teaser_body(article, type) }}
    </div>
  {% else %}
    <div class="teaser-body">
      {{ teaser_body(article, type) }}
    </div>
  {% endif %}
</div>
{% endmacro %}

{% macro news_teaser(article) %}
<div class="news-teaser">
  <h3 class="teaser-title"><a href="{{ article.link }}">{{ article.title }}</a></h3>
  <span class="teaser-date">{{ article.date.strftime('%-d %B %Y') }}</span>
  <p class="teaser-text">{{ article.body }}</p>
</div>
{% endmacro %}

{% macro focus_on_teaser(article, img=None) %}
<div class="focus-on-teaser">
  {% if img %}
  <div class="teaser-image">
    <a href="{{ href }}" class="image-wrapper image-wrapper-focuson"><img src="{{ img }}" alt="{{ title }}"></a>
  </div>
  {% endif %}
  <div class="teaser-body">
    <h3 class="teaser-title">
      <a href="{{ article.link }}">{{ article.title }}</a>
    </h3>
  </div>
</div>
{% endmacro %}

{% macro tagged_teaser(article, img, tag) %}
<div class="teaser wide-vertical-teaser">
  <div class="teaser-image">
    <a href="{{ article.link }}" class="image-wrapper image-wrapper-teaser-wide">
      <span class="teaser-tag">{{ tag }}</span>
      <img src="{{ img }}" alt="{{ article.title }}">
    </a>
  </div>
  <div class="teaser-body">
    {{ teaser_body(article) }}
  </div>
</div>
{% endmacro %}

{% macro date_teaser(article) %}
<div class="date-teaser">
  <div class="date-teaser-date">
    <div class="date-teaser-date-day">
      {{ article.date.strftime('%-d') }}
    </div>
    <div class="date-teaser-date-month">
      {{ article.date.strftime('%b') }}
    </div>
  </div>
  <div class="date-teaser-text">
    <a href="{{ article.link }}">{{ ' '.join(article.title.split(' ')[:5]) }}</a>
  </div>
</div>
{% endmacro %}
