<div class="vertical-teaser">
  <div class="vertical-teaser-heading">
    <h3><a href="">Promo teaser with title above</a></h3>
  </div>
  <div class="vertical-teaser-image">
    <a href="">
      <img src="{{ ROOT_URL }}/img/vertical-teaser.png">
    </a>
  </div>
  <div class="vertical-teaser-text clearfix">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <a href="" class="secondary-cta pull-right">Read more</a>
  </div>
</div>
