
include drawer.jade

nav.navbar.global-header
  div.container
    div.row
      div.col-md-8
        a.global-menu-button.pull-left.hidden-md-up(href="#sidebar-offcanvas", data-toggle="offcanvas")
          span.fa.fa-bars.fa-2x
        a.global-menu-button.pull-right.hidden-md-up(href="#global-search-drawer" data-toggle="collapse")
          span.fa.fa-search.fa-2x
        if !CAM_PAGE
          a.navbar-brand(href="http://www.cam.ac.uk")
            img.logo.logo-sm(alt="University of Cambridge", src="/images/logo.png")
        ul.nav.navbar-nav.navbar-global.hidden-sm-down
          li.nav-item
            a.nav-link(href="#global-header-drawer-study", data-toggle="tab", data-target="#global-header-drawer-study", data-parent="#global-header-drawers") Study at Cambridge
          li.nav-item
            a.nav-link(href="#global-header-drawer-about", data-toggle="tab", data-target="#global-header-drawer-about", data-parent="#global-header-drawers") About the University
          li.nav-item
            a.nav-link(href="http://www.cam.ac.uk/research") Research at Cambridge
      div.col-md-2.hidden-sm-down.quicklinks-container
        div.dropdown#global-quicklinks
          a(href="#global-quicklinks", data-toggle="dropdown")
            span Quick links
            span.quicklinks-dropdown-toggle
              span.fa.fa-caret-down.fa-lg
          div.dropdown-menu
            each link, title in LINKS.QUICKLINKS
              a.dropdown-item(href=link) #{title}
      div.col-md-2.collapse.navbar-toggleable-sm#global-search-drawer
        form(action="http://search.cam.ac.uk/web" method="get")
          div.input-group.global-search
            input.form-control(type="text", placeholder="Search", name="query")
            button.input-group-addon(type="submit")
              span.fa.fa-search.fa-lg &nbsp;

div#global-header-drawers
  div.tab-content.global-header-drawer.sidebar-offcanvas
    mixin drawer('study', LINKS.STUDY_DRAWER)
    mixin drawer('about', LINKS.ABOUT_DRAWER)
    div.hidden-md-up
      ul.list-unstyled.global-header-drawer-title
        li
          a(href="http://www.cam.ac.uk/research") Research at Cambridge
        each link, title in LINKS.QUICKLINKS
          li
            a(href=link) #{title}