{% extends 'layout/page.html' %}

{% set example_image=random_image(1000,1000) %}

{% block content %}
    <script type="text/javascript">
        jQuery(function ($) {
            var id = $('#image-demo')
            $('input[name="imagetoggle"]').change(function () {
                id.css('max-width', $(this).data('max-width'));
                id.find('div').removeClass().addClass('image-wrapper').addClass($(this).val());
            });

            $('#view-original').attr('href', id.find('img').attr('src'));
        });
    </script>

    <p class="lead">Images are centered and resized to fit their container with the correct aspect ratio</p>

    {% set first_image_style=None %}
    <fieldset class="form-group">
        {% for image_style_name, image_style in IMAGE_STYLES.items() %}
            {% if loop.first %}
                {% set first_image_style_name=image_style_name %}
                {% set first_image_style=image_style %}
            {% endif %}
            <div class="radio-inline input-btn">
                <input name="imagetoggle" type="radio" id="imagetoggle{{ image_style_name }}"
                       value="image-wrapper-{{ image_style_name }}" data-max-width="{{ image_style.width }}px"
                        {% if loop.first %} checked{% endif %}>
                <label class="btn btn-input" for="imagetoggle{{ image_style_name }}">{{ image_style.description }}
                    <small>({{ image_style.width }} by {{ image_style.height }})</small>
                </label>
            </div>
        {% endfor %}
    </fieldset>

    <div style="max-width: {{ first_image_style.width }}px;" id="image-demo">
        <div class="image-wrapper image-wrapper-{{ first_image_style_name }}">
            <img src="{{ example_image }}">
        </div>
    </div>

    <p><a class="secondary-cta" href="#" id="view-original">View Original</a></p>
{% endblock %}
