{% extends 'layout/page.html' %}

{% block content %}

<h6>Unordered list</h6>	
<ul>
  <li>Unordered list</li>
  <li>list item 2</li>
  <li>list item 3</li>
</ul>
<h6>Nested list</h6>	
<ul>
  <li>Unordered list</li>
  <li>list item 2
    <ul>
      <li>Unordered list</li>
      <li>list item 2
        <ul>
          <li>Unordered list</li>
          <li>list item 2
            <ul>
              <li>Unordered list</li>
              <li>list item 2</li>
              <li>list item 3</li>
            </ul>
          </li>
          <li>list item 3</li>
        </ul>
      </li>
      <li>list item 3</li>
    </ul>
  </li>
  <li>list item 3</li>
</ul>

<h6>Ordered list</h6>	
<ol>
  <li>Ordered list</li>
  <li>list item 2</li>
  <li>list item 3</li>
</ol>

<h6>Uppercase Roman</h6>	
<ol style="list-style-type: upper-roman;">
  <li>Ordered list</li>
  <li>list item 2</li>
  <li>list item 3</li>
</ol>
<h6>Lowercase Roman</h6>	
<ol style="list-style-type: lower-roman;">
  <li>Ordered list</li>
  <li>list item 2</li>
  <li>list item 3</li>
</ol>
<h6>Uppercase alphabetical</h6>	
<ol style="list-style-type: upper-alpha;">
  <li>Ordered list</li>
  <li>list item 2</li>
  <li>list item 3</li>
</ol>
<h6>Lowercase alphabetical</h6>	
<ol style="list-style-type: lower-alpha;">
  <li>Ordered list</li>
  <li>list item 2</li>
  <li>list item 3</li>
</ol>

{% endblock %}
