@import "compass/css3/images";

.carousel-control {
  // have to be this specific in order to override bootstrap defaults
  &.left, &.right {
    @include theme_element(background-color, lighter);
    height: 50px;
    width: 50px;
    top: auto;
    filter: none;
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
      opacity: 1;
      @include theme_element(background-color, primary);
    }
  }
  
  &.right {
    @include background-image(url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAZUlEQVRIx+WVgQ0AIAjD4P+j8QMFRk2MPNDANuYRYfT4N5AwM7+xiQzKnksCVTRpg6rCt0Add5VBXQuXQEpO0iA1jCnQROKPoKm3sgU9sQmuCe4uPCd44vHfhX9hvE/wZrzW8fIsdq9fz+8FnqcAAAAASUVORK5CYII='));
  }
  
  &.left {
    left: auto;
    right: 51px;
    @include background-image(url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAYUlEQVRIx+3VyQ0AIAhEUei/aGzAhc0fD04DLwZh1MzkdvQjk5iI6E1kCXQhW6ADOQJVxAVUEDeQRUJABgkDUSQFRJA04EVKwFMvwWaC/S5sT7CNx24XdoWxPsGaEev4bQb6oF/PLesGowAAAABJRU5ErkJggg=='));

  }
}

.carousel-caption {
  font-family: $font-family-sans-serif-extra;
  bottom: 0;
  right: 102px;
  left: 20px;
  padding: 12px 16px 13px;
  background-color: rgba(0,0,0,0.8);
  text-align:left;
  font-weight: 300;
  font-size: 19px;
  line-height: 25px;
  padding-right: 40px;
  
  a {
    color: #fff;
    @include hover-focus {
      text-decoration:none;
    }
  }
  
  .carousel-page {
    font-family: $font-family-sans-serif;
    line-height: 18px;
    position: absolute;
    right: 16px;
    bottom: 16px;
    font-size: 1rem;
  }
}
