@import "compass/css3/images";
.carousel img {
  width: 100%;
}

.carousel-control.carousel-control-campage {
  background-color: #000 !important;
  &:hover {
    background-color: #000 !important;
  }
}

.carousel-control {
  // have to be this specific in order to override bootstrap defaults
  &.left, &.right {
    @include theme_element(background-color, lighter);
    height: 50px;
    width: 50px;
    top: auto;
    filter: none;
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
      opacity: 1;
      @include theme_element(background-color, primary);
    }
  }
  
  &.right {
    @include background-image($icon-chevron-right-lg);
  }
  
  &.left {
    left: auto;
    right: 51px;
    @include background-image($icon-chevron-left-lg);

  }
}

.carousel-caption {
  font-family: $font-family-sans-serif-extra;
  bottom: 0;
  right: 102px;
  left: 20px;
  padding: 12px 16px 13px;
  background-color: rgba(0,0,0,0.8);
  text-align:left;
  font-weight: 300;
  font-size: 19px;
  line-height: 25px;
  padding-right: 40px;
  
  a {
    color: #fff;
    @include hover-focus {
      text-decoration:none;
    }
  }
  
  .carousel-page {
    font-family: $font-family-sans-serif;
    line-height: 18px;
    position: absolute;
    right: 16px;
    bottom: 16px;
    font-size: 1rem;
  }
}

.carousel-text {
  @include theme_element(background-color, lighter);
  font-size: 40px;
  line-height: 48px;
  font-weight: 300;
  font-family: $font-family-sans-serif-extra;
  text-align: center;
  color: #fff;
  padding: $spacer;
}