.table:not(.table-bordered) {
  th, td {
    border: none;
  }
  thead {
    th, td {
      border: none;
    }
  }
}

.table-bordered {
  border-bottom: 2px solid;
  @include theme_element(border-bottom-color, lighter);
  thead th {
    @include theme_element(background-color, lighter);
    color: #fff;
  }
}

.table-striped {
  tbody tr:nth-of-type(odd) {
    @include theme_element(background-color, paler);
  }
}

.table-hover {
  tbody tr {
    @include hover {
      background-color: $table-bg-hover !important;
    }
  }
}