.global-header {
  font-family: $font-family-sans-serif-extra;
  background-color:black;
  padding: 0;
  
  .navbar-brand {
    color: $navbar-dark-active-color;
    
    padding: 15px;
    

    @include hover-focus {
      color: $navbar-dark-active-color;
    }
  }

  .nav {
    .nav-item {
      &:first-child {
        border-left: $border-width solid #2e2e2e;
      }
    
      border-right: $border-width solid #2e2e2e;
      
      &+ .nav-item {
        margin-left: 0;
      }
      
      @include hover-focus {
        &:not(:first-child) {
          margin-left: -$border-width;
        }
        border-left: $border-width solid #737373;
        border-right: $border-width solid #737373;
      }
      
      .nav-link {
        font-size: 14px;
        line-height: 18px;
      
        font-weight: 600;
        color: #ffffff !important;
        padding: $spacer*1.25 $spacer;
        @include hover-focus {
          color: #5a5a5a !important;
          background-color:#171717 !important;
        }
        
        &[data-toggle="tab"].active {
          background-color: #171717 !important;
          margin-bottom: -$border-width;
          padding-bottom: 26px;
        }
      }
    }

    .open > .nav-link,
    .active > .nav-link,
    .nav-link.open,
    .nav-link.active {
      @include plain-hover-focus {
        color: $navbar-dark-active-color;
      }
    }
  }

  .navbar-divider {
    background-color: rgba(255,255,255,.075);
  }
}
