@import "compass/css3/transition";

@include media-breakpoint-down(sm) {
  .offcanvas {
    background-color: #3b3b3b;
    position: relative;
    @include transition-property(all);
    @include transition-duration(0.25s);
    @include transition-timing-function(ease-out);
  }
  
  .offcanvas-left {
    left: 0;
    &.active-left {
      right: auto;
      left: 260px;
    }
    .sidebar-offcanvas-left {
      left: -260px;
    }
  }
  
  .offcanvas-right {
    right: 0;
    &.active-right {
      left: auto;
      right: 260px;
    }
    .sidebar-offcanvas-right {
      right: -260px;
    }
  }
  
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 260px;
  }
  
  .global-header .navbar-brand {
    position: absolute;
    left: 50%;
    margin-left: -89px;
  }
  
  .global-menu-button {
    display: block;
    margin: 15px;
    padding: 1px 3px;
    background-color: #323232;
    color: #999;
    @include hover-focus {
      color: #999;
      background-color: #242424;
    }
    span {
      padding: 4px;
    }
  }
  

  #global-header-drawers div {
    background-color: #3b3b3b;
    display: block;
    [class*='col-'] {
      width: 100%;
      border: none;
    }
    ul {
      padding: 0;
    }
    li:before {
      display: none;
    }
    li {
      padding: 0;
    }
    a {
      padding: 10px 20px;
      display: block;
      @include hover-focus {
        background-color: #292929;
        text-decoration: none;
      }
    }
    ul:not(.global-header-drawer-title) a {
      font-weight: normal;
      padding-left: 30px;
    }
  }
}
