<div id="front-page-carousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    {% for image, link, caption in carousel %}
      <div class="carousel-item{% if loop.first %} active{% endif %}"</div>
        <img src="{{ ROOT_URL }}/img/{{ image }}">
        <div class="carousel-caption">
          <span>{{ caption }}</span>
          <span class="carousel-page">{{ loop.index }} of {{ carousel|length }}</span>
        </div>
      </div>
    {% endfor %}
  </div>
  <a class="left carousel-control" href="#front-page-carousel" role="button" data-slide="prev">
    <span class="fa fa-angle-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#front-page-carousel" role="button" data-slide="next">
    <span class="fa fa-angle-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>