<div class="col-md-3 sidebar">
  <div class="content-padding">
    <div class="heading">
      <h2>Related Links</h2>
    </div>
    <ul class="list-unstyled related-links">
      <li><a href="http://www.websupport.cam.ac.uk/Project-Light/template-variants/sub-section-with-left-navigation.html#">Lorem ipsum dolor sit amet</a></li>
      <li><a href="http://www.websupport.cam.ac.uk/Project-Light/template-variants/sub-section-with-left-navigation.html#">Consectetur adipisicing elit</a></li>
      <li><a href="http://www.websupport.cam.ac.uk/Project-Light/template-variants/sub-section-with-left-navigation.html#">Sed do eiusmod tempor incididunt extra long wrapping on to two line</a></li>
      <li><a href="http://www.websupport.cam.ac.uk/Project-Light/template-variants/sub-section-with-left-navigation.html#">Labore et dolore magna aliqua</a></li>
      <li><a href="http://www.websupport.cam.ac.uk/Project-Light/template-variants/sub-section-with-left-navigation.html#">Ut enim ad minim veniam</a></li>
      <li><a href="http://www.websupport.cam.ac.uk/Project-Light/template-variants/sub-section-with-left-navigation.html#">Quis nostrud exercitation ullamco</a></li>
    </ul>
  </div>
  <div class="content-container">
    <div class="vertical-teaser teaser promo-teaser"> 
      <div class="content-container vertical-teaser-txt">
        <p class="teaser-title"><a href="http://www.websupport.cam.ac.uk/Project-Light/template-variants/sub-section-with-left-navigation.html#">Promo teaser with title above</a></p>
      </div>
      <div class="content-container vertical-teaser-img">
        <a href="http://www.websupport.cam.ac.uk/Project-Light/template-variants/sub-section-with-left-navigation.html#" class="teaser-img-link"><img alt="" src="./page_files/homepage-promo-placeholder.png" class="scale-with-grid"></a>
      </div>
      <div class="content-container vertical-teaser-txt clearfix">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        <a href="http://www.websupport.cam.ac.uk/Project-Light/template-variants/sub-section-with-left-navigation.html#4" class="secondary-cta float-right">Read more</a>
      </div>
    </div>
  </div>
</div>
