.teaser-tag {
  position: absolute;
  top: 0;
  left: 0;
  background-color: $white;
  text-transform: uppercase;
  font-size: 11px;
  color: $gray-darker;
  padding: 0 6px 5px 0;
  font-weight: 400;
  font-family: $font-family-sans-serif-extra;
  z-index: 1;
}
