.date-teaser {
  @include clearfix();
  margin-bottom: 10px;

  .date-teaser-date {
    @include theme-element('background-color', selected);
    width: 55px;
    color: $white;
    font-family: $font-family-sans-serif-extra;
    text-align: center;
    float: left;
    margin-right: 10px;

    .date-teaser-date-day {
      font-size: 30px;
      line-height: 30px;
      font-weight: 700;
    }

    .date-teaser-date-month {
      font-size: 17px;
      line-height: 23px;
      font-weight: 300;
      text-transform: uppercase;
    }
  }

  .date-teaser-text {
    vertical-align: top;
    padding-top: 10px;
  }
}
