.news-teaser {
  margin: 10px;
  border-bottom: 1px dashed #b5b5b5;
  
  .news-teaser-title {
    font-family: $font-family-sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
  }
  
  .news-teaser-date {
    font-family: $font-family-serif;
    font-size: 14px;
    font-style: italic;
    color: #777777;
  }
}