.promo-teaser {
  background: $white;

  .promo-teaser-heading {
    padding: $spacer;

    a {
      color: $gray-darker;
      font-weight: 700;
      font-size: 17px;
    }
  }

  .promo-teaser-image img {
    width: 100%;
  }

  .promo-teaser-text {
    padding: $spacer * 0.75;
  }

  + .promo-teaser {
    margin-top: $spacer;
  }
}
