.promo-teaser {
  background: $white;

  .teaser-title {
    padding: $spacer;
    margin-bottom: 0;

    a {
      color: $gray-darker;
      font-weight: 700;
      font-size: 17px;
    }
  }

  .teaser-body {
    @include clearfix();
    padding: $spacer * 0.75;
  }

  .teaser-link {
    float: right;
  }
}
