.promo-teaser {
  background: #fff;
  .promo-teaser-heading {
    padding: $spacer;
    a {
      color: #171717;
      font-weight: 700;
      font-size: 17px;
    }
  }
  .promo-teaser-image img {
    width: 100%;
  }
  .promo-teaser-text {
    padding: $spacer * 0.75;
  }
  &+ .promo-teaser {
    margin-top: $spacer;
  }
}
