.teaser-tag {
  position: absolute;
  top: 0;
  left: 0;
  background-color: $white;
  text-transform: uppercase;
  color: $gray-darker;
  padding: 0 6px 5px 0;
  font-weight: 400;
  @include fontextra-element(11px);
  z-index: 1;
}
