.teaser {
  padding: $spacer;

  .teaser-title {
    font-size: 14px;
    line-height: 20px;

    a {
      color: $gray-darker;
    }
  }

  img {
    width: 100%;
  }

  .teaser-image {
    a {
      display: block;
    }
  }
}

@mixin teaser-common() {
  @include make-row();

  .teaser-image {
    @include make-col-span(3);
    @include make-col();

    + .teaser-body {
      @include make-col-span(9);
    }
  }

  .teaser-body {
    @include make-col();

    :first-child {
      @include make-col-span(9);
      @include make-col-offset(3);

      @include media-breakpoint-up(md) {
        @include make-col-span(12);
        @include make-col-offset(0);
      }
    }
  }
}

.horizontal-teaser {
  @include teaser-common();

  .teaser-image {
    padding: 0 $spacer 0 0;

    @include media-breakpoint-up(md) {
      @include make-col-span(6);
    }

    + .teaser-body {
      @include media-breakpoint-up(md) {
        @include make-col-span(6);
      }
    }
  }
}

.vertical-teaser {
  @include teaser-common();

  .teaser-image {
    @include media-breakpoint-down(sm) {
      padding: 0 $spacer 0 0;
    }

    @include media-breakpoint-up(md) {
      @include make-col-span(12);

      + .teaser-body {
        @include make-col-span(12);
        margin-top: $spacer;
      }
    }
  }
}

.wide-vertical-teaser {
  @include teaser-common();

  .teaser-image {
    @include make-col-span(12);

    + .teaser-body {
      margin-top: $spacer;
    }
  }

  .teaser-body {
    @include make-col-span(12);
  }
}
