.ui-datalist {
  .ui-datalist-header, .ui-datalist-footer {
    text-align: center;
    padding: 4px 10px;
  }

  .ui-datalist-header {
    border-bottom: 0px none;
  }

  .ui-datalist-footer {
    border-top: 0px none;
  }

  .ui-paginator-top {
    border-bottom: 0px none;
  }

  .ui-paginator-bottom {
    border-top: 0px none;
  }

  .ui-datalist-empty-message {
    padding: 4px 10px;
  }

  .ui-datalist-nobullets {
    list-style-type: none;
  }
}
