{% extends 'layouts/subnav.html' %}

{% import 'macros.html' as macros %}

{% block content %}
{% call macros.show_code() %}
<nav>
  <ul class="pagination">
    <li class="active"><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><span class="elipsis">...</span></li>
    <li><a href="#">21</a></li>
    <li class="next">
      <a href="#">
        <span class="fa fa-angle-right fa-lg"></span>
      </a>
    </li>
  </ul>
</nav>
{% endcall %}
{% call macros.show_code() %}
<nav>
  <ul class="pagination">
    <li class="previous">
      <a href="#">
        <span aria-hidden="true" class="fa fa-angle-left fa-lg"></span>
      </a>
    </li>
    <li><a href="#">1</a></li>
    <li class="active"><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li class="next">
      <a href="#">
        <span class="fa fa-angle-right fa-lg"></span>
      </a>
    </li>
  </ul>
</nav>
{% endcall %}

{% endblock %}