{% extends 'layouts/subnav.html' %}

{% block content %}
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Salary</th>
      <th>Reference</th>
      <th>Closes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" >
        <a href="http://www.jobs.cam.ac.uk/job/531/" target="_blank">Associate Specialty Director in Palliative Care</a><br />
        Department of Public Health and Primary Care, The Primary Care Unit
      </th>
      <td>
        £30,992-£53,663 pa
      </td>
      <td>
        SN00445
      </td>
      <td>
        27 August 2012
      </td>
    </tr>
    <tr>
      <th scope="row">
        <a href="http://www.jobs.cam.ac.uk/job/154/" target="_blank">Clinical Lecturer in Anaesthesia&nbsp;</a><br />
        Department of Medicine, Division of Anaesthesia
      </th>
      <td>
        £30,992-£53,663 pa
      </td>
      <td>
        RU00119
      </td>
      <td>
        20 August 2012
      </td>
    </tr>
    <tr>
      <th scope="row">
        <a href="http://www.jobs.cam.ac.uk/job/507/" target="_blank">Clinical Lecturer in Medical Genetics or Public Health</a><br />
        Department of Public Health and Primary Care, The Primary Care Unit
      </th>
      <td>
        £30,992-£53,663 pa
      </td>
      <td>
        SN00423
      </td>
      <td>
        27 August 2012
      </td>
    </tr>
    <tr>
      <th scope="row">
        <a href="http://www.jobs.cam.ac.uk/job/170/" target="_blank">Clinical Lecturer in Medical Oncology</a><br />
        Department of Oncology
      </th>
      <td>
        £30,992-£53,663 pa
      </td>
      <td>
        RD00131
      </td>
      <td>
        5 October 2012
      </td>
    </tr>
    <tr>
      <th scope="row"><a href="http://www.jobs.cam.ac.uk/job/-16982/" target="_blank">Lecturer in Criminology</a><br />
        Institute of Criminology
      </th>
      <td>
        £37,012-£46,846 pa
      </td>
      <td>
        JL16982
      </td>
      <td>
        31 July 2012<br />
      </td>
    </tr>
  </tbody>
  </table>
            
{% endblock %}
