{% extends 'base.html' %}

{% from 'components/navigation/nav.html' import nav_stages %}

{% block body %}
<header>
  <div class="global-header">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <a href="http://www.cam.ac.uk/" class="navbar-brand">
            <img class="logo logo-sm" alt="University of Cambridge" src="/images/logo.png">
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="local-header">
    <div class="container p-a">
        <p class="title">
          Referee Portal
         </p>
    </div>
  </div>
  <div class="local-header subtitle">
    <div class="container">
      <div class="col-md-12">
        <div class="p-a">
          <h1 class="app">Academic Reference for Miss Sarah Williams</h1>
        </div>
      </div>
    </div>
  </div>
</header>
<main class="container">
  <div class="row">
    <div class="col-md-12 main-content">
      <div style="padding-top:5px;" class="clearfix">
        {{ nav_stages(EXAMPLES.NAV_ITEMS[:-1], local=true) }}
      </div>
      <hr style="margin-top:5px;">
      <div class="p-a">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </div>
</main>
<footer>
  <div class="local-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <p>This application is provided and managed by the <a href="http://www.admin.cam.ac.uk">Unified Administrative Service</a>.</p>
          <p>&copy; 2015 University of Cambridge</p>
        </div>
        <div class="col-md-4">
          <p class="text-muted">Version 0.4.0-SNAPSHOT (20150924-1109)</p>
          <p class="bg-danger">This is a DEVELOPMENT version of the system</p>
        </div>
        <div class="col-md-3">
          <h3><a href="/">Privacy and Cookie Policy</a></h3>
        </div>
      </div>
    </div>
  </div>
</footer>
{% endblock %}
