{% extends 'base.html' %}

{% from 'components/carousel.html' import carousel with context %}

{% block body %}
<header>
  {% include 'layout/header/global/header.html' %}
  {% include 'layout/header/local/header.html' %}
</header>
<main class="container">
  <div class="row">
    {% include 'navigation/vertical_menu.html' %}
    <div class="col-md-9 main-content">
      {{ carousel(EXAMPLES.CAROUSEL) }}
      {% block unwrapped_content %}
      {% endblock %}
      {% if self.content () %}
      <div class="p-a">
        {% block content %}{% endblock %}
      </div>
      {% endif %}
    </div>
    <div class="col-md-3 sidebar">
      <div class="p-a">
        {% block sidebar_content %}{% endblock %}
      </div>
    </div>
  </div>
</main>
<footer>
  {% include 'layout/footer/local/footer.html' %}
  {% include 'layout/footer/global/footer.html' %}
</footer>
{% endblock %}