{% extends 'base.html' %}

{% from 'layout/sidebar/related_links.html' import related_links %}
{% from 'layout/sidebar/sidebar.html' import sidebar_heading %}
{% from 'core_elements/images.html' import safe_image %}

{% block body %}
  <header>
    {% include 'layout/header/global/header.html' %}
    {% include 'layout/header/local/header.html' %}
    {% block subtitle %}
      <div class="local-header subtitle">
        <div class="container">
          {% if page.side_menu %}
          <div class="col-md-9 col-md-offset-3">
          {% else %}
          <div class="col-md-12">
          {% endif %}
            <div class="p-a">
              <h1>{{ page.title }}</h1>
            </div>
          </div>
        </div>
      </div>
    {% endblock %}
    {% set content_columns = 12 %}
    {% if page.side_menu %}
      {% set content_columns = content_columns - 3 %}
    {% endif %}

    {% set sidebar = not not self.sidebar_content() %}

    {% if sidebar %}
      {% set content_columns = content_columns - 3 %}
    {% endif %}
  </header>
  <main class="container">
    <div class="row">
      {% include 'navigation/vertical_menu.html' %}
      <div class="col-md-{{ content_columns }} main-content">
        {% if image %}
          {{ safe_image(image, 'leading') }}
        {% endif %}
        {% block unwrapped_content %}
        {% endblock %}
        {% if self.content() %}
        <div class="p-a">
          {% block content %}{% endblock %}
        </div>
        {% endif %}
      </div>
      {% if sidebar %}
      <div class="col-md-3 sidebar">
        <div class="p-a">
          {% block sidebar_content %}{% if page.type=='page' %}
            {{ sidebar_heading('Sources') }}
            {{ related_links(get_sources_links(page)) }}
          {% endif %}{% endblock %}
        </div>
      </div>
      {% endif %}
    </div>
  </main>
  <footer>
  {% include 'layout/footer/local/footer.html' %}
  {% include 'layout/footer/global/footer.html' %}
  </footer>
{% endblock %}
