{% extends 'layout/page.html' %}

{% block content %}
    {% set article=random_article() %}
    {% set teaser_image=random_image(400) %}

    <script type="text/javascript">
        jQuery(function ($) {
            var te = $("#teaser-example");
            var tm = $('#teaser-media');

            $('#tag').keyup(function () {
                if ($(this).val()) {
                    te.find('.teaser-tag').show().html($(this).val());
                } else {
                    te.find('.teaser-tag').hide();
                }
            });

            $('[name="teasertype"]').change(function () {

                te.find('.teaser-image a').removeClass().addClass('image-wrapper').addClass($(this).data('image-style'));
                te.parent().css('max-width', $(this).data('max-width'));

                var teaser_type = $(this).val();

                te.removeClass().addClass(teaser_type);
                if (teaser_type !== 'focus-on-teaser') {
                    $('.teaser-text').show();
                } else {
                    $('.teaser-text').hide();
                }
                if (teaser_type !== 'promo-teaser') {
                    $('.teaser-title.over').hide();
                    $('.teaser-title.under').show();
                    te.css('border', '');
                } else {
                    $('.teaser-title.under').hide();
                    $('.teaser-title.over').show();
                    te.css('border', '20px solid #f3f3f3');
                }
                if (teaser_type !== 'news-teaser') {
                    $('.teaser-date').hide();
                    tm.show();
                    $('.teaser-tag').css('visibility', 'visible');
                } else {
                    $('.teaser-date').show();
                    tm.hide();
                    $('.teaser-tag').css('visibility', 'hidden');
                }
                if (teaser_type !== 'news-teaser' && teaser_type !== 'focus-on-teaser') {
                    $('#teaser-example-link').show();
                } else {
                    $('#teaser-example-link').hide();
                }
            });

            $('[name="linktype"]').change(function () {
                $('#teaser-example-link').removeClass().addClass($(this).val()).addClass('teaser-link');
            });

            $('[name="mediatype"]').change(function () {
                tm.removeClass();
                if ($(this).val()) {
                    tm.addClass($(this).val());
                }
            });
        });
    </script>

    <h2>Teaser Builder</h2>

    <div class="form-group row">
        <label class="col-sm-2 form-control-label">Teaser:</label>
        <div class="col-sm-10">
            <div class="radio-inline input-btn">
                <input name="teasertype" type="radio" id="vertical-teaser" value="teaser vertical-teaser" checked
                       data-image-style="image-wrapper-square" data-max-width="300px">
                <label class="btn btn-input" for="vertical-teaser">Vertical Teaser</label>
            </div>
            <div class="radio-inline input-btn">
                <input name="teasertype" type="radio" id="horizontal-teaser" value="teaser horizontal-teaser"
                       data-image-style="image-wrapper-square" data-max-width="450px">
                <label class="btn btn-input" for="horizontal-teaser">Horizontal Teaser</label>
            </div>
            <div class="radio-inline input-btn">
                <input name="teasertype" type="radio" id="wide-vertical-teaser" value="teaser wide-vertical-teaser"
                       data-image-style="image-wrapper-teaser-wide" data-max-width="375px">
                <label class="btn btn-input" for="wide-vertical-teaser">Wide Vertical Teaser</label>
            </div>
            <div class="radio-inline input-btn">
                <input name="teasertype" type="radio" id="focus-on-teaser" value="focus-on-teaser"
                       data-image-style="image-wrapper-focuson" data-max-width="450px">
                <label class="btn btn-input" for="focus-on-teaser">Focus On Teaser</label>
            </div>
            <div class="radio-inline input-btn">
                <input name="teasertype" type="radio" id="promo-teaser" value="promo-teaser"
                       data-image-style="image-wrapper-promo" data-max-width="300px">
                <label class="btn btn-input" for="promo-teaser">Focus On Teaser</label>
            </div>
            <div class="radio-inline input-btn">
                <input name="teasertype" type="radio" id="news-teaser" value="news-teaser" data-image-style=""
                       data-max-width="160px;">
                <label class="btn btn-input" for="news-teaser">News Teaser</label>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 form-control-label">Link:</label>
        <div class="col-sm-10">
            <div class="radio-inline input-btn">
                <input name="linktype" type="radio" id="primary" value="btn btn-primary btn-cta" checked>
                <label class="btn btn-input" for="primary">Primary Link</label>
            </div>
            <div class="radio-inline input-btn">
                <input name="linktype" type="radio" id="secondary" value="secondary-cta">
                <label class="btn btn-input" for="secondary">Secondary Link</label>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label for="input" class="col-sm-2 form-control-label">Tag:</label>
        <div class="col-sm-10">
            <input id="tag" class="form-control" type="text" value="">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 form-control-label">Media:</label>
        <div class="col-sm-10">
            <div class="radio-inline input-btn">
                <input name="mediatype" type="radio" id="none" value="" checked>
                <label class="btn btn-input" for="none">None</label>
            </div>
            <div class="radio-inline input-btn">
                <input name="mediatype" type="radio" id="video" value="teaser-image-video">
                <label class="btn btn-input" for="video">Video</label>
            </div>
            <div class="radio-inline input-btn">
                <input name="mediatype" type="radio" id="audio" value="teaser-image-audio">
                <label class="btn btn-input" for="audio">Audio</label>
            </div>
        </div>
    </div>

    <div style="max-width: 300px; margin: 0 auto;">
        <div class="teaser vertical-teaser" id="teaser-example">
            <h3 class="teaser-title over" style="display:none;">
                <a href="{{ article.link }}">
                    {{ article.title }}
                </a>
            </h3>
            <div class="teaser-image">
                <a href="{{ article.link }}" class="image-wrapper image-wrapper-square" id="teaser-example-image">
                    <span class="teaser-tag" style="display:none;"></span>
                    <span id="teaser-media"></span>
                    <img src="{{ teaser_image }}" alt="{{ article.title }}">
                </a>
            </div>
            <div class="teaser-body">
                <h3 class="teaser-title under">
                    <a href="{{ article.link }}">
                        {{ article.title }}
                    </a>
                </h3>
                <span class="teaser-date" style="display:none;">{{ article.date.strftime('%-d %B %Y') }}</span>
                <p class="teaser-text">{{ article.body }}</p>
                <a class="btn btn-primary btn-cta teaser-link" href="{{ article.link }}" id="teaser-example-link">Read
                    more</a>
            </div>
        </div>
    </div>
{% endblock %}
